.k-cascader-dropdown
    width 140px
    height 160px
    .k-arrow
        float right
        height 100%
        &:before
            font-size 16px
    // make the sub-menu position correctly when flip to top
    &.slideup-appear
        transform-origin center top 0
.k-cascader-filterable-dropdown
    em
        font-style normal
        color $danger-color
