@require('../../styles/themes/default.styl')

$cascader-width := unit(140 / $rem, rem)
$cascader-height := unit(160 / $rem, rem)
$cascader-keywords-color := $danger-color
$cascader-loading-margin-top := unit(20 / $rem, rem)
$cascader-arrow-margin-left := unit(8 / $rem, rem)
