@require('../../styles/themes/default.styl')

$cascader-width := unit(140 / 14, rem)
$cascader-height := unit(160 / 14, rem)
$cascader-keywords-color := $danger-color
$cascader-loading-margin-top := unit(20 / 14, rem)
