@require('../../styles/themes/default.styl')

$upload-font-size := unit(12 / 14, rem)
$upload-tip-margin-left := unit(16 / 14, rem)
$upload-tip-color := $light-black
$upload-close-font-size := unit(24 / 14, rem)

// files list
$upload-files-margin-top := unit(16 / 14, rem)
$upload-file-margin := unit(4 / 14, rem) 0
$upload-file-border-radius := $border-radius
$upload-file-bg-color := $bg-color
$upload-file-padding := unit(4 / 14, rem)
$upload-file-icons-top := unit(1 / 14, rem)
$upload-file-icons-right := 0
$upload-file-status-icon-width := unit(16 / 14, rem)
$upload-file-status-icon-color := $success-color
$upload-file-status-icon-margin-left := unit(8 / 14, rem)
$upload-file-status-icon-color := unit(16 / 14, rem)
$upload-file-error-color := $danger-color
$upload-file-error-status-icon-color := $danger-color
$upload-file-name-padding-right := unit(40 / 14, rem)
$upload-file-icon-margin-right := unit(8 / 14, rem)

// drag
$upload-drag-color := $light-black
$upload-drag-border := 1px dashed $border-color
$upload-drag-border-radius := $border-radius
$upload-drag-hover-border-color := $primary-color
$upload-drag-padding := unit(20 / 14, rem) 0 unit(40 / 14, rem) 0
$upload-drag-icon-font-size := unit(80 / 14, rem)
$upload-drag-icon-color := $placeholder-color 
$upload-drag-over-border-color := $primary-color

// gallery
$upload-gallery-width := unit(100 / 14, rem)
$upload-gallery-height := $upload-gallery-width
$upload-gallery-border-radius := $border-radius
$upload-gallery-border := 1px solid $border-color
$upload-gallery-margin := 0 unit(8 / 14, rem) unit(8 / 14, rem) 0
$upload-gallery-padding := unit(8 / 14, rem)
$upload-gallery-bg-color := #fff
$upload-gallery-error-border-color := $danger-color
$upload-gallery-close-icon-top := -(unit(8 / 14, rem))
$upload-gallery-close-icon-right := $upload-gallery-close-icon-top
$upload-gallery-close-icon-font-size := unit(18 / 14, rem)
$upload-gallery-add-border := 1px dashed $border-color
$upload-gallery-add-font-size := unit(44 / 14, rem)
$upload-gallery-add-hover-border-color := $primary-color

// overlap
$upload-overlap-bg-color := rgba(0, 0, 0, .35)
$upload-overlap-color := #fff
$upload-overlap-zoom-icon-font-size := unit(24 / 14, rem)
