@require('../../styles/themes/default.styl')

$select-wrapper-width :=unit(180/14,rem)
$select-wrapper-height :=unit(32/14,rem)
$select-padding :=unit(8/14, rem) unit(8/14,rem)
$select-input-font :=unit(11/14, rem) 
$select-li-margin :=unit(7/14, rem) unit(16/14, rem)
$select-arrow-m-t :=unit(4/14,rem)
$select-icon-m-r :=unit(6/14,rem)
$selected-status :=#57a3f3 
$selected-tag-checked-p :=unit(2/14,rem) unit(3/14,rem)
$selected-tag-checked-border-radius :=unit(3/14,rem)
$selceted-tag-checked-m :=unit(0/14,rem) unit(6/14,rem) unit(1/14,rem) unit(0/14,rem)
$select-max-width :=80%
$select-icon-yes :=unit(10/14,rem)
$select-list-border-t :=unit(0/14,rem)
$select-li-label-m-r :=unit(8/14,rem)
/* $select-icon-border :unit=(5/14,rem) */