@require('../../styles/themes/default.styl')

$tabs-border-bottom := 1px solid $border-color
$tabs-height := unit(59 / 14, rem)
$tabs-padding := 0 unit(8 / 14, rem)
$tabs-margin := 0 unit(10 / 14, rem)
$tabs-color := $text-color

// active
$tabs-active-color := $primary-color
$tabs-highlight-height := unit(2 / 14, rem)
$tabs-highlight-margin-left := -(unit(8 / 14, rem))
$tabs-highlight-bottom := -($tabs-highlight-height / 2)
$tabs-highlight-bg-color := $primary-color

// size
$tab-large-font-size := $large-font-size
$tab-large-height := unit($large-height / 14, rem)
$tab-large-padding := 0 unit(25 / 14, rem)
$tab-small-font-size := $small-font-size 
$tab-small-height := unit($small-height / 14, rem)
$tab-small-padding := 0 unit(15 / 14, rem)
$tab-mini-font-size := $mini-font-size 
$tab-mini-height := unit($mini-height / 14, rem)
$tab-mini-padding := 0 unit(10 / 14, rem)