@require('../../styles/themes/default.styl')

$tabs-border-color := $border-color
$tabs-border-width := 1px
$tabs-border := $tabs-border-width solid $tabs-border-color
$tabs-height := unit($default-height / 14, rem)
$tabs-padding := 0 unit(16 / 14, rem)
$tabs-margin := 0 unit(10 / 14, rem)
$tabs-color := $text-color

// vertical
$tabs-vertical-padding := 0 unit(25 / 14, rem)

// active
$tabs-active-color := $primary-color
$tabs-highlight-height := unit(2 / 14, rem)
$tabs-highlight-bottom := -($tabs-highlight-height / 2)
$tabs-highlight-bg-color := $primary-color

// size
$tabs-large-font-size := $large-font-size
$tabs-large-height := unit($large-height / 14, rem)
$tabs-large-padding := 0 unit(25 / 14, rem)
$tabs-large-close-font-size := unit(24 / 14, rem)
$tabs-small-font-size := $small-font-size 
$tabs-small-height := unit($small-height / 14, rem)
$tabs-small-padding := 0 unit(15 / 14, rem)
$tabs-small-close-font-size := unit(18 / 14, rem)
$tabs-mini-font-size := $mini-font-size 
$tabs-mini-height := unit($mini-height / 14, rem)
$tabs-mini-padding := 0 unit(10 / 14, rem)
$tabs-mini-close-font-size := unit(16 / 14, rem)

// border-card
$tabs-border-card-bg-color := $bg-color

// no-border-card
$tabs-no-border-card-bg-color := #e5e5e5
$tabs-no-border-card-gutter := unit(4 / 14, rem)

