@require('./variables.styl');

.k-pagination
    .pager
        display inline-block
        a
            border $pagination-a-border
            border-radius $pagination-a-border-radius
            padding $pagination-a-padding
            margin-right $pagination-a-margin-right
            font-size $pagination-a-font-size
            font-family: $pagination-a-font-family
            min-width $pagination-a-width
            height $pagination-a-height
            color $pagination-a-color
            display inline-block
            cursor pointer
            text-align center
            vertical-align middle
            &:hover
                border-color $pagination-a-hover-border-color
                color $pagination-a-hover-color
    .k-disabled
        cursor not-allowed !important
        color #d9d9d9 !important
        &:hover
            border-color #d9d9d9 !important
            color #d9d9d9 !important
    .k-active
        background-color $pagination-active-bg-color !important
        border-color $pagination-active-border-color !important
        color: $pagination-active-a-color !important

.k-go
    margin-left $pagination-input-margin-left
    margin-right $pagination-input-margin-right
    background-color $pagination-input-bg-color
    border $pagination-input-border
    border-radius $pagination-input-border-radius
    height $pagination-input-height
    width $pagination-input-width
    text-align center
    //outline 0
    //padding 0
.k-drop
    display: inline-block
