@require('./variables.styl');

.k-pagination
    font-size $pagination-font-size
    .k-limits
    .k-goto
    .k-total
        margin-left $pagination-gutter
        display inline-block
        vertical-align middle
    .k-btns
        .k-btn
            if $pagination-btn-border-radius != 0
                border-radius $pagination-btn-border-radius !important
            if $pagination-btn-margin-right != 0
                margin-right $pagination-btn-margin-right
                &:last-of-type
                    margin 0 !important

    // goto   
    .k-goto
        .k-input
            font-size inherit
            width $pagination-goto-width
            margin $pagination-goto-margin 

    .k-select
        width auto

    // size 
    for size in large small mini
        &.k-{size}
            font-size lookup('$pagination-' + size + '-font-size')
            if lookup('$pagination-' + size + '-btn-margin-right') != 0
                .k-btns
                    .k-btn
                        margin-right lookup('$pagination-' + size + '-btn-margin-right')

    // noBorder
    &.k-no-border
        .k-select
            &
            &:hover
            &.k-show
                .k-wrapper
                    border-color transparent
    // simple
    &.k-simple
        .k-btns
            .k-btn
                margin 0
            .k-input
                .k-inner
                    text-align center
        .k-text
            vertical-align middle

requireTheme('pagination')
