@require('../../styles/themes/default.styl')

$pagination-input-width := 50px
$pagination-input-height := 36px
$pagination-input-margin-left := unit(10 / 14, em)
$pagination-input-margin-right := unit(10 / 14, em)


$pagination-input-bg-color := #ffffff
$pagination-input-border := 1px solid #d9d9d9
$pagination-input-border-radius := 4px

$pagination-font-size := 1rem
$pagination-gutter := unit(20 / 14, em)

// page btn
$pagination-page-border := 1px solid $border-color 
$pagination-page-border-radius := $border-radius 
$pagination-page-margin-right := unit(10 / 14, em) 
$pagination-page-width := unit($default-height / 14, em)
$pagination-page-height := unit($default-height / 14, em)

// page hover
$pagination-page-hover-border-color := $primary-color 
$pagination-page-hover-color := $primary-color 

// page active
$pagination-page-active-bg-color := $primary-color
$pagination-page-active-border-color := $primary-color 
$pagination-page-active-color := #fff

// page disabled
$pagination-page-disabled-border-color := $disabled-border-color
$pagination-page-disabled-color := $disabled-color

// small size
$pagination-small-font-size := unit(12 / 14, rem)

// mini size
$pagination-mini-font-size := unit(12 / 14, rem)
$pagination-mini-page-height := unit($mini-height / 12, em)
$pagination-mini-page-width := $pagination-mini-page-height
$pagination-mini-page-margin-right := unit(5 / 12, em) 

// goto
$pagination-goto-width := unit(60 / 14, em)
$pagination-goto-margin := 0 unit(10 / 14, em)
