@require('../../styles/themes/default.styl')

$pagination-font-size := $default-font-size
$pagination-gutter := unit(20 / $rem, rem)

$pagination-btn-border-radius := $border-radius
$pagination-btn-margin-right := unit(10 / $rem, rem)

// size
$pagination-large-font-size := $large-font-size
$pagination-large-btn-margin-right := $pagination-btn-margin-right 
$pagination-small-font-size := $small-font-size
$pagination-small-btn-margin-right := unit(5 / $rem, rem)
$pagination-mini-font-size := $mini-font-size
$pagination-mini-btn-margin-right := $pagination-small-btn-margin-right 

// goto
$pagination-goto-width := unit(60 / $rem, rem)
$pagination-goto-margin := 0 unit(10 / $rem, rem)
