@require('../../styles/themes/default.styl')

$pagination-input-width := unit(46 / 14, em)
$pagination-input-height := unit(32 / 14, em)
$pagination-input-margin-left := unit(10 / 14, em)


$pagination-input-bg-color := #ffffff
$pagination-input-border-color := #d9d9d9
$pagination-active-bg-color := #595959
$pagination-active-border-color := #595959
// FIXME: $fff? #fff? 看来这个值没用到，没用到不要冗余
$pagination-active-color := $fff
