.example.index-191
    .logo
        height 30px
        line-height 30px
        text-align center
        color #fff
        background gray
        margin 17px 20px
        transition all .25s ease-in-out
    .k-breadcrumb
        margin 20px 0
    .k-aside.k-collapsed
        .logo
            margin 17px 5px