@require('../../styles/themes/default.styl')

$spin-width := unit(40 / $rem, rem)
$spin-color := $primary-color
$spin-stroke-width := 6

// size
$spin-large-width := unit(48 / $rem, rem)
$spin-small-width := unit(32 / $rem, rem)
$spin-mini-width := unit(24 / $rem, rem)
