@require('../../styles/themes/default.styl')

$spin-width := unit(40 / 14, rem)
$spin-color := $primary-color
$spin-stroke-width := 6

// size
$spin-large-width := unit(48 / 14, rem)
$spin-small-width := unit(32 / 14, rem)
$spin-mini-width := unit(24 / 14, rem)
