.k-tabs {
  border-bottom: 1px solid #cad0dd;
}
.k-tabs .k-tab {
  height: 4.214285714285714rem;
  line-height: calc(4.214285714285714rem - 2px);
  padding: 0 0.571428571428571rem;
  margin: 0 0.714285714285714rem;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  color: #595959;
  position: relative;
  vertical-align: middle;
}
.k-tabs .k-tab.k-active {
  color: #0a5eee;
}
.k-tabs .k-tab.k-active:after {
  content: '';
  display: block;
  position: absolute;
  height: 0.142857142857143rem;
  width: 100%;
  background: #0a5eee;
  margin-left: -0.571428571428571rem;
  bottom: -0.071428571428571rem;
}
