@require('../../styles/themes/default.styl')

$scroll-select-height := unit(125 / 14, rem)
$scroll-select-item-height := unit(25 / 14, rem)
$scroll-select-item-color := $disabled-color
$scroll-select-item-active-color := $primary-color
$scroll-select-item-active-font-size := 1.1em
$scroll-select-item-disabled-color := lighten($scroll-select-item-color, 50%)
