.k-message
    font-size 12px
    > .k-container
        width 380px
        text-align left
        position relative
        > .k-icon
            display none
        > .k-close
            position absolute
            right 0
            top 0
            height 33px
            width 33px
            line-height 31px
    for type in danger success warning
        &.k-{type}
            > .k-container
                color #fff
                background lookup('$' + type + '-color')
                > .k-close
                    color #fff
