@require('./variables.styl');

.k-spinner
    display inline-block
    .k-btn
        // vertical-align middle
        &:hover
            z-index 1
            position relative
    .k-left
        border-top-right-radius 0
        border-bottom-right-radius 0
        margin-right -1px
    .k-right
        border-top-left-radius 0
        border-bottom-left-radius 0
        margin-left -1px
    .k-input
        width $spinner-input-width
        vertical-align top
    .k-inner
        text-align center
        padding 0


@import $theme-dir + '/spinner.styl' if exists($theme-dir + '/spinner.styl') 
