@require('../../styles/themes/default.styl')

$message-top := unit(10 / 14, rem)
$message-transform := translateY(-(unit(10 / 20, rem)))
$message-bg-color := #fff
$message-border-radius := unit(4 / 14, rem)
$message-margin-bottom := unit(10 / 14, rem)

// icon
$message-icon-padding-left := unit(10 / 14, rem)
$message-icon-font-size := unit(18 / 14, rem)

// content
$message-content-padding := unit(10 / 14, rem)

// close button
$message-close-font-size := unit(24 / 14, rem)
