@require('../../styles/themes/default.styl')

$message-top := unit(10 / $rem, rem)
$message-transform := translateY(-(unit(10 / $rem, rem)))
$message-bg-color := #fff
$message-border-radius := $border-radius
$message-margin-bottom := unit(10 / $rem, rem)
$message-box-shadow := $box-shadow
$message-icon-color := $primary-color
$message-min-height := unit(34 / $rem, rem)

// icon
$message-icon-font-size := unit(18 / $rem, rem)
$message-icon-left := unit(10 / $rem, rem)
$message-icon-top := unit(8 / $rem, rem)

// content
$message-content-padding := unit(10 / $rem, rem)

// close button
$message-close-font-size := unit(24 / $rem, rem)

// type
$message-danger-color := $danger-color
$message-success-color := $success-color
$message-warning-color := $warning-color
