@require('../../styles/themes/default.styl')

.col
    height 36px
    line-height 36px
    text-align center
    color #fff
    &:nth-child(odd)
        background $primary-color
    &:nth-child(even)
        background lighten($primary-color, 20%)
