@require('../../styles/mixin.styl');

.k-row
    display block
    clearfix()

for col in (1..24)
    .k-{col}
        width percentage(col / 24)
        float left
    .k-offset-{col}
        margin-left percentage(col / 24)
