@require('../../styles/themes/default.styl')
json("./mediaQuery.json")

// responsive
$sm-min-width = smMinWidth
$md-min-width = mdMinWidth
$lg-min-width = lgMinWidth
$xl-min-width = xlMinWidth
$xxl-min-width = xxlMinWidth
