@require('./variables.styl')

.k-progress
    position relative
    line-height 1
    .progress-bar
        padding-right $progress-padding-right
        display inline-block
        vertical-align middle
        width: 100%
        margin-right $progress-margin-right
        box-sizing border-box
        .progress-bar-container
            height 6px
            border-radius 100px
            background-color #e4e8f1
            overflow hidden
            position relative
            vertical-align middle

