@require('../../styles/themes/default.styl')

$progress-padding-right := 50px;
$progress-margin-right := -60px;
$progress-bgcolor := #CAD0DD;
$progress-content-bgcolor := #0A5EEE;
$progress-font-color := #404040;
$progress-bgcolor-success := #4DB500;
$progress-bgcolor-error := #D0021B
$progress-height := 14px;
$progress-innertext-font-size := 12px;
$progress-innertext-margin := 1px 3px;
$progress-mini-height := 4px;
$progress-small-height := 8px
$progress-mini-font-size := 2px;
$progress-small-font-size := 6px;
$progress-default-circle := 120px;
$progress-small-circle := 80px;
$progress-mini-circle := 40px;
