@require('../../styles/themes/default.styl')

// define stoke color
$progress-normal-color := $primary-color
$progress-success-color := $success-color
$progress-error-color := $danger-color
$progress-stroke-color := #eaeef2

// animation
$progress-transition := all .6s ease

// bar
$progress-font-color := #404040
$progress-height := unit(16 / 14, rem)
$progress-innertext-font-size := unit(12 / 14, rem)
$progress-innertext-margin := unit(1 / 14, rem) unit(3 / 14, rem);
$progress-innertext-padding-right := unit(10 / 14, rem)
$progress-small-height := unit(10 / 14, rem)
$progress-small-font-size := unit(12 / 14, rem)
$progress-mini-font-size := unit(12 / 14, rem)
$progress-mini-height := unit(4 / 14, rem)
$progress-text-width := unit(40 / 14, rem)
$progress-text-margin-left := unit(16 / 14, rem)

// circle
$progress-circle-width := unit(104 / 14, rem)
$progress-circle-small-width := unit(80 / 14, rem)
$progress-circle-mini-width := unit(40 / 14, rem) 

$progress-circle-font-size := unit(16 / 14, rem) 
$progress-circle-small-font-size := unit(14 / 14, rem) 
$progress-circle-mini-font-size := unit(12 / 14, rem) 
