@require('../../styles/themes/default.styl')

// define stoke color
$progress-normal-color := $primary-color
$progress-success-color := $success-color
$progress-error-color := $danger-color
$progress-stroke-color := #eaeef2

// animation
$progress-transition := all .6s ease

// bar
$progress-padding-right := 50px;
$progress-margin-right := -60px;
$progress-font-color := #404040;
$progress-height := 14px;
$progress-innertext-font-size := 12px;
$progress-innertext-margin := 1px 3px;
$progress-mini-height := 4px;
$progress-small-height := 8px
$progress-mini-font-size := 2px;
$progress-small-font-size := 6px;

// circle
$progress-circle-width := unit(120 / 20, em)
$progress-circle-small-width := unit(80 / 16, em)
$progress-circle-mini-width := unit(40 / 12, em) 

$progress-circle-font-size := unit(20 / 14, rem) 
$progress-circle-small-font-size := unit(16 / 14, rem) 
$progress-circle-mini-font-size := unit(12 / 14, rem) 
