@require('../../../../styles/themes/default.styl')

.palette
    .color-block
        width 100px
        height 100px
        float left
        text-align center
        line-height 50px
        cursor pointer
        transition all $transition
        &:hover
            position relative
            z-index 1
            height 110px
            margin-top -10px
            border-radius 2px 2px 0 0
    .index
        font-size 20px
    .k-input
        width 150px
        margin-top 16px

