bower_components/
node_modules/
.idea/
npm-debug*.log
lerna-debug.log
*.swp
log/
.log
test/coverage
.dev/
site/.dist/
*hot-update.js*
@*
.cache
out/
site/dist/
site/data/
dist
.vscode/

packages/kpc-vue/components
packages/kpc-vue/i18n
packages/kpc-vue/styles
packages/kpc-vue/index*
packages/kpc-vue/hooks

packages/kpc-vue-next/components
packages/kpc-vue-next/i18n
packages/kpc-vue-next/styles
packages/kpc-vue-next/index*
packages/kpc-vue-next/hooks

packages/kpc-react/components
packages/kpc-react/i18n
packages/kpc-react/styles
packages/kpc-react/index*
packages/kpc-react/hooks

packages/kpc-angular/@css
packages/kpc-angular/@stylus
packages/kpc-angular/kpc
packages/kpc-angular/node_modules
packages/kpc-angular/index.ts
packages/kpc-angular/components
packages/kpc-angular/hooks

~*

.DS_Store

es/
build/
