bower_components/
node_modules/
.idea/
npm-debug*.log
*.swp
log/
.log
test/coverage
.dev/
site/.dist/
*hot-update.js*
@*
.cache
out/
site/dist/
dist
.vscode/

packages/kpc-angular/@css
packages/kpc-angular/@stylus
packages/kpc-angular/kpc
packages/kpc-angular/node_modules
packages/kpc-angular/index.ts
packages/kpc-angular/components
~*
