bower_components/
node_modules/
.idea/
npm-debug*.log
*.swp
log/
.log
test/coverage
.dev/
site/.dist/
*hot-update.js*
@*
.cache
out/
site/dist/
dist/
.vscode/

packages/angular/@css
packages/angular/@stylus
packages/angular/kpc
packages/angular/node_modules
packages/angular/index.ts
packages/angular/components
~*
