@require('./variables.styl')

.k-tree-select-dropdown
    max-height 400px
    padding 3px 6px
    transition top $transition
    .k-label
        display flex
        margin 3px 0
    .k-text
        flex 1
