@require('../../styles/themes/default.styl')

$tree-select-dropdown-max-height := unit(400 / $rem, rem)
$tree-select-dropdown-padding := unit(3 / $rem, rem) unit(6 / $rem, rem)
$tree-select-dropdown-label-display := flex
$tree-select-dropdown-margin := unit(3 / $rem, rem) 0
$tree-select-dropdown-text-flex := 1
