@require('../../styles/themes/default.styl')

$card-border := 1px solid #e5e5e5
$card-padding := unit(16 / $rem, rem)
$card-box-shadow := 0 0 20px 0 rgba(0, 0, 0, .06)
$card-header-height := unit(48 / $rem, rem)
$card-header-font-size := unit(16 / $rem, rem)
$card-bg-color := #fff
