@require('./variables.styl')

.k-input
    font-size $input-font-size
    display inline-block
    width $input-width
    vertical-align middle
    .k-wrapper
        display inline-block
        width 100%
        position relative
    .k-inner
        display inline-block
        width 100%
        font-size $input-font-size
        height $input-height
        border $input-border 
        padding $input-padding
        background-color $input-bg-color 
        transition border $transition, background $transition, box-shadow $transition 
        outline none
        &:focus
            border $input-focus-border
    // fluid
    &.k-fluid
        width 100%

    // textarea
    .k-textarea
        padding $input-textarea-padding
        height auto
        line-height 1.5

    // prefix & suffix
    &.k-with-prefix
        .k-inner
            padding-left $input-prefix-padding 
    &.k-with-suffix
    &.k-clearable
        .k-inner
            padding-right $input-suffix-padding 
    .k-prefix
    .k-suffix
        position absolute
        top 50%
        transform translateY(-50%)
    .k-prefix
        left ($input-prefix-padding / 3)
    .k-suffix
        right ($input-suffix-padding / 3)

    // clearable
    .k-clear
        cursor pointer
        opacity 0
        transition opacity $transition
        pointer-events none
        &:hover
            color $primary-color
    &.k-with-suffix
        .k-clear
            margin-right $input-clear-margin-right
    &.k-with-suffix.k-clearable
        .k-inner
            padding-right $input-suffix-padding + $input-clear-margin-right * 3
    .k-inner:focus + .k-suffix .k-clear.k-show
    &:hover .k-clear.k-show
        opacity 1
        pointer-events all


    // group
    &.k-group
        display table
    .k-prepend
    .k-append
        display table-cell
        width 1px
        vertical-align middle
        background $input-group-bg-color 
        border $input-border
        text-align center
        .k-btn
            margin -1px 0
            border-radius 0
    > .k-padding
        padding 0 $input-group-padding-horizontal
    .k-prepend
        border-right none
        white-space nowrap
    .k-append
        border-left none
        white-space nowrap

    // disabled
    &.k-disabled
        color $input-disabled-color
        cursor not-allowed
        .k-inner
            color $input-disabled-color
            border-color $input-disabled-border-color
            background $input-disabled-bg-color
            cursor not-allowed
    
    // size
    for size in large small mini
        &.k-{size}
            font-size lookup('$input-' + size + '-font-size')
            .k-inner
                height lookup('$input-' + size + '-height')
                font-size lookup('$input-' + size + '-font-size')

    // fake dom for get value's width
    .k-fake
        position absolute
        visibility hidden
        top 0
        white-space nowrap
    &.k-auto-width
        width auto
        .k-inner
            box-sizing content-box

@import $theme-dir + '/input.styl' if exists($theme-dir + '/input.styl') 
