<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>输入框</title>
    <link rel="stylesheet" href="/kpc/theme-kpc.css" />
</head>
<body>
    
    
    <div id="page"><div class="k-app">
    <div class="main-wrapper document-page fixed-aside"><div class="header-wrapper"><header><a class="logo" href="/">KPC</a><div class="right"><nav><a class="" href="/kpc/docs/design/language/">设计语言</a><a class="active" href="/kpc/docs/getting-started/">教程</a><a class="" href="/kpc/docs/blogs/design/">Blog</a><div class="border"></div></nav><span class="label">切换主题：</span><div class="k-select k-has-value" style="width:100px;" tabindex="0"><div class="k-wrapper" tabindex="-1" _hasSaved><input type="hidden" value="kpc" /><span class="k-value c-ellipsis">default</span><span class="k-suffix"><i class="k-arrow ion-arrow-down-b"></i></span></div><!--MoveWrapper--></div></div></header></div><div class="content-wrapper"><aside><div class="aside-wrapper"><div class="catalog-section"><ul><li>
                <!---->
                <a href="/kpc/docs/getting-started/">
                    <!---->快速开始<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/theme/">
                    <!---->定制主题<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/vue/">
                    <!---->Vue中使用<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/i18n/">
                    <!---->国际化<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/icon/">
                    <!---->字体icon<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/changelog/">
                    <!---->更新日志<!---->
                </a></li></ul></div><div class="catalog-section"><h5>组件</h5><ul><li>
                <!---->
                <a href="/kpc/components/button/">
                    <!---->Button<span>按钮</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/badge/">
                    <!---->Badge<span>徽标</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/grid/">
                    <!---->Grid<span>栅格</span>
                </a></li><li class="active">
                <!---->
                <a href="/kpc/components/input/">
                    <!---->Input<span>输入框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/radio/">
                    <!---->Radio<span>单选框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/checkbox/">
                    <!---->Checkbox<span>复选框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/select/">
                    <!---->Select<span>选择框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/cascader/">
                    <!---->Cascader<span>级联选择</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/spinner/">
                    <!---->Spinner<span>数字输入框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/datepicker/">
                    <!---->Datepicker<span>日期选择</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/slider/">
                    <!---->Slider<span>滑块</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/form/">
                    <!---->Form<span>表单</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/dialog/">
                    <!---->Dialog<span>弹窗</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/dropdown/">
                    <!---->Dropdown<span>下拉菜单</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/message/">
                    <!---->Message<span>全局提示</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/tooltip/">
                    <!---->Tooltip<span>提示弹层</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/progress/">
                    <!---->Progress<span>进度条</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/steps/">
                    <!---->Steps<span>步骤条</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/breadcrumb/">
                    <!---->Breadcrumb<span>面包屑</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/switch/">
                    <!---->Switch<span>开关</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/pagination/">
                    <!---->Pagination<span>分页</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/tag/">
                    <!---->Tag<span>标签</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/table/">
                    <!---->Table<span>表格</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/collapse/">
                    <!---->Collapse<span>折叠面板</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/tabs/">
                    <!---->Tabs<span>选项卡</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/transfer/">
                    <!---->Transfer<span>穿梭框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/editable/">
                    <!---->Editable<span>可编辑文本</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/upload/">
                    <!---->Upload<span>上传</span>
                </a></li></ul></div><div class="aside-border transition"></div></div></aside><article><div class="article-head"><div class="title">输入框</div><div class="edit-link">
                    如果你发现文档有问题，请帮忙在
                    <a target="_blank" href="https://github.com/ksc-fe/kpc/blob/master/components/input/index.md">github</a>
                    上修正该文档
                </div></div><div class="contents"><div><h1>示例</h1>
        <div class="example index-33"><div class="example-opera"><div><div class="k-input" style="">
    <!---->
    <div class="k-wrapper"><input class="k-inner" type="text" placeholder="please enter" /></div>
    <!---->
</div> <!---->
    <br /><div class="k-input k-disabled" style="">
    <!---->
    <div class="k-wrapper"><input class="k-inner" type="text" placeholder="disabled" disabled /></div>
    <!---->
</div></div></div><div class="example-desc"><div class="title">基础用法</div><div class="desc"><p>使用<code>v-model</code>绑定输入的值，<code>disabled</code>来禁用组件</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
    <div class="k-active-bar" style=""></div></div><div class="code"></div></div></div><div class="example index-61"><div class="example-opera"><div><div class="k-input k-group" style="">
    <div class="k-prepend k-padding">http://</div>
    <div class="k-wrapper"><input class="k-inner" type="text" placeholder="please enter" /></div>
    <div class="k-append k-padding">.com</div>
</div><div class="k-input k-group" style="">
    <!---->
    <div class="k-wrapper"><input class="k-inner" type="text" placeholder="please enter" /></div>
    <div class="k-append"><button class="k-btn k-none k-btn-icon" tabindex="0" type="button">
    <i class="ion-ios-search"></i>
    </button></div>
</div><div class="k-input k-group" style="">
    <!---->
    <div class="k-wrapper"><input class="k-inner" type="text" placeholder="please enter" /></div>
    <div class="k-append"><button class="k-btn k-primary k-btn-icon" tabindex="0" type="button">
    <i class="ion-ios-search"></i>
    </button></div>
</div><div class="k-input k-group" style="">
    <!---->
    <div class="k-wrapper"><input class="k-inner" type="text" placeholder="please enter" /></div>
    <div class="k-append"><button class="k-btn k-primary" tabindex="0" type="button">
    <span>搜索</span>
    </button></div>
</div><div class="k-input k-with-prefix k-with-suffix" style="">
    <!---->
    <div class="k-wrapper"><div class="k-prefix"><i class="ion-earth"></i></div><input class="k-inner" type="text" placeholder="please enter" /><div class="k-suffix"><i class="ion-ios-search"></i></div></div>
    <!---->
</div><div class="k-input k-group k-with-prefix k-with-suffix" style="">
    <div class="k-prepend k-padding">http://</div>
    <div class="k-wrapper"><div class="k-prefix"><i class="ion-earth"></i></div><input class="k-inner" type="text" placeholder="please enter" /><div class="k-suffix"><i class="ion-ios-search"></i></div></div>
    <div class="k-append k-padding">.com</div>
</div></div></div><div class="example-desc"><div class="title">追加内容</div><div class="desc"><p>使用<code>append</code>，<code>prepend</code>，<code>suffix</code>，<code>prefix</code>扩展点，可以往组件追加内容</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
    <div class="k-active-bar" style=""></div></div><div class="code"></div></div></div><div class="example index-69"><div class="example-opera"><div><div class="k-input k-group" style="width:500px;">
    <div class="k-prepend"><div class="k-select k-has-value" style="width:110px;" tabindex="0"><div class="k-wrapper" tabindex="-1" _hasSaved><input type="hidden" value="http" /><span class="k-value c-ellipsis">http://</span><span class="k-suffix"><i class="k-arrow ion-arrow-down-b"></i></span></div><!--MoveWrapper--></div></div>
    <div class="k-wrapper"><input class="k-inner" type="text" /></div>
    <div class="k-append"><div class="k-select k-has-value" style="width:90px;" tabindex="0"><div class="k-wrapper" tabindex="-1" _hasSaved><input type="hidden" value="com" /><span class="k-value c-ellipsis">.com</span><span class="k-suffix"><i class="k-arrow ion-arrow-down-b"></i></span></div><!--MoveWrapper--></div></div>
</div></div></div><div class="example-desc"><div class="title">与Select组合</div><div class="desc"><p>通过前面介绍的扩展点，我们可以与<code>Select</code>进行组合</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
    <div class="k-active-bar" style=""></div></div><div class="code"></div></div></div><div class="example index-73"><div class="example-opera"><div><div class="k-input k-large" style="">
    <!---->
    <div class="k-wrapper"><input class="k-inner" type="text" value="large" /></div>
    <!---->
</div><br /><div class="k-input" style="">
    <!---->
    <div class="k-wrapper"><input class="k-inner" type="text" value="default" /></div>
    <!---->
</div><br /><div class="k-input k-small" style="">
    <!---->
    <div class="k-wrapper"><input class="k-inner" type="text" value="small" /></div>
    <!---->
</div><div class="k-input k-small k-group" style="">
    <div class="k-prepend k-padding">http://</div>
    <div class="k-wrapper"><input class="k-inner" type="text" placeholder="please enter" /></div>
    <div class="k-append k-padding">.com</div>
</div><div class="k-input k-small k-group k-with-prefix k-with-suffix" style="">
    <!---->
    <div class="k-wrapper"><div class="k-prefix"><i class="ion-earth"></i></div><input class="k-inner" type="text" placeholder="please enter" /><div class="k-suffix"><i class="ion-ios-search"></i></div></div>
    <div class="k-append"><button class="k-btn k-primary k-btn-icon k-small" tabindex="0" type="button">
    <i class="ion-ios-search"></i>
    </button></div>
</div><div class="k-input k-small k-group k-clearable" style="">
    <!---->
    <div class="k-wrapper"><input class="k-inner" type="text" placeholder="please enter" /><div class="k-suffix"><i class="k-clear k-icon ion-ios-close"></i></div></div>
    <div class="k-append"><button class="k-btn k-primary k-small" tabindex="0" type="button">
    <span>Search</span>
    </button></div>
</div><div class="k-input k-mini" style="">
    <!---->
    <div class="k-wrapper"><input class="k-inner" type="text" value="mini" /></div>
    <!---->
</div></div></div><div class="example-desc"><div class="title">尺寸</div><div class="desc"><p>添加<code>size</code>属性，定义如下尺寸：<code>large</code>, <code>default</code>，<code>small</code>，<code>mini</code></p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
    <div class="k-active-bar" style=""></div></div><div class="code"></div></div></div><div class="example index-116"><div class="example-opera"><div><div class="k-input" style="">
    <!---->
    <div class="k-wrapper"><textarea class="k-inner k-textarea" placeholder="please enter" rows="2"></textarea></div>
    <!---->
</div><br /><div class="k-input" style="">
    <!---->
    <div class="k-wrapper"><textarea class="k-inner k-textarea" placeholder="please enter" rows="5"></textarea></div>
    <!---->
</div></div></div><div class="example-desc"><div class="title">textarea文本框</div><div class="desc"><p>指定<code>type</code>为<code>textarea</code>渲染成文本框，同时可以用<code>rows</code>来指定展示的行数</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
    <div class="k-active-bar" style=""></div></div><div class="code"></div></div></div><div class="example index-125"><div class="example-opera"><div><div class="k-input k-clearable" style="">
    <!---->
    <div class="k-wrapper"><input class="k-inner" type="text" placeholder="please enter" /><div class="k-suffix"><i class="k-clear k-icon ion-ios-close"></i></div></div>
    <!---->
</div><br /><div class="k-input k-with-suffix k-clearable" style="">
    <!---->
    <div class="k-wrapper"><input class="k-inner" type="text" placeholder="please enter" /><div class="k-suffix"><i class="k-clear k-icon ion-ios-close"></i><i class="ion-ios-search"></i></div></div>
    <!---->
</div></div></div><div class="example-desc"><div class="title">可清除</div><div class="desc"><p>指定<code>clearable</code>可以展示快速清除按钮</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
    <div class="k-active-bar" style=""></div></div><div class="code"></div></div></div><div class="example index-135"><div class="example-opera"><div class="k-input k-auto-width" style="">
    <!---->
    <div class="k-wrapper"><input class="k-inner" type="text" placeholder="auto width" /><div class="k-fake">auto width</div></div>
    <!---->
</div></div><div class="example-desc"><div class="title">自动宽度</div><div class="desc"><p>指定<code>autoWidth</code>可以让输入框宽度随文本长度变化而变化</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
    <div class="k-active-bar" style=""></div></div><div class="code"></div></div></div>
    </div><div class="api">
        <div><h1 id='header-%E5%B1%9E%E6%80%A7'>属性</h1><div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>属性</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
                        <tbody><tr>
<td>type</td>
<td>在原生<code>input</code>标签的<code>type</code>取值的基础上扩展了<code>textarea</code>值,当我改值时渲染成<code>textarea</code></td>
<td><code>String</code></td>
<td><code>&quot;text&quot;</code></td>
</tr>
<tr>
<td>name</td>
<td>原生<code>input</code>标签的<code>name</code>属性</td>
<td><code>String</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>value</td>
<td>输入框的值,可用<code>v-model</code>进行双向绑定</td>
<td><code>String</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>defaultValue</td>
<td><code>input</code>的<code>defaultValue</code>，首次渲染使用该值</td>
<td><code>String</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>placeholder</td>
<td>占位文案</td>
<td><code>String</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>readonly</td>
<td>是否只读</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>clearable</td>
<td>是否展示快速清除按钮</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>disabled</td>
<td>是否禁用</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>size</td>
<td>组件尺寸</td>
<td><code>&quot;large&quot;</code> &#124; <code>&quot;default&quot;</code> &#124; <code>&quot;small&quot;</code> &#124; <code>&quot;mini&quot;</code></td>
<td><code>&quot;default&quot;</code></td>
</tr>
<tr>
<td>rows</td>
<td>当<code>type = &quot;textarea&quot;</code>时，默认展示文本行数</td>
<td><code>Number</code> &#124; <code>String</code></td>
<td><code>2</code></td>
</tr>
<tr>
<td>spellcheck</td>
<td><code>textarea</code>是否进行拼写检查</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>fluid</td>
<td>是否宽度100%</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>autoWidth</td>
<td>是否宽度随输入的文本的长度变化而变化</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>width</td>
<td>指定宽度，组件会加上单位<code>px</code></td>
<td><code>String</code>  &#124; <code>Number</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>tabindex</td>
<td>原生<code>tabindex</code>属性</td>
<td><code>String</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>autocomplete</td>
<td>原生<code>autocomplete</code>属性</td>
<td><code>String</code></td>
<td><code>undefined</code></td>
</tr>
</tbody>
                    </table>
                </div><h1 id='header-%E6%89%A9%E5%B1%95%E7%82%B9'>扩展点</h1><div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>名称</th>
<th>说明</th>
</tr>
</thead>
                        <tbody><tr>
<td>prepend</td>
<td>往<code>input</code>前面追加内容</td>
</tr>
<tr>
<td>append</td>
<td>往<code>input</code>后面追加内容</td>
</tr>
<tr>
<td>prefix</td>
<td>往<code>input</code>头部追加前缀</td>
</tr>
<tr>
<td>suffix</td>
<td>往<code>input</code>尾部追加后缀</td>
</tr>
</tbody>
                    </table>
                </div><h1 id='header-%E4%BA%8B%E4%BB%B6'>事件</h1><div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>事件名</th>
<th>说明</th>
<th>参数</th>
</tr>
</thead>
                        <tbody><tr>
<td>clear</td>
<td>点击清除按钮时触发</td>
<td>-</td>
</tr>
</tbody>
                    </table>
                </div></div>
    </div></div></article><ul class="table-of-contents"></ul></div></div>
    </div></div>
    <script src="/kpc/static/client.js" type="text/javascript"></script>
</body>
</html>