@require('../../styles/themes/default.styl')

$input-font-size := $default-font-size
$input-height := unit($default-height / 14, rem)
$input-width := unit(300 / 14, rem)
$input-border := 1px solid $border-color
$input-padding := 0 unit(10 / 14, rem) 
$input-bg-color := #fff
$input-focus-border := 1px solid $primary-color

// textarea
$input-textarea-padding := unit(5 / 14, rem) unit(10 / 14, rem)

// group
$input-group-bg-color := #eee
$input-group-padding-horizontal := unit(7 / 14, em)

// prefix & suffix
$input-prefix-padding := unit(30 / 14, rem)
$input-suffix-padding := unit(30 / 14, rem)

// clearable
$input-clear-margin-right := unit(5 / 14, rem)

// disabled
$input-disabled-border-color := $disabled-border-color
$input-disabled-color := $disabled-color
$input-disabled-bg-color := $disabled-bg-color

// size
$input-large-font-size := $large-font-size 
$input-large-height := unit($large-height / 14, rem)
$input-small-font-size := $small-font-size 
$input-small-height := unit($small-height / 14, rem)
$input-mini-font-size := $mini-font-size 
$input-mini-height := unit($mini-height / 14, rem)

