.k-message
    font-size 12px
    color $ghost-text-color
    > .k-container
        min-width 400px
        max-width 700px
        position relative
        text-align left
        border 1px solid $border-color
        > .k-close
            position absolute
            right 0
            top 0
    for type in danger success warning
        &.k-{type}
            > .k-container
                color lookup('$' + type + '-color')
                background palette(lookup('$' + type + '-color'), -4)
                border-color @color
                > .k-close
                    color lookup('$' + type + '-color')
                    &:hover
                        color palette(lookup('$' + type + '-color'), 1)
