.k-table
    thead
        line-height 1.15
        tr
            height 30px
    th:before
        content ''
        height 12px
        position absolute
        background-color #bfbfbf
        width 1px
        left 1px
        top 9px
    th:first-of-type:before
        display none
    // type: grid
    &.k-grid
        th:before
            display none
    .k-group
        .k-arrow
            border 1px solid #ccc
            border-radius 2px
            background #fff
            height 14px
            width 14px
            position relative
            transition none
            &:before
                display none
            &:after
                content ''
                border 4px solid transparent
                border-color #a6a6a6 transparent
                border-bottom-width 0
                position absolute
                top 4px
                left 2px
                transition transform $transition
    .k-group-show
        .k-group
            .k-arrow
                transform none
                &:after
                    transform rotate(180deg)

