<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>弹窗</title>
    <link rel="stylesheet" href="/kpc/theme-kpc.css" />
</head>
<body>
    
    
    <div id="page"><div class="k-app">
    <div class="main-wrapper document-page"><div class="header-wrapper"><header><a class="logo" href="/">KPC</a><div class="right"><nav><a class="active" href="/kpc/docs/getting-started/">教程</a><div class="border"></div></nav><span class="label">切换主题：</span><div class="k-select k-active" style="width:100px;" tabindex="0"><div class="k-wrapper" tabindex="-1" _hasSaved><input type="hidden" value="kpc" /><span class="k-value c-ellipsis">default</span><span class="k-suffix"><i class="k-arrow ion-arrow-down-b"></i></span></div><!--MoveWrapper--></div></div></header></div><div class="content-wrapper"><aside><div class="aside-wrapper"><div class="catalog-section"><ul><li>
                <!---->
                <a href="/kpc/docs/getting-started/">
                    <!---->快速开始<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/vue/">
                    <!---->Vue中使用<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/theme/">
                    <!---->定制主题<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/i18n/">
                    <!---->国际化<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/icon/">
                    <!---->字体icon<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/changelog/">
                    <!---->更新日志<!---->
                </a></li></ul></div><div class="catalog-section"><h5>组件</h5><ul><li>
                <!---->
                <a href="/kpc/components/button/">
                    <!---->Button<span>按钮</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/grid/">
                    <!---->Grid<span>栅格</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/input/">
                    <!---->Input<span>输入框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/radio/">
                    <!---->Radio<span>单选框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/checkbox/">
                    <!---->Checkbox<span>复选框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/select/">
                    <!---->Select<span>选择框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/spinner/">
                    <!---->Spinner<span>数字输入框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/datepicker/">
                    <!---->Datepicker<span>日期选择</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/slider/">
                    <!---->Slider<span>滑块</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/form/">
                    <!---->Form<span>表单</span>
                </a></li><li class="active">
                <!---->
                <a href="/kpc/components/dialog/">
                    <!---->Dialog<span>弹窗</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/dropdown/">
                    <!---->Dropdown<span>下拉菜单</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/message/">
                    <!---->Message<span>全局提示</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/tooltip/">
                    <!---->Tooltip<span>提示弹层</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/progress/">
                    <!---->Progress<span>进度条</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/steps/">
                    <!---->Steps<span>步骤条</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/switch/">
                    <!---->Switch<span>开关</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/breadcrumb/">
                    <!---->Breadcrumb<span>面包屑</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/pagination/">
                    <!---->Pagination<span>分页</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/table/">
                    <!---->Table<span>表格</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/tabs/">
                    <!---->Tabs<span>标签</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/transfer/">
                    <!---->Transfer<span>穿梭框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/editable/">
                    <!---->Editable<span>可编辑文本</span>
                </a></li></ul></div><div class="aside-border transition"></div></div></aside><article><div class="article-head"><div class="title">弹窗</div><div class="edit-link">
                    如果你发现文档有问题，请帮忙在
                    <a target="_blank" href="https://github.com/ksc-fe/kpc/blob/master/components/dialog/index.md">github</a>
                    上修正该文档
                </div></div><div class="contents"><div><h1>示例</h1>
        <div class="example index-0"><div class="example-opera"><div><button class="k-btn k-primary" tabindex="0" type="button">
    <span>Show Dialog</span>
    </button><div class="k-dialog-wrapper"></div></div></div><div class="example-desc"><div class="title">基本用法</div><div class="desc"><p>定义一个弹窗，然后通过<code>v-model</code>建立绑定，当该绑定的值为<code>true</code>时，展示弹窗。</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-52"><div class="example-opera"><div><button class="k-btn k-primary" tabindex="0" type="button">
    <span>Show Dialog</span>
    </button><div class="k-dialog-wrapper"></div></div></div><div class="example-desc"><div class="title">自定义头部和底部</div><div class="desc"><p>组件提供了<code>header</code>和<code>footer</code>扩展点（block），通过它们可以自定义头部和底部。</p>
<blockquote>
<p>可以通过<code>parent()</code>引用到组件定义的默认内容</p>
</blockquote>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-66"><div class="example-opera"><div><button class="k-btn k-primary" tabindex="0" type="button">
    <span>Show Dialog</span>
    </button><div class="k-dialog-wrapper"></div></div></div><div class="example-desc"><div class="title">事件回调</div><div class="desc"><p>弹窗点击“确认”和“取消”时，分别会派发出<code>ok</code>和<code>cancel</code>事件，通过它们可以执行相应的回调逻辑。此时弹窗会自动立即关闭，如果需要控制更多细节，可以使用<code>ok</code>和<code>cancel</code>属性，详见异步关闭。</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-81"><div class="example-opera"><button class="k-btn k-primary" tabindex="0" type="button">
    <span>Show Dialog</span>
    </button></div><div class="example-desc"><div class="title">继承弹窗</div><div class="desc"><p>在实际应用中，弹窗的逻辑一般都很复杂，通过继承，我们可以控制弹窗的各个细节，例如：点击确定时进行表单验证，发送请求，延迟关闭等等。将这些业务逻辑封装在单独的模块中，是推荐的做法。</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->dialog.vdt<!---->
                        </a><a class="k-tab">
                            <!---->dialog.js<!---->
                        </a><a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-101"><div class="example-opera"><button class="k-btn k-primary" tabindex="0" type="button">
    <span>Show Dialog Asynchronously</span>
    </button></div><div class="example-desc"><div class="title">异步打开</div><div class="desc"><p>当弹窗很复杂时，我们可以通过继承<code>Dialog</code>的方式，将所有业务逻辑封装成一个新弹窗组件。经常地，我们需要在弹窗打开时获取数据，一种方式是，弹窗同步打开，然后使用loading动画来过渡数据加载过程，另一种方式，我们还可以在弹窗数据加载完成后再打开弹窗。这种方式只需要在继承的弹窗的<code>_init</code>生命周期函数中返回<code>Promise</code>对象即可。另外我们还可以通过<code>open</code>, <code>close</code>来处理打开关闭后的逻辑。</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->dialog.vdt<!---->
                        </a><a class="k-tab">
                            <!---->dialog.js<!---->
                        </a><a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-111"><div class="example-opera"><div><button class="k-btn k-primary" tabindex="0" type="button">
    <span>Close Dialog Asynchronously</span>
    </button><div class="k-dialog-wrapper"></div></div></div><div class="example-desc"><div class="title">异步关闭</div><div class="desc"><p><code>Dialog</code>默认点击确定按钮会立即关闭弹窗并触发<code>ok</code>事件，我们可以给<code>ok</code>属性（并非<code>ok</code>事件）指定一个函数来去掉默认函数行为，此时你可以自己控制弹窗的关闭情况。<code>cancel</code>属性同理。</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div>
    </div><div class="api"><h1 id='header-%E5%B1%9E%E6%80%A7'>属性</h1><div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>属性</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
                        <tbody><tr>
<td>title</td>
<td>弹窗标题</td>
<td><code>String</code></td>
<td><code>&quot;提示&quot;</code></td>
</tr>
<tr>
<td>value</td>
<td>弹窗是否展示出来</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>size</td>
<td>弹窗尺寸</td>
<td><code>&quot;default&quot;</code> &#124; <code>&quot;small&quot;</code></td>
<td><code>&quot;default&quot;</code></td>
</tr>
<tr>
<td>loading</td>
<td>“确认”按钮是否为加载状态</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>okText</td>
<td>“确认”按钮文案</td>
<td><code>String</code></td>
<td><code>&quot;确认&quot;</code></td>
</tr>
<tr>
<td>cancelText</td>
<td>“取消”按钮文案</td>
<td><code>String</code></td>
<td><code>&quot;取消&quot;</code></td>
</tr>
<tr>
<td>disabledOk</td>
<td>“确认”按钮是否为禁用状态</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>ok</td>
<td>“确认”按钮点击后自定义回调函数</td>
<td><code>Function</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>cancel</td>
<td>“取消”按钮点击后自定义回调函数</td>
<td><code>Function</code></td>
<td><code>undefined</code></td>
</tr>
</tbody>
                    </table>
                </div><h1 id='header-%E6%89%A9%E5%B1%95%E7%82%B9'>扩展点</h1><div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>名称</th>
<th>说明</th>
</tr>
</thead>
                        <tbody><tr>
<td>header</td>
<td>扩展弹窗头部</td>
</tr>
<tr>
<td>footer</td>
<td>扩展弹窗底部</td>
</tr>
</tbody>
                    </table>
                </div><h1 id='header-%E6%96%B9%E6%B3%95'>方法</h1><div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>方法名</th>
<th>说明</th>
<th>参数</th>
<th>返回值</th>
</tr>
</thead>
                        <tbody><tr>
<td>show</td>
<td>弹出弹窗</td>
<td>-</td>
<td><code>Promise</code></td>
</tr>
<tr>
<td>close</td>
<td>关闭弹窗</td>
<td>-</td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>showLoading</td>
<td>“确认”按钮变为加载状态</td>
<td>-</td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>hideLoading</td>
<td>“确认”按钮变为正常状态</td>
<td>-</td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>disableOk</td>
<td>“确认”按钮变为禁用状态</td>
<td>-</td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>enableOk</td>
<td>“确认”按钮变为正常状态</td>
<td>-</td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>ok</td>
<td>点击“确认”按钮的回调方法，继承<code>Dialog</code>时，可以复写该方法实现自定义需求</td>
<td>-</td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>cancel</td>
<td>点击“取消”按钮的回调方法，继承<code>Dialog</code>时，可以复写该方法实现自定义需求</td>
<td>-</td>
<td><code>undefined</code></td>
</tr>
</tbody>
                    </table>
                </div><h1 id='header-%E4%BA%8B%E4%BB%B6'>事件</h1><div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>事件名</th>
<th>说明</th>
<th>参数</th>
</tr>
</thead>
                        <tbody><tr>
<td>cancel</td>
<td>点击取消按钮时触发</td>
<td>-</td>
</tr>
<tr>
<td>ok</td>
<td>点击确定按钮时触发</td>
<td>-</td>
</tr>
<tr>
<td>open</td>
<td>弹窗打开后触发</td>
<td>-</td>
</tr>
<tr>
<td>close</td>
<td>弹窗关闭后触发</td>
<td>-</td>
</tr>
</tbody>
                    </table>
                </div></div></div></article></div></div>
    </div></div>
    <script src="/kpc/static/client.js" type="text/javascript"></script>
</body>
</html>