@require('../../styles/themes/default.styl')

$dialog-width := 450px
$dialog-bg-color := #fff
$dialog-border-radius := 2px
$dialog-padding := unit(30 / 14, rem)
$dialog-color := $text-color
$dialog-font-size := unit(12 / 14, rem)

// header
$dialog-title-font-size := 1rem
$dialog-title-color := $title-color 
$dialog-title-height := unit(60 / 14, em)
$dialog-title-border := 1px solid $border-color
$dialog-close-top := 10px
$dialog-close-right := 5px

// body
$dialog-body-padding := unit(18 / 14, rem) $dialog-padding

// footer
$dialog-footer-border := $dialog-title-border
$dialog-footer-padding := $dialog-padding
$dialog-footer-btn-margin := unit(12 / 14, rem)
