@require('../../styles/themes/default.styl')

$dialog-width := unit(670 / 14, rem) 
$dialog-bg-color := #fff
$dialog-border-radius := 2px
$dialog-padding := unit(30 / 14, rem)
$dialog-color := $text-color
$dialog-font-size := unit(14 / 14, rem)

// header
$dialog-title-font-size := unit(16 / 14, rem) 
$dialog-title-color := $title-color 
$dialog-title-height := unit(60 / 14, rem)
$dialog-title-border := 1px solid $border-color
$dialog-close-top := unit(10 / 14, rem)
$dialog-close-right := unit(5 / 14, rem)
$dialog-close-icon-font-size := unit(32 / 14, rem)

// body
$dialog-body-padding := unit(18 / 14, rem) $dialog-padding

// footer
$dialog-footer-padding := unit(24 / 14, rem) $dialog-padding
$dialog-footer-btn-margin := unit(12 / 14, rem)

// animation
$dialog-transform := translateY(-10px) scale(1.05)

// mini size
$dialog-small-width := unit(450 / 14, rem)


