@require('../../styles/themes/default.styl')

$checkbox-width := unit(14 / 14, rem) 
$checkbox-border-color := $dark-border-color
$checkbox-border-radius := 2px

// text
$checkbox-text-margin-left := unit(8 / 14, em)

// checked
$checkbox-checked-border-color := $primary-color 
$checkbox-checked-bg-color := $checkbox-checked-border-color
$checkbox-inner-width := unit(4 / 14, rem)
$checkbox-inner-height := unit(8 / 14, rem)
$checkbox-inner-top := unit(1 / 14, rem)
$checkbox-inner-left := unit(4 / 14, rem)
$checkbox-inner-border := 1px solid #fff

// disabled
$checkbox-disabled-color := $disabled-color
$checkbox-disabled-border-color := $disabled-border-color
$checkbox-disabled-bg-color := $disabled-bg-color 
$checkbox-disabled-inner-color := $disabled-color
