@require('../../styles/themes/default.styl')

$checkbox-width := 14px
$checkbox-border-color := $dark-border-color
$checkbox-border-radius := 2px

// text
$checkbox-text-margin-left := unit(5 / 14, em)

// checked
$checkbox-checked-border-color := $primary-color 
$checkbox-checked-bg-color := $checkbox-checked-border-color
$checkbox-inner-width := 4px
$checkbox-inner-height := 8px
$checkbox-inner-top := 1px
$checkbox-inner-left := 4px
$checkbox-inner-border := 1px solid #fff

// disabled
$checkbox-disabled-color := $disabled-color
$checkbox-disabled-border-color := $disabled-border-color
$checkbox-disabled-bg-color := $disabled-bg-color 
$checkbox-disabled-inner-color := $disabled-color
