@require('../../styles/themes/default.styl')

$radio-width := unit(14 / $rem, rem) 
$radio-border-color := $dark-border-color
$radio-bg-color := #fff

// text
$radio-text-margin-left := unit(8 / $rem, em)

// checked
$radio-inner-width := unit(8 / $rem, rem)
$radio-checked-color := $primary-color

// disabled
$radio-disabled-color := $disabled-color
$radio-disabled-border-color := $disabled-border-color
$radio-disabled-bg-color := $disabled-bg-color
$radio-disabled-inner-color := $disabled-color

