@require('./variables.styl')

.k-datepicker
    display inline-block
    .k-inner
        cursor pointer

.k-datepicker-content
    position absolute
    border-radius $datepicker-border-radius 
    box-shadow $datepicker-box-shadow
    color $datepicker-color
    .k-day
    .k-weekday
        display inline-block
        width $datepicker-day-width 
        text-align center
        margin $datepicker-day-margin 
    .k-day
        height $datepicker-day-width 
        line-height s('calc(%s - 2px)', @height)
        border-radius 50%
        cursor pointer
        border 1px solid transparent
        &:hover
            background $datepicker-day-hover-bg-color 
        &.k-out
            color $datepicker-day-out-color 
        &.k-today
            border $datepicker-day-today-border 
        &.k-active
            background $datepicker-day-active-bg-color 
            color $datepicker-day-active-color 
            &.k-today
                border-color $datepicker-day-active-today-border-color
        // disabled date
        &.k-disabled
            color $datepicker-day-disabled-color 
            cursor not-allowed
            &:hover
                background $datepicker-day-disabled-hover-bg-color 
    .k-weekday
        color $datepicker-weekday-color 

    .k-month
        text-align center
        padding-bottom $datepicker-month-padding 
        .k-text
            margin $datepicker-month-text-margin 
            line-height $datepicker-month-text-line-height 
        .k-icon
            font-size $datepicker-month-icon-font-size
        .k-prev
            float left
        .k-next
            float right


