@require('../../styles/themes/default.styl')
@require('../../styles/mixin.styl')

$datepicker-color := $text-color
$datepicker-width := unit(300 / $rem, rem)
$datepicker-content-width := unit(300 / $rem, rem)
$datepicker-padding := unit(16 / $rem, rem) unit(16 / $rem, rem) unit(4 / $rem, rem) 

$datepicker-inner-border := 1px solid #e5e5e5

$datepicker-day-width := unit(24 / $rem, rem)
$datepicker-day-margin := unit(7 / $rem, rem)
$datepicker-day-hover-bg-color := $bg-color
$datepicker-day-hover-color := $datepicker-color
$datepicker-day-out-color := $disabled-color
$datepicker-day-today-border := 1px solid $border-color

// active
$datepicker-day-active-bg-color := $primary-color
$datepicker-day-active-color := #fff
$datepicker-day-active-today-border-color := transparent 

// disabled
$datepicker-day-disabled-color := #ccc
$datepicker-day-disabled-hover-bg-color := none

// weekday
$datepicker-weekday-color := inherit 
$datepicker-weekday-width := $datepicker-day-width + getLeft($datepicker-day-margin) + getRight($datepicker-day-margin)
$datepicker-weekday-margin := unit(7 / $rem, rem) 0

// month
$datepicker-month-padding := 0 unit(6 / $rem, rem) unit(12 / $rem, rem)
$datepicker-month-text-margin := 0 unit(3 / $rem, rem)
$datepicker-month-text-line-height := unit($small-height / $rem, rem)
// $datepicker-month-icon-font-size := unit(16 / $rem, rem)

// year picker
$datepicker-scroll-select-margin := unit(12 / $rem, rem)
$datepicker-scroll-select-height := unit(267 / $rem, rem) - getTop($datepicker-scroll-select-margin) - getBottom($datepicker-scroll-select-margin)

// range
$datepicker-range-width := unit(400 / $rem, rem)
$datepicker-range-gutter := unit(0 / $rem, rem)
$datepicker-range-day-bg-color := palette($datepicker-day-active-bg-color, -2) 
$datepicker-range-day-color := $datepicker-day-active-color
$datepicker-range-day-left := -(getLeft($datepicker-day-margin))
$datepicker-range-day-top := -1px
$datepicker-range-day-padding := 0 getRight($datepicker-day-margin)

// shortcuts
$datepicker-shortcuts-width := unit(100 / $rem, rem)
$datepicker-shortcuts-padding := unit(12 / $rem, rem) 0
$datepicker-shortcuts-line-height := unit(32 / $rem, rem)
$datepicker-shortcuts-item-padding := 0 unit(16 / $rem, rem)
$datepicker-shortcuts-item-hover-bg-color := $bg-color

// datetime
$datepicker-datetime-margin-top := unit($default-height / $rem, rem)

// time picker
$datepicker-time-scroll-select-height := unit(303 / $rem, rem) - getTop($datepicker-scroll-select-margin) - getBottom($datepicker-scroll-select-margin)
