@require('./variables.styl')

.k-tree-select-dropdown
    max-height $tree-select-dropdown-max-height
    padding $tree-select-dropdown-padding 
    transition top $transition
    .k-label
        display $tree-select-dropdown-label-display 
        margin $tree-select-dropdown-margin 
    .k-text
        flex $tree-select-dropdown-text-flex


requireTheme('treeSelect')
