@require('../../styles/themes/default.styl')

// define stoke color
$progress-normal-color := $primary-color
$progress-success-color := $success-color
$progress-error-color := $danger-color
$progress-warning-color := $warning-color
$progress-stroke-color := #eaeef2

// animation
$progress-transition := all .6s ease

// bar
$progress-font-color := #404040
$progress-height := unit(16 / $rem, rem)
$progress-innertext-font-size := unit(12 / $rem, rem)
$progress-innertext-margin := unit(1 / $rem, rem) unit(3 / $rem, rem);
$progress-innertext-padding-right := unit(10 / $rem, rem)
$progress-small-height := unit(10 / $rem, rem)
$progress-small-font-size := unit(12 / $rem, rem)
$progress-mini-font-size := unit(12 / $rem, rem)
$progress-mini-height := unit(4 / $rem, rem)
$progress-text-width := unit(40 / $rem, rem)
$progress-text-margin-left := unit(16 / $rem, rem)

// circle
$progress-circle-width := unit(104 / $rem, rem)
$progress-circle-small-width := unit(80 / $rem, rem)
$progress-circle-mini-width := unit(40 / $rem, rem) 

$progress-circle-font-size := unit(16 / $rem, rem) 
$progress-circle-small-font-size := unit(14 / $rem, rem) 
$progress-circle-mini-font-size := unit(12 / $rem, rem) 
