@require('../../styles/themes/default.styl')

$tooltip-padding := unit(5 / $rem, rem) unit(10 / $rem, rem)
$tooltip-color := $text-color
$tooltip-bg-color := #fff
$tooltip-line-height := 1.4
$tooltip-max-width := unit(300 / $rem, rem)

// arrow
$tooltip-arrow-border-color := rgba(191, 191, 191, .2)
$tooltip-arrow-width := 8px

// confirm
$tooltip-confirm-buttons-gutter := unit(8 / $rem, rem)
$tooltip-confirm-buttons-padding-top := unit(8 / $rem, rem)

/* dark */
$tooltip-dark-bg-color := $text-color
$tooltip-dark-color := #fff
$tooltip-dark-arrow-border-color := $text-color

// size
$tooltip-small-padding := unit(4 / $rem, rem)
