@require('../../styles/themes/default.styl')

// FIXME $radio-width?
$radio-width := 14px
// FIXME 主体default.styl文件定义的是全局通用变量，每个组件自己的变量，应该定义在各个variable.styl中
// 然后其他主题文件可以复写这里定义的变量
$spinner-button-color := $spinner-button-color
$spinner-button-bg-color := $spinner-button-bg-color
$spinner-button-border-color := $spinner-button-border-color
$spinner-input-bg-color := $spinner-input-bg-color 
$spinner-input-border-color := $spinner-input-border-color
// hover
$spinner-button-hover-color := $spinner-button-hover-color
$spinner-button-hover-border-color := $spinner-button-hover-border-color
$spinner-button-hover-bg-color := $spinner-button-hover-bg-color
// disabled
$spinner-button-disabled-color := $spinner-button-disabled-color
$spinner-button-disabled-border-color := $spinner-disabled-button-border-color
$spinner-button-disabled-bg-color := $spinner-disabled-button-bg-color
