@require('../../styles/themes/default.styl')

$spinner-input-width := unit(46 / 14, rem)
$spinner-large-input-width := unit(60 / 14, rem)
$spinner-small-input-width := unit(32 / 14, rem)
$spinner-mini-input-width := unit(26 / 14, rem)
