@require('../../styles/themes/default.styl')

$radio-width := 14px
$spinner-button-color := $spinner-button-color
$spinner-button-bg-color := $spinner-button-bg-color
$spinner-button-border-color := $spinner-button-border-color
$spinner-input-bg-color := $spinner-input-bg-color 
$spinner-input-border-color := $spinner-input-border-color
// hover
$spinner-button-hover-color := $spinner-button-hover-color
$spinner-button-hover-border-color := $spinner-button-hover-border-color
$spinner-button-hover-bg-color := $spinner-button-hover-bg-color
// disabled
$spinner-button-disabled-color := $spinner-button-disabled-color
$spinner-button-disabled-border-color := $spinner-disabled-button-border-color
$spinner-button-disabled-bg-color := $spinner-disabled-button-bg-color