@require('./variables.styl')

.k-component-tip
    display block
    &.k-tag
        color $tip-color 
    > .k-title
        font-size $tip-title-font-size 
        margin-bottom $tip-title-margin-bottom 
    > .k-close.k-custom
        color $tip-close-custom-color 
        &:hover
            color $tip-close-custom-hover-color 


require($theme-dir + '/tip.styl')
