@require('../../styles/themes/default.styl')

$tip-color := $text-color
$tip-title-font-size := unit(16 / 14, rem)
$tip-title-margin-bottom := unit(10 / 14, rem)
$tip-close-custom-color := $primary-color
$tip-close-custom-hover-color := palette($primary-color, -1)
