@require('../../styles/themes/default.styl')
@require('../datepicker/variables.styl')

$timepicker-inner-border := $datepicker-inner-border
$timepicker-content-width := unit(300 / $rem, rem)
$timepicker-content-padding := unit(16/ $rem, rem)
$timepicker-scroll-select-height := unit(160 / $rem, rem)

// range
$timepicker-range-content-width := unit(200 / $rem, rem)
$timepicker-range-time-picker-padding := unit(16 / $rem, rem)
$timepicker-range-title-margin-bottom := unit(8 / $rem, rem)
$timepicker-range-scroll-select-height := unit(140 / $rem, rem)

