.k-dialog-wrapper {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
}
.k-dialog-wrapper .k-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}
.k-dialog-wrapper .k-overlay.animate-enter,
.k-dialog-wrapper .k-overlay.animate-leave {
  opacity: 0;
}
.k-dialog {
  position: absolute;
  width: 47.857142857142854rem;
  border-radius: 2px;
  background: #fff;
  font-size: 1rem;
  color: #595959;
}
.k-dialog > .k-header {
  padding: 0 2.142857142857143rem;
  border-bottom: 1px solid #cad0dd;
  position: relative;
}
.k-dialog > .k-header .k-title {
  height: 4.285714285714286rem;
  line-height: 4.285714285714286rem;
  font-size: 1.142857142857143rem;
  color: #404040;
}
.k-dialog > .k-header .k-close {
  position: absolute;
  right: 0.357142857142857rem;
  top: 0.714285714285714rem;
}
.k-dialog > .k-header .k-close.k-btn .k-icon {
  font-size: 2.285714285714286rem;
}
.k-dialog > .k-body {
  padding: 1.285714285714286rem 2.142857142857143rem;
}
.k-dialog > .k-footer {
  text-align: right;
  padding: 1.714285714285714rem 2.142857142857143rem;
}
.k-dialog > .k-footer .k-btn {
  margin-left: 0.857142857142857rem;
}
.k-dialog.k-dragging {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.k-dialog.animate-enter-active,
.k-dialog.animate-leave-active {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.k-dialog.animate-enter,
.k-dialog.animate-leave {
  -webkit-transform: translateY(-10px) scale(1.05);
      -ms-transform: translateY(-10px) scale(1.05);
          transform: translateY(-10px) scale(1.05);
  opacity: 0;
}
.k-dialog.k-small {
  width: 32.142857142857146rem;
}
