<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>按钮</title>
    <link rel="stylesheet" href="/kpc/theme-kpc.css" />
</head>
<body>
    
    
    <div id="page"><div class="k-app">
    <div class="main-wrapper document-page"><div class="header-wrapper"><header><a class="logo" href="/">KPC</a><div class="right"><nav><a class="active" href="/kpc/docs/getting-started/">教程</a><div class="border"></div></nav><span class="label">切换主题：</span><div class="k-select k-active" style="width:100px;" tabindex="0"><div class="k-wrapper" tabindex="-1" _hasSaved><input type="hidden" value="kpc" /><span class="k-value c-ellipsis">default</span><span class="k-suffix"><i class="k-arrow ion-arrow-down-b"></i></span></div><!--MoveWrapper--></div></div></header></div><div class="content-wrapper"><aside><div class="aside-wrapper"><div class="catalog-section"><ul><li>
                <!---->
                <a href="/kpc/docs/getting-started/">
                    <!---->快速开始<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/vue/">
                    <!---->Vue中使用<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/theme/">
                    <!---->定制主题<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/i18n/">
                    <!---->国际化<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/icon/">
                    <!---->字体icon<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/changelog/">
                    <!---->更新日志<!---->
                </a></li></ul></div><div class="catalog-section"><h5>组件</h5><ul><li class="active">
                <!---->
                <a href="/kpc/components/button/">
                    <!---->Button<span>按钮</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/grid/">
                    <!---->Grid<span>栅格</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/input/">
                    <!---->Input<span>输入框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/radio/">
                    <!---->Radio<span>单选框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/checkbox/">
                    <!---->Checkbox<span>复选框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/select/">
                    <!---->Select<span>选择框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/spinner/">
                    <!---->Spinner<span>数字输入框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/datepicker/">
                    <!---->Datepicker<span>日期选择</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/slider/">
                    <!---->Slider<span>滑块</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/form/">
                    <!---->Form<span>表单</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/dialog/">
                    <!---->Dialog<span>弹窗</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/dropdown/">
                    <!---->Dropdown<span>下拉菜单</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/message/">
                    <!---->Message<span>全局提示</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/tooltip/">
                    <!---->Tooltip<span>提示弹层</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/progress/">
                    <!---->Progress<span>进度条</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/steps/">
                    <!---->Steps<span>步骤条</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/switch/">
                    <!---->Switch<span>开关</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/breadcrumb/">
                    <!---->Breadcrumb<span>面包屑</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/pagination/">
                    <!---->Pagination<span>分页</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/table/">
                    <!---->Table<span>表格</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/tabs/">
                    <!---->Tabs<span>标签</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/transfer/">
                    <!---->Transfer<span>穿梭框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/editable/">
                    <!---->Editable<span>可编辑文本</span>
                </a></li></ul></div><div class="aside-border transition"></div></div></aside><article><div class="article-head"><div class="title">按钮</div><div class="edit-link">
                    如果你发现文档有问题，请帮忙在
                    <a target="_blank" href="https://github.com/ksc-fe/kpc/blob/master/components/button/index.md">github</a>
                    上修正该文档
                </div></div><div class="contents"><div><h1>示例</h1>
        <div class="example index-13"><div class="example-opera"><div><button class="k-btn" tabindex="0" type="button">
    <span>default</span>
    </button><button class="k-btn k-primary" tabindex="0" type="button">
    <span>primay</span>
    </button><button class="k-btn k-warning" tabindex="0" type="button">
    <span>warning</span>
    </button><button class="k-btn k-danger" tabindex="0" type="button">
    <span>danger</span>
    </button><button class="k-btn k-none" tabindex="0" type="button">
    <span>none</span>
    </button></div></div><div class="example-desc"><div class="title">按钮类型</div><div class="desc"><p>有如下几种类型：默认按钮，主按钮，警告按钮，危险按钮，文字按钮。</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a><a class="k-tab">
                            <!---->index.vue<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-45"><div class="example-opera"><div><div class="k-btns" style=""><button class="k-btn" tabindex="0" type="button">
    <span>开机</span>
    </button><button class="k-btn" tabindex="0" type="button">
    <span>关机</span>
    </button><button class="k-btn" tabindex="0" type="button">
    <span>重启</span>
    </button></div><div class="k-btns" style=""><button class="k-btn k-primary" tabindex="0" type="button">
    <span>开机</span>
    </button><button class="k-btn k-primary" tabindex="0" type="button">
    <span>关机</span>
    </button><button class="k-btn k-primary" tabindex="0" type="button">
    <span>重启</span>
    </button></div><div class="k-btns" style=""><button class="k-btn k-primary k-icon-left" tabindex="0" type="button">
    <i class="k-icon ion-ios-arrow-left"></i><span>上一页
        </span>
    </button><button class="k-btn k-primary k-icon-right" tabindex="0" type="button">
    <span>
            下一页</span><i class="k-icon ion-ios-arrow-right"></i>
    </button></div><br /><br /><p>纵向按钮组</p><div class="k-btns k-vertical" style=""><button class="k-btn k-primary" tabindex="0" type="button">
    <span>开机</span>
    </button><button class="k-btn k-primary" tabindex="0" type="button">
    <span>关机</span>
    </button><button class="k-btn k-primary" tabindex="0" type="button">
    <span>重启</span>
    </button></div><br /><br /><p>radio按钮组</p><div class="k-btns" style=""><button class="k-btn k-active" tabindex="0" type="button">
    <span>北京</span>
    <input type="radio" checked tabindex="-1" /></button><button class="k-btn" tabindex="0" type="button">
    <span>上海</span>
    <input type="radio" tabindex="-1" /></button><button class="k-btn" tabindex="0" type="button">
    <span>广州</span>
    <input type="radio" tabindex="-1" /></button><button class="k-btn" tabindex="0" type="button">
    <span>深圳</span>
    <input type="radio" tabindex="-1" /></button></div><p>checkbox按钮组</p><div class="k-btns" style=""><button class="k-btn k-small" tabindex="0" type="button">
    <span>北京</span>
    <input type="checkbox" tabindex="-1" /></button><button class="k-btn k-small" tabindex="0" type="button">
    <span>上海</span>
    <input type="checkbox" tabindex="-1" /></button><button class="k-btn k-small" tabindex="0" type="button">
    <span>广州</span>
    <input type="checkbox" tabindex="-1" /></button><button class="k-btn k-small" tabindex="0" type="button">
    <span>深圳</span>
    <input type="checkbox" tabindex="-1" /></button></div></div></div><div class="example-desc"><div class="title">按钮组</div><div class="desc"><p>将<code>Button</code>作为<code>ButtonGroup</code>的子元素，可以展示按钮组。给<code>ButtonGroup</code>添加<code>vertical</code>属性，可以是按钮组纵向排列。给<code>ButtonGroup</code>添加<code>checkType</code>属性，可以使按钮组拥有单选或复选能力。</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a><a class="k-tab">
                            <!---->index.vue<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-28"><div class="example-opera"><div><button class="k-btn k-btn-icon" tabindex="0" type="button">
    <i class="ion-ios-search"></i>
    </button><button class="k-btn k-btn-icon k-circle" tabindex="0" type="button">
    <i class="ion-ios-search"></i>
    </button><button class="k-btn k-primary k-icon-left" tabindex="0" type="button">
    <i class="k-icon ion-ios-search"></i><span>搜索</span>
    </button><button class="k-btn k-primary k-circle k-icon-left" tabindex="0" type="button">
    <i class="k-icon ion-ios-search"></i><span>搜索</span>
    </button></div></div><div class="example-desc"><div class="title">图标按钮</div><div class="desc"><p>给<code>Button</code>添加<code>icon</code>属性，可以展示图标按钮。图标按钮仅仅是使按钮的宽高相等，此时你可以将任意图标元素作为它的子元素。<code>circle</code>属性可以展示圆形图标。如果你不需要宽高相等的图标按钮，而仅仅是带图标的文字按钮，去掉<code>icon</code>属性即可。</p>
<blockquote>
<p>请给图标元素添加<code>k-icon</code>类名，用于定位图标元素，以便按钮变为<code>loading</code>状态时能够将它替换为loading图标</p>
</blockquote>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-58"><div class="example-opera"><div><button class="k-btn k-primary k-loading k-disabled" tabindex="-1" type="button">
    <i class="k-icon ion-load-c icon-loading"></i><span>确认</span>
    </button><button class="k-btn k-btn-icon k-circle k-loading k-disabled" tabindex="-1" type="button">
    <i class="k-icon ion-load-c icon-loading"></i><i class="k-icon ion-ios-search"></i>
    </button><br /><br /><button class="k-btn k-primary" tabindex="0" type="button">
    <span>点击加载</span>
    </button><button class="k-btn k-primary k-icon-left" tabindex="0" type="button">
    <i class="k-icon ion-ios-search"></i><span>点击加载</span>
    </button><button class="k-btn k-btn-icon k-circle" tabindex="0" type="button">
    <i class="k-icon ion-ios-search"></i>
    </button><button class="k-btn k-primary k-icon-right" tabindex="0" type="button">
    <span>图标在右侧</span><i class="k-icon ion-ios-search"></i>
    </button></div></div><div class="example-desc"><div class="title">加载状态按钮</div><div class="desc"><p>添加<code>loading</code>属性，可以将按钮设为加载状态，此时按钮不可点。</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-93"><div class="example-opera"><div><button class="k-btn k-large" tabindex="0" type="button">
    <span>large</span>
    </button><button class="k-btn" tabindex="0" type="button">
    <span>default</span>
    </button><button class="k-btn k-small" tabindex="0" type="button">
    <span>small</span>
    </button><button class="k-btn k-mini" tabindex="0" type="button">
    <span>mini</span>
    </button><br /><br /><button class="k-btn k-btn-icon k-large k-circle" tabindex="0" type="button">
    <i class="k-icon ion-ios-search"></i>
    </button><button class="k-btn k-btn-icon k-circle" tabindex="0" type="button">
    <i class="k-icon ion-ios-search"></i>
    </button><button class="k-btn k-btn-icon k-small k-circle" tabindex="0" type="button">
    <i class="k-icon ion-ios-search"></i>
    </button><button class="k-btn k-btn-icon k-mini k-circle" tabindex="0" type="button">
    <i class="k-icon ion-ios-search"></i>
    </button></div></div><div class="example-desc"><div class="title">按钮尺寸</div><div class="desc"><p>通过<code>size</code>属性可以指定按钮的尺寸：<code>large</code>, <code>default</code>,<code>small</code>, <code>mini</code>。</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-104"><div class="example-opera"><div><button class="k-btn k-disabled" tabindex="-1" type="button">
    <span>disabled</span>
    </button><button class="k-btn k-none k-disabled" tabindex="-1" type="button">
    <span>disabled text</span>
    </button><button class="k-btn k-btn-icon k-circle k-disabled" tabindex="-1" type="button">
    <i class="k-icon ion-ios-search"></i>
    </button></div></div><div class="example-desc"><div class="title">禁用状态</div><div class="desc"><p>添加<code>disabled</code>属性，可以禁用按钮</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-98"><div class="example-opera"><div><div class="k-btn k-primary" tabindex="0">
    <span>div元素按钮</span>
    </div><div class="k-btn k-disabled" tabindex="-1">
    <span>disabled div button</span>
    </div><a class="k-btn" href="https://www.ksyun.com" target="_blank" tabindex="0">
    <span>超链接按钮</span>
    </a></div></div><div class="example-desc"><div class="title">指定按钮tagName</div><div class="desc"><p><code>Button</code>默认渲染成<code>button</code>元素，通过<code>tagName</code>，我们可以渲染成任意元素或组件。此时，我们可以通过<code>tagProps</code>属性，给指定的<code>tagName</code>传递与<code>Button</code>属性名相冲突的属性。</p>
<blockquote>
<p>当给<code>Button</code>指定<code>href</code>属性时，则它会强制渲染成<code>a</code>标签</p>
</blockquote>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div>
    </div><div class="api"><h1 id='header-%E5%B1%9E%E6%80%A7'>属性</h1><h2 id='header-Button'>Button</h2><div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>属性</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
                        <tbody><tr>
<td>type</td>
<td>按钮类型</td>
<td><code>&quot;default&quot;</code> &#124; <code>&quot;primary&quot;</code> &#124; <code>&quot;warning&quot;</code> &#124; <code>&quot;danger&quot;</code> &#124; <code>&quot;none&quot;</code></td>
<td><code>&quot;default&quot;</code></td>
</tr>
<tr>
<td>size</td>
<td>按钮尺寸</td>
<td><code>&quot;default&quot;</code> &#124; <code>&quot;small&quot;</code> &#124; <code>&quot;mini&quot;</code></td>
<td><code>&quot;default&quot;</code></td>
</tr>
<tr>
<td>icon</td>
<td>是否为图标按钮（宽高相等）</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>circle</td>
<td>是否为圆角按钮</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>loading</td>
<td>是否为正在加载中的按钮</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>disabled</td>
<td>是否禁用状态</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>fluid</td>
<td>是否宽度100%</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>htmlType</td>
<td>按钮<code>&lt;button&gt;</code>元素的<code>type</code></td>
<td><code>String</code></td>
<td><code>&quot;button&quot;</code></td>
</tr>
<tr>
<td>tagName</td>
<td>按钮渲染后的实际html元素，例如我们可以传入<code>&quot;a&quot;</code>来渲染成超链接</td>
<td><code>String</code></td>
<td><code>button</code></td>
</tr>
<tr>
<td>tagProps</td>
<td>当指定<code>tagName</code>时，该属性将传给<code>tagName</code>指定的元素</td>
<td><code>Object</code></td>
<td><code>undefind</code></td>
</tr>
<tr>
<td>value</td>
<td>对于<code>radio</code>类型的按钮组，我们可以给每个按钮指定一个选中时的值</td>
<td><code>*</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>name</td>
<td>对于<code>radio</code>类型的按钮组，我们给<code>radio</code>指定<code>name</code>属性</td>
<td><code>String</code></td>
<td><code>undefined</code></td>
</tr>
</tbody>
                    </table>
                </div><h2 id='header-ButtonGroup'>ButtonGroup</h2><div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>属性</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
                        <tbody><tr>
<td>vertical</td>
<td>是否垂直排列按钮组</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>checkType</td>
<td>指定按钮组为单选或复选类型，此时需要给每个按钮指定<code>value</code>来作为选中的值</td>
<td><code>&quot;radio&quot;</code> &#124; <code>&quot;checkbox&quot;</code> &#124; <code>&quot;none&quot;</code></td>
<td><code>&quot;none&quot;</code></td>
</tr>
<tr>
<td>value</td>
<td>对于<code>radio</code>和<code>checkbox</code>类型按钮组，该值表示选中的按钮的值，可以使用<code>v-model</code>进行双向绑定</td>
<td><code>*</code></td>
<td><code>undefined</code></td>
</tr>
</tbody>
                    </table>
                </div><h1 id='header-%E6%96%B9%E6%B3%95'>方法</h1><h2 id='header-Button'>Button</h2><div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>方法名</th>
<th>说明</th>
<th>参数</th>
<th>返回值</th>
</tr>
</thead>
                        <tbody><tr>
<td>showLoading</td>
<td>展示loading状态</td>
<td>-</td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>hideLoading</td>
<td>取消loading状态</td>
<td>-</td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>disable</td>
<td>禁用按钮</td>
<td>-</td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>enable</td>
<td>启用按钮</td>
<td>-</td>
<td><code>undefined</code></td>
</tr>
</tbody>
                    </table>
                </div></div></div></article></div></div>
    </div></div>
    <script src="/kpc/static/client.js" type="text/javascript"></script>
</body>
</html>