@require('../../styles/themes/default.styl')

$btn-default-color := $light-black
$btn-default-bg-color := #fff
$btn-border-color := $border-color

$btn-primary-color := #fff
$btn-primary-bg-color := $blue

$btn-warning-color := $btn-primary-color
$btn-warning-bg-color := $yellow

$btn-border-radius := 2px
$btn-height := unit(36 / 14, rem)
$btn-line-height := $btn-height
$btn-padding := 0 unit(25 / 14, rem)
