@require('../../styles/themes/default.styl')

// default
$btn-color := $light-black
$btn-bg-color := #fff
$btn-border-color := $border-color
$btn-border-radius := 2px
$btn-height := unit($default-height / 14, rem)
$btn-padding := 0 unit(20 / 14, rem)
$btn-font-size := 1rem
$btn-hover-border-color := $primary-color
$btn-hover-color := $primary-color

// type
$btn-primary-color := #fff
$btn-primary-bg-color := $primary-color
$btn-primary-border-color := $primary-color

$btn-warning-color := #fff
$btn-warning-bg-color := $warning-color
$btn-warning-border-color := $warning-color

$btn-danger-color := #fff 
$btn-danger-bg-color := $danger-color
$btn-danger-border-color := $danger-color

$btn-active-color := $btn-primary-color 
$btn-active-bg-color := $btn-primary-bg-color
$btn-active-border-color := $btn-primary-border-color


// size
$btn-large-font-size := unit(16 / 14, rem) 
$btn-large-height := unit($large-height / 14, rem)
$btn-large-padding := 0 unit(25 / 14, rem)
$btn-small-font-size := unit(12 / 14, rem)
$btn-small-height := unit($small-height / 14, rem)
$btn-small-padding := 0 unit(15 / 14, rem)
$btn-mini-font-size := $btn-small-font-size 
$btn-mini-height := unit($mini-height / 14, rem)
$btn-mini-padding := 0 unit(10 / 14, rem)

// disabled
$btn-disabled-color := $disabled-color
$btn-disabled-bg-color := $disabled-bg-color 
$btn-disabled-border-color := $disabled-border-color

// icon
$btn-icon-margin-right := unit(5 / 14, em) 
$btn-btn-icon-font-size := unit(16 / 14, em)

// buttons
$btns-primary-border-color := darken($btn-primary-border-color, 6%)
$btns-warning-border-color := darken($btn-warning-border-color, 6%)
$btns-danger-border-color := darken($btn-danger-border-color, 6%)
