@require('../../styles/themes/default.styl')

// default
$btn-color := $light-black
$btn-bg-color := #fff
$btn-border-color := $border-color
$btn-border-radius := 2px
$btn-height := unit(36 / 14, em)
$btn-padding := 0 unit(25 / 14, em)

// type
$btn-primary-color := #fff
$btn-primary-bg-color := $primary-color
$btn-primary-border-color := $primary-color

$btn-warning-color := #fff
$btn-warning-bg-color := $warning-color
$btn-warning-border-color := $warning-color

$btn-danger-color := #fff 
$btn-danger-bg-color := $danger-color
$btn-danger-border-color := $danger-color

// size
$btn-small-font-size := unit(12 / 14, rem)
$btn-mini-font-size := $btn-small-font-size 
$btn-mini-height := unit(10 / 12 * 36 / 14, em)
$btn-mini-padding := 0 unit(10 / 12 * 25 / 14, em)

// disabled
$btn-disabled-color := #999 
$btn-disabled-bg-color := #d8d8d8
$btn-disabled-border-color := #cad0dd

// icon
$btn-icon-margin-right := 5px
$btn-btn-icon-font-size := unit(16 / 14, em)
