.k-pagination {
  font-size: 1rem;
}
.k-pagination .k-pages,
.k-pagination .k-limits,
.k-pagination .k-goto,
.k-pagination .k-total {
  margin-left: 1.428571428571429em;
  display: inline-block;
}
.k-pagination .k-pages {
  margin-left: 0;
}
.k-pagination .k-pages > div {
  display: inline-block;
  border: 1px solid #cad0dd;
  border-radius: 0.142857142857143rem;
  margin-right: 0.714285714285714em;
  min-width: 2.571428571428572em;
  height: 2.571428571428572em;
  line-height: calc(2.571428571428572em - 2px);
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}
.k-pagination .k-pages > div:not(.k-active):not(.k-disabled):hover {
  border-color: #0a5eee;
  color: #0a5eee;
}
.k-pagination .k-pages > div:last-of-type {
  margin-right: 0;
}
.k-pagination .k-pages .k-active {
  background-color: #0a5eee;
  border-color: #0a5eee;
  color: #fff;
}
.k-pagination .k-pages .k-disabled {
  cursor: not-allowed;
  color: #999;
  border-color: #d9d9d9;
}
.k-pagination .k-goto .k-input {
  font-size: inherit;
  width: 4.285714285714286em;
  margin: 0 0.714285714285714em;
}
.k-pagination .k-select {
  width: auto;
}
.k-pagination.k-small {
  font-size: 0.857142857142857rem;
}
.k-pagination.k-small .k-pages > div {
  margin-right: 0.416666666666667em;
  min-width: 2.5em;
  height: 2.5em;
  line-height: calc(2.5em - 2px);
}
.k-pagination.k-mini {
  font-size: 0.857142857142857rem;
}
.k-pagination.k-mini .k-pages > div {
  margin-right: 0.416666666666667em;
  min-width: 2.166666666666667em;
  height: 2.166666666666667em;
  line-height: calc(2.166666666666667em - 2px);
}
