@require('../../../styles/themes/default.styl');

$fonts-dir = '../../../styles/fonts'

width = 100% 

// linkColor = #2d8cf0
linkColor = $primary-color 
blue = #09d
red = #d04
yellow = #ffc400

headerHeight = 80px

