@require('../../styles/themes/default.styl')

$carousel-transition = .5s ease
$carousel-height := unit(300 / $rem, rem)

$carousel-indicator-bottom := unit(8 / $rem, rem)
$carousel-indicator-height := unit(20 / $rem, rem)
$carousel-dot-padding-top := unit(8 / $rem, rem)
$carousel-dot-margin := 0 unit(2 / $rem, rem)
$carousel-dot-height := unit(3 / $rem, rem)
$carousel-dot-width := unit(16 / $rem, rem)
$carousel-dot-opacity := .3
$carousel-dot-bg-color := #fff
$carousel-dot-active-opacity := 1
$carousel-dot-active-width := unit(24 / $rem, rem)

$carousel-arrow-bg-color := rgba(0, 0, 0, .5)
$carousel-arrow-color := #fff
$carousel-arrow-opacity := .5
$carousel-arrow-hover-opacity := 1
$carousel-arrow-left := unit(10 / $rem, rem)
$carousel-arrow-right := $carousel-arrow-left
