.k-input {
  font-size: 1rem;
  display: inline-block;
  width: 21.428571428571427rem;
  vertical-align: middle;
}
.k-input .k-wrapper {
  display: inline-block;
  width: 100%;
  position: relative;
}
.k-input .k-inner {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  height: 2.571428571428572rem;
  border: 1px solid #cad0dd;
  padding: 0 0.714285714285714rem;
  background-color: #fff;
  -webkit-transition: border 0.25s ease-in-out, background 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  transition: border 0.25s ease-in-out, background 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  transition: border 0.25s ease-in-out, background 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
  transition: border 0.25s ease-in-out, background 0.25s ease-in-out, box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
  outline: none;
}
.k-input .k-inner:focus {
  border: 1px solid #0a5eee;
}
.k-input.k-fluid {
  width: 100%;
}
.k-input .k-textarea {
  padding: 0.357142857142857rem 0.714285714285714rem;
  height: auto;
  line-height: 1.5;
}
.k-input.k-with-prefix .k-inner {
  padding-left: 2.142857142857143rem;
}
.k-input.k-with-suffix .k-inner,
.k-input.k-clearable .k-inner {
  padding-right: 2.142857142857143rem;
}
.k-input .k-prefix,
.k-input .k-suffix {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.k-input .k-prefix {
  left: 0.714285714285714rem;
}
.k-input .k-suffix {
  right: 0.714285714285714rem;
}
.k-input .k-clear {
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
  pointer-events: none;
}
.k-input .k-clear:hover {
  color: #0a5eee;
}
.k-input.k-with-suffix .k-clear {
  margin-right: 0.357142857142857rem;
}
.k-input.k-with-suffix.k-clearable .k-inner {
  padding-right: 3.214285714285714rem;
}
.k-input .k-inner:focus + .k-suffix .k-clear.k-show,
.k-input:hover .k-clear.k-show {
  opacity: 1;
  pointer-events: all;
}
.k-input.k-group {
  display: table;
}
.k-input .k-prepend,
.k-input .k-append {
  display: table-cell;
  width: 1px;
  vertical-align: middle;
  padding: 0 0.5em;
  background: #eee;
  border: 1px solid #cad0dd;
}
.k-input .k-prepend .k-btn,
.k-input .k-append .k-btn {
  margin: -1px -0.571428571428571em;
  border-radius: 0;
}
.k-input .k-prepend {
  border-right: none;
  white-space: nowrap;
}
.k-input .k-append {
  border-left: none;
  white-space: nowrap;
}
.k-input.k-disabled {
  color: #999;
  cursor: not-allowed;
}
.k-input.k-disabled .k-inner {
  color: #999;
  border-color: #d9d9d9;
  background: #f7f7f7;
  cursor: not-allowed;
}
.k-input.k-small {
  font-size: 0.857142857142857rem;
}
.k-input.k-small .k-inner {
  height: 2.142857142857143rem;
  font-size: 0.857142857142857rem;
}
.k-input.k-mini {
  font-size: 0.857142857142857rem;
}
.k-input.k-mini .k-inner {
  height: 1.857142857142857rem;
  font-size: 0.857142857142857rem;
}
.k-input .k-fake {
  position: absolute;
  visibility: hidden;
  top: 0;
  white-space: nowrap;
}
.k-input.k-auto-width {
  width: auto;
}
.k-input.k-auto-width .k-inner {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
