@require('../menu/variables.styl')

// header
$layout-header-bg-color := $menu-bg-color
$layout-header-height := unit(64 / 14, rem) 

// aside
$layout-aside-width := $menu-width
$layout-aside-large-width := $menu-large-width
$layout-aside-small-width := $menu-small-width
$layout-aside-collapsed-width := $menu-collapsed-width

// footer
$layout-footer-padding := unit(24/ 14, rem) unit(50 / 14, rem)

// body
$layout-body-margin := 0 unit(20 / 14, rem) 
