@require('../../styles/themes/default.styl')

$form-item-margin := 0 0 unit(20 / 14, em) 0
$form-item-label-width := unit(80 / 14, em)
$form-item-label-line-height := unit(36 / 14, em)
$form-item-label-text-align := right
$form-item-label-padding-right := unit(10 / 14, em)

// invalid 
$form-item-error-font-size := unit(12 / 14, rem)
$form-item-error-color := $danger-color
$form-item-error-margin := 2px 0 0 0
$form-item-invalid-border := 1px solid $danger-color
