.k-diagram
    // height 1000px
    display inline-block
    overflow auto
    .mxRubberband 
        position absolute
        overflow hidden
        border-style solid
        border-width 1px
        border-color #0000FF
        background #0077FF
    .mxCellEditor {
        background: url("data:image/gif;base64,R0lGODlhMAAwAIAAAP///wAAACH5BAEAAAAALAAAAAAwADAAAAIxhI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8egpAAA7");
        border-color: transparent;
        border-style: solid;
        display: inline-block;
        position: absolute;
        overflow: visible;
        word-wrap: normal;
        border-width: 0;
        min-width: 1px;
        resize: none;
        padding: 0px;
        margin: 0px;
    }
    .mxPlainTextEditor * {
        padding: 0px;
        margin: 0px;
    }

