.k-diagram
    // height 1000px
    display inline-block
    overflow auto
    .mxRubberband 
        position absolute
        overflow hidden
        border-style solid
        border-width 1px
        border-color #0000FF
        background #0077FF
