<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>表格</title>
    <link rel="stylesheet" href="/kpc/theme-kpc.css" />
</head>
<body>
    
    
    <div id="page"><div class="k-app">
    <div class="main-wrapper document-page"><div class="header-wrapper"><header><a class="logo" href="/">KPC</a><div class="right"><nav><a class="" href="/kpc/docs/design/language/">设计语言</a><a class="active" href="/kpc/docs/getting-started/">教程</a><a class="" href="/kpc/docs/blogs/design/">Blog</a><div class="border"></div></nav><span class="label">切换主题：</span><div class="k-select k-active" style="width:100px;" tabindex="0"><div class="k-wrapper" tabindex="-1" _hasSaved><input type="hidden" value="kpc" /><span class="k-value c-ellipsis">default</span><span class="k-suffix"><i class="k-arrow ion-arrow-down-b"></i></span></div><!--MoveWrapper--></div></div></header></div><div class="content-wrapper"><aside><div class="aside-wrapper"><div class="catalog-section"><ul><li>
                <!---->
                <a href="/kpc/docs/getting-started/">
                    <!---->快速开始<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/vue/">
                    <!---->Vue中使用<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/theme/">
                    <!---->定制主题<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/i18n/">
                    <!---->国际化<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/icon/">
                    <!---->字体icon<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/changelog/">
                    <!---->更新日志<!---->
                </a></li></ul></div><div class="catalog-section"><h5>组件</h5><ul><li>
                <!---->
                <a href="/kpc/components/button/">
                    <!---->Button<span>按钮</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/grid/">
                    <!---->Grid<span>栅格</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/input/">
                    <!---->Input<span>输入框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/radio/">
                    <!---->Radio<span>单选框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/checkbox/">
                    <!---->Checkbox<span>复选框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/select/">
                    <!---->Select<span>选择框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/spinner/">
                    <!---->Spinner<span>数字输入框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/datepicker/">
                    <!---->Datepicker<span>日期选择</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/slider/">
                    <!---->Slider<span>滑块</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/form/">
                    <!---->Form<span>表单</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/dialog/">
                    <!---->Dialog<span>弹窗</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/dropdown/">
                    <!---->Dropdown<span>下拉菜单</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/message/">
                    <!---->Message<span>全局提示</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/tooltip/">
                    <!---->Tooltip<span>提示弹层</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/progress/">
                    <!---->Progress<span>进度条</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/steps/">
                    <!---->Steps<span>步骤条</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/breadcrumb/">
                    <!---->Breadcrumb<span>面包屑</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/switch/">
                    <!---->Switch<span>开关</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/pagination/">
                    <!---->Pagination<span>分页</span>
                </a></li><li class="active">
                <!---->
                <a href="/kpc/components/table/">
                    <!---->Table<span>表格</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/tabs/">
                    <!---->Tabs<span>选项卡</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/editable/">
                    <!---->Editable<span>可编辑文本</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/transfer/">
                    <!---->Transfer<span>穿梭框</span>
                </a></li></ul></div><div class="aside-border transition"></div></div></aside><article><div class="article-head"><div class="title">表格</div><div class="edit-link">
                    如果你发现文档有问题，请帮忙在
                    <a target="_blank" href="https://github.com/ksc-fe/kpc/blob/master/components/table/index.md">github</a>
                    上修正该文档
                </div></div><div class="contents"><div><h1>示例</h1>
        <div class="example index-9"><div class="example-opera"><div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="表头1"><div class="k-th"><div class="c-ellipsis">表头1</div>
        <!---->
    </div></th><th title="表头2"><div class="k-th"><div class="c-ellipsis">表头2</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="第一行">第一行</td><td title="哈哈2">哈哈2</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="第二行">第二行</td><td title="哈哈2">哈哈2</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <!---->
            <th title="表头1"><div class="k-th"><div class="c-ellipsis">表头1</div>
        <!---->
    </div></th><th title="表头2"><div class="k-th"><div class="c-ellipsis">表头2</div>
        <!---->
    </div></th>
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="第一行">第一行</td><td title="哈哈2">哈哈2</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="第二行">第二行</td><td title="哈哈2">哈哈2</td>
            </tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">基本用法</div><div class="desc"><p>上面是一个简单的<code>Table</code>，通过<code>data</code>属性设置表格展示的数据，通过<code>scheme</code>属性或者<code>TableColumn</code>组件定义表格结构，详见”定义表格结构“说明</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-31"><div class="example-opera"><div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="定义该列单元格内容"><div class="k-th"><div class="c-ellipsis">定义该列单元格内容</div>
        <!---->
    </div></th><th title="key形式"><div class="k-th"><div class="c-ellipsis">key形式</div>
        <!---->
    </div></th><th title="key为一个路径字符串"><div class="k-th"><div class="c-ellipsis">key为一个路径字符串</div>
        <!---->
    </div></th><th title="没有这个key，则返回空"><div class="k-th"><div class="c-ellipsis">没有这个key，则返回空</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td><a>虚拟DOM</a></td><td title="获取到了item.b">获取到了item.b</td><td title="item.c.c1">item.c.c1</td><td></td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <!---->
            <th title="定义该列单元格内容"><div class="k-th"><div class="c-ellipsis">定义该列单元格内容</div>
        <!---->
    </div></th><th title="key形式"><div class="k-th"><div class="c-ellipsis">key形式</div>
        <!---->
    </div></th><th title="key为一个路径字符串"><div class="k-th"><div class="c-ellipsis">key为一个路径字符串</div>
        <!---->
    </div></th><th title="没有这个key，则返回空"><div class="k-th"><div class="c-ellipsis">没有这个key，则返回空</div>
        <!---->
    </div></th>
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td><a>虚拟DOM</a></td><td title="获取到了item.b">获取到了item.b</td><td title="item.c.c1">item.c.c1</td><td></td>
            </tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">定义表格结构</div><div class="desc"><p>定义表格结构有两种形式：</p>
<ol>
<li>通过<code>TableColumn</code>组件定义 </li>
<li>通过<code>scheme</code>属性定义</li>
</ol>
<p><code>TableColumn</code>详细说明，见下文属性说明，<code>scheme</code>属性值的结构与之相对应</p>
<blockquote>
<p>对于简单的表格，默认会使用<code>key</code>去取<code>data</code>中的数据，例如本例中，<code>key</code>为<code>a</code>的列，默认会取<code>data</code>中对应<code>key</code>为<code>a</code>的数据进行展示，<code>key</code>支持路径取值，例如：<code>a.b.0</code>。当然我们也可以通过<code>template</code>属性指定复杂内容</p>
</blockquote>
<blockquote>
<p>为了保证列顺序正确，<code>key</code>不要以数字开头</p>
</blockquote>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-56"><div class="example-opera"><div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th class="k-sortable"><div class="k-th"><div class="k-group"><i class="k-arrow ion-ios-arrow-down" _hasSaved></i><!--MoveWrapper--><div class="c-ellipsis"><div><span class="c-middle title" title="自定义表头内容">自定义表头内容</span><i class="ion-ios-help-outline c-middle" _hasSaved></i><!--MoveWrapper--></div>
                <!----> <!---->
            </div></div>
        <div class="k-sort"><i class="k-icon icon-sortable"></i></div>
    </div></th><th title="表头2"><div class="k-th"><div class="c-ellipsis">表头2</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="第一行">第一行</td><td title="哈哈2">哈哈2</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="第二行">第二行</td><td title="哈哈2">哈哈2</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <!---->
            <th class="k-sortable"><div class="k-th"><div class="k-group"><i class="k-arrow ion-ios-arrow-down" _hasSaved></i><!--MoveWrapper--><div class="c-ellipsis"><span class="c-middle title" title="自定义表头内容">自定义表头内容</span><i class="ion-ios-help-outline c-middle" _hasSaved></i><!--MoveWrapper-->
                <!----> <!---->
            </div></div>
        <div class="k-sort"><i class="k-icon icon-sortable"></i></div>
    </div></th><th title="表头2"><div class="k-th"><div class="c-ellipsis">表头2</div>
        <!---->
    </div></th>
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="第一行">第一行</td><td title="哈哈2">哈哈2</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="第二行">第二行</td><td title="哈哈2">哈哈2</td>
            </tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">自定义title内容</div><div class="desc"><p>给表格定义复杂的内容有两种方式，这取决于你使用哪种表格结构定义方式：</p>
<ol>
<li><code>scheme</code>属性定义方式：直接传入<code>vNode</code>当做<code>title</code>属性</li>
<li><code>TableColumn</code>组件定义方式：通过<code>title</code>扩展点传入自定义内容</li>
</ol>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-67"><div class="example-opera"><div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="表头"><div class="k-th"><div class="c-ellipsis">表头</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="多选1">多选1</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="多选2">多选2</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"></th>
            <th title="表头"><div class="k-th"><div class="c-ellipsis">表头</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-radio" style="" tabindex="0"><span class="k-wrapper"><input type="radio" v-model="checkedKey" value="0" tabindex="-1" name="k-table-radio" /></span></label></td>
                <td title="单选1">单选1</td>
            </tr><tr class=""><td><label class="k-radio" style="" tabindex="0"><span class="k-wrapper"><input type="radio" v-model="checkedKey" value="1" tabindex="-1" name="k-table-radio" /></span></label></td>
                <td title="单选2">单选2</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr>
            <th title="表头"><div class="k-th"><div class="c-ellipsis">表头</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class="">
                <td title="不可选1">不可选1</td>
            </tr><tr class="">
                <td title="不可选2">不可选2</td>
            </tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">选择框的类型</div><div class="desc"><p>通过<code>checkType</code>设置行选择类型，<code>checkbox</code>多选(默认) / <code>radio</code>单选 / <code>none</code>不可选</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-92"><div class="example-opera"><div><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"></th>
            <th title="radio不指定rowKey"><div class="k-th"><div class="c-ellipsis">radio不指定rowKey</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class="k-checked"><td><label class="k-radio k-checked" style="" tabindex="0"><span class="k-wrapper"><input type="radio" v-model="checkedKey" value="0" tabindex="-1" name="k-table-radio" checked /></span></label></td>
                <td title="赋默认值选中">赋默认值选中</td>
            </tr><tr class=""><td><label class="k-radio" style="" tabindex="0"><span class="k-wrapper"><input type="radio" v-model="checkedKey" value="1" tabindex="-1" name="k-table-radio" /></span></label></td>
                <td title="不选中">不选中</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"></th>
            <th title="radio指定为item的id"><div class="k-th"><div class="c-ellipsis">radio指定为item的id</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class="k-checked"><td><label class="k-radio k-checked" style="" tabindex="0"><span class="k-wrapper"><input type="radio" v-model="checkedKey" value="yes" tabindex="-1" name="k-table-radio" checked /></span></label></td>
                <td title="选中">选中</td>
            </tr><tr class=""><td><label class="k-radio" style="" tabindex="0"><span class="k-wrapper"><input type="radio" v-model="checkedKey" value="no" tabindex="-1" name="k-table-radio" /></span></label></td>
                <td title="不选中">不选中</td>
            </tr>
</tbody>
</table>
</div></div><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="checkbox不指定rowKey"><div class="k-th"><div class="c-ellipsis">checkbox不指定rowKey</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class="k-checked"><td><label class="k-checkbox k-checked" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" checked /></span></label></td>
                <td title="赋默认值选中">赋默认值选中</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="不选中">不选中</td>
            </tr><tr class="k-checked"><td><label class="k-checkbox k-checked" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="2" tabindex="-1" name="k-table-checkbox" checked /></span></label></td>
                <td title="赋默认值选中，可设置多个">赋默认值选中，可设置多个</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="checkbox指定为item的id"><div class="k-th"><div class="c-ellipsis">checkbox指定为item的id</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class="k-checked"><td><label class="k-checkbox k-checked" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="yes" tabindex="-1" name="k-table-checkbox" checked /></span></label></td>
                <td title="选中">选中</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="no" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="不选中">不选中</td>
            </tr>
</tbody>
</table>
</div></div></div></div><div class="example-desc"><div class="title">行选中</div><div class="desc"><p>通过<code>checkedKey</code>（radio类型）或者<code>checkedKeys</code>（checkbox类型）来控制哪些列被选中，默认他们的取值为行的索引或索引数组。但我们也可以通过<code>rowKey</code>函数为每一行指定唯一的<code>key</code>，此时他们的取值为<code>key</code>值或<code>key</code>值的数组</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-101"><div class="example-opera"><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="不整行选中"><div class="k-th"><div class="c-ellipsis">不整行选中</div>
        <!---->
    </div></th><th title="B"><div class="k-th"><div class="c-ellipsis">B</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="A">A</td><td title="B">B</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="A">A</td><td title="点我不会选中整行">点我不会选中整行</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="整行选中"><div class="k-th"><div class="c-ellipsis">整行选中</div>
        <!---->
    </div></th><th title="B"><div class="k-th"><div class="c-ellipsis">B</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="A">A</td><td title="任何位置都可以哦～">任何位置都可以哦～</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="A">A</td><td title="点我会选中整行">点我会选中整行</td>
            </tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">整行选中</div><div class="desc"><p>当行可选时，默认点击该行的任意区域都可选中或取消选中，但我们可以通过将<code>rowCheckbable</code>设为<code>false</code>来关闭这一特性。</p>
<blockquote>
<p>选中的数据默认会在每一行的元素上有<code>k-checked</code>样式名</p>
</blockquote>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-110"><div class="example-opera"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="偶数行背景变换"><div class="k-th"><div class="c-ellipsis">偶数行背景变换</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class="even"><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="1">1</td>
            </tr><tr class="odd"><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="2">2</td>
            </tr><tr class="even"><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="2" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="3">3</td>
            </tr><tr class="odd"><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="3" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="4">4</td>
            </tr><tr class="even"><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="4" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="5">5</td>
            </tr>
</tbody>
</table>
</div></div><div class="example-desc"><div class="title">行样式</div><div class="desc"><p><code>rowClassName</code>：给行添加样式，类型<code>Function</code>，默认：<code>function(value, index) {  }</code>，该函数返回的字符串将被当做<code>className</code>添加到该行上</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-116"><div class="example-opera"><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr>
            <!---->
            <th title="点击整行展开内容"><div class="k-th"><div class="c-ellipsis">点击整行展开内容</div>
        <!---->
    </div></th>
        </tr></thead>
    <tbody>
    <tr class="">
                <td title="Javey">Javey</td>
            </tr><tr class="">
                <td title="Jiawei">Jiawei</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr>
            <!---->
            <th title="点击+，展开内容"><div class="k-th"><div class="c-ellipsis">点击+，展开内容</div>
        <!---->
    </div></th>
        </tr></thead>
    <tbody>
    <tr class="">
                <td><div><i class="icon ion-ios-plus-outline"></i>
                    <!---->Javey<!---->
                </div></td>
            </tr><tr class="">
                <td><div><i class="icon ion-ios-plus-outline"></i>
                    <!---->Jiawei<!---->
                </div></td>
            </tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">行展开</div><div class="desc"><p>指定行展开后的模板函数<code>expand</code>即可实现点击当前行时，展开内容。是否支持点击该行任何区域都展开内容，是由<code>rowExpandable</code>控制的，默认情况下它为<code>true</code>。你也可以将它设为<code>false</code>，来自定义展开逻辑。例如：点击某个<code>icon</code>后展开改行，而点击其它元素无效。自定义展开逻辑，需要调用<code>shrinkRow(key)</code>和<code>expandRow(key)</code>方法来实现收起和展开，或者修改<code>expandedKeys</code>属性值，来指定哪些<code>key</code>对应的行展开。</p>
<ul>
<li><code>expand</code>：指定行展开后要展示的模板内容，类型<code>Function</code>，默认<code>undefined</code></li>
<li><code>rowExpandable</code>：是否点击整行即展开，类型<code>Boolean</code>，默认<code>true</code></li>
<li><code>expandedKeys</code>：指定哪些<code>key</code>对应行展开，类型<code>Array</code>，默认<code>[]</code></li>
</ul>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-118"><div class="example-opera"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="奇数行不可点击"><div class="k-th"><div class="c-ellipsis">奇数行不可点击</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="1">1</td>
            </tr><tr class="k-disabled"><td><label class="k-checkbox k-disabled" style=""><span class="k-wrapper"><input type="checkbox" disabled v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="2">2</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="2" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="3">3</td>
            </tr><tr class="k-disabled"><td><label class="k-checkbox k-disabled" style=""><span class="k-wrapper"><input type="checkbox" disabled v-model="checkedKeys" value="3" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="4">4</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="4" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="5">5</td>
            </tr>
</tbody>
</table>
</div></div><div class="example-desc"><div class="title">禁用行可选</div><div class="desc"><p><code>disableRow</code>：禁用某一行可选状态，类型：<code>Function</code>，默认：<code>function(data, index) { return false }</code>，该函数如果返回<code>true</code>，则表示禁用该行可选</p>
<blockquote>
<p>禁用的数据默认会在每一行的元素上有<code>k-disabled</code>样式</p>
</blockquote>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-122"><div class="example-opera"><div class="wrapper"><div class="k-table-wrapper" style=""><div class="k-fixed" style="padding-right:0px;"><table class="k-table">
            <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="100px"><div class="k-th"><div class="c-ellipsis">100px</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
        </table></div>
    <div class="k-scroll" style="max-height:100px;"><table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="100px"><div class="k-th"><div class="c-ellipsis">100px</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="表头固定，但内容没有超出最高高度">表头固定，但内容没有超出最高高度</td>
            </tr>
</tbody>
</table></div>
</div><div class="k-table-wrapper" style=""><div class="k-fixed" style="padding-right:0px;"><table class="k-table">
            <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="100px"><div class="k-th"><div class="c-ellipsis">100px</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
        </table></div>
    <div class="k-scroll" style="max-height:100px;"><table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="100px"><div class="k-th"><div class="c-ellipsis">100px</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="表头固定啦">表头固定啦</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="下拉">下拉</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="2" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="yeah!">yeah!</td>
            </tr>
</tbody>
</table></div>
</div></div></div><div class="example-desc"><div class="title">表头固定</div><div class="desc"><p><code>fixHeader</code>：设置表头固定，类型<code>Boolean</code> | <code>Number</code>，默认：<code>false</code></p>
<ol>
<li>如果取值为<code>Boolean</code>，<code>false</code>表示不固定表头，<code>true</code>表示固定高度，但需要自己定义表格高度</li>
<li>如果取值为<code>Number</code>，则表示，当表格超出该高度时即展示滚动条，并固定表头</li>
</ol>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-125"><div class="example-opera"><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="表头1"><div class="k-th"><div class="c-ellipsis">表头1</div>
        <!---->
    </div></th><th title="表头2"><div class="k-th"><div class="c-ellipsis">表头2</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr><td class="k-no-data" colspan="3">/(ㄒoㄒ)/~~ 没有找到亲要的数据哦~</td></tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="表头1"><div class="k-th"><div class="c-ellipsis">表头1</div>
        <!---->
    </div></th><th title="表头2"><div class="k-th"><div class="c-ellipsis">表头2</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr><td class="k-no-data" colspan="3"><div>这里没有数据(自定义版本)</div></td></tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="表头1"><div class="k-th"><div class="c-ellipsis">表头1</div>
        <!---->
    </div></th><th title="表头2"><div class="k-th"><div class="c-ellipsis">表头2</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr><td class="k-no-data" colspan="3"><div style="color: red">没有数据</div></td></tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">自定义无内容时的展示信息</div><div class="desc"><p>当<code>data</code>为空数组<code>[]</code>时, 可设置<code>noDataTemplate</code>来展示提示信息（默认为： /(ㄒoㄒ)/~~ 没有找到亲要的数据哦~）。或者你也可以通过<code>no-data</code>扩展点，来定义内容</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-126"><div class="example-opera"><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th class="k-sortable" title="姓名"><div class="k-th"><div class="c-ellipsis">姓名</div>
        <div class="k-sort"><i class="k-icon icon-sortable"></i></div>
    </div></th><th class="k-sortable" title="年龄"><div class="k-th"><div class="c-ellipsis">年龄</div>
        <div class="k-sort"><i class="k-icon icon-sortable"></i></div>
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="aa">aa</td><td title="1">1</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="cc">cc</td><td title="5">5</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="2" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="bb">bb</td><td title="9">9</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <!---->
            <th class="k-sortable" title="姓名"><div class="k-th"><div class="c-ellipsis">姓名</div>
        <div class="k-sort"><i class="k-icon icon-sortable"></i></div>
    </div></th><th class="k-sortable" title="年龄"><div class="k-th"><div class="c-ellipsis">年龄</div>
        <div class="k-sort"><i class="k-icon icon-sortable"></i></div>
    </div></th>
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="aa">aa</td><td title="1">1</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="cc">cc</td><td title="5">5</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="2" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="bb">bb</td><td title="9">9</td>
            </tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">排序</div><div class="desc"><p>通过<code>sort</code>属性来指定当前表格的排序方式。它的数据格式如下：</p>
<p><code>{ key: &#39;当前排序的列的key&#39;, type: &#39;当前排序方式（desc: 降序，asc: 升序）&#39; }</code></p>
<p>当该列可排序时，只需要在定义表格结构的<code>scheme</code>或者<code>TableColumn</code>中加入<code>sortable</code>并且取值为<code>true</code>即可</p>
<p>当排序方式改变时，可以监听默认事件<code>$change:sort</code>来执行自定义排序逻辑</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-129"><div class="example-opera"><div class="k-table-wrapper k-border" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="类型"><div class="k-th"><div class="c-ellipsis">类型</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="border类型">border类型</td>
            </tr>
</tbody>
</table>
</div></div><div class="example-desc"><div class="title">类型</div><div class="desc"><p>通过<code>type</code>设置表格的类型：<code>default</code> | <code>border</code></p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-130"><div class="example-opera"><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="名称"><div class="k-th"><div class="c-ellipsis">名称</div>
        <!---->
    </div></th><th title="状态(全部)"><div class="k-th"><div class="k-group"><i class="k-arrow ion-ios-arrow-down" _hasSaved></i><!--MoveWrapper--><div class="c-ellipsis">状态<!---->
                <!---->(全部)<!---->
            </div></div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="主机1">主机1</td><td title="运行中">运行中</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="主机2">主机2</td><td title="已关闭">已关闭</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="2" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="主机3">主机3</td><td title="运行中">运行中</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <!---->
            <th title="名称"><div class="k-th"><div class="c-ellipsis">名称</div>
        <!---->
    </div></th><th title="状态(全部)"><div class="k-th"><div class="k-group"><i class="k-arrow ion-ios-arrow-down" _hasSaved></i><!--MoveWrapper--><div class="c-ellipsis">状态<!---->
                <!---->(全部)<!---->
            </div></div>
        <!---->
    </div></th>
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="主机1">主机1</td><td title="运行中">运行中</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="主机2">主机2</td><td title="已关闭">已关闭</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="2" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="主机3">主机3</td><td title="运行中">运行中</td>
            </tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">分组</div><div class="desc"><p>分组需要两个<code>group</code>来指定：</p>
<ol>
<li>第一个是<code>Table</code>上的<code>group</code>属性，该属性指定当前分组的方式，形式为：<code>{[&quot;分组的列的key&quot;]: [&quot;当前列选择的分组的值&quot;]}</code></li>
<li>第二个是<code>TableColumn</code>或者<code>scheme</code>上的<code>group</code>属性，该属性指定当前列有哪些可选的分组方式，
如果该列支持多选，还可以添加<code>multiple</code>属性，默认为单选。形式为：<code>[{label: &quot;分组展示文案&quot;, value: &quot;选择后的值&quot;}]</code></li>
</ol>
<p>当分组方式改变时，可以监听默认事件<code>$change:group</code>来执行自定义分组逻辑</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-132"><div class="example-opera"><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="通过minColWidth控制最小宽度100px"><div class="k-resize"></div><div class="k-th"><div class="c-ellipsis">通过minColWidth控制最小宽度100px</div>
        <!---->
    </div></th><th title="单独设置最小宽度300px"><div class="k-resize"></div><div class="k-th"><div class="c-ellipsis">单独设置最小宽度300px</div>
        <!---->
    </div></th><th title="标题"><div class="k-resize"></div><div class="k-th"><div class="c-ellipsis">标题</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="A">A</td><td title="B">B</td><td title="C">C</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="A">A</td><td title="B">B</td><td title="C">C</td>
            </tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">表头是否可拖动</div><div class="desc"><p><code>resizable</code>：表头是否可拖动，类型<code>Boolean</code>，<code>false</code>(默认)</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div>
    </div><div class="api">
        <div><h1 id='header-%E5%B1%9E%E6%80%A7'>属性</h1><h2 id='header-Table'>Table</h2><div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>属性</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
                        <tbody><tr>
<td>data</td>
<td>表格数据</td>
<td><code>Array</code></td>
<td><code>[]</code></td>
</tr>
<tr>
<td>scheme</td>
<td>定义表格结构：表头，单元格内容</td>
<td><code>Object</code></td>
<td><code>{}</code></td>
</tr>
<tr>
<td>checkType</td>
<td>当行可选择时，定义选择的类型: 单选 <code>&quot;radio&quot;</code> , 复选 <code>&quot;checkbox&quot;</code>, 不可选<code>&quot;none&quot;</code></td>
<td><code>&quot;checkbox&quot;</code> &#124; <code>&quot;radio&quot;</code> &#124; <code>&quot;none&quot;</code></td>
<td><code>&quot;checkbox&quot;</code></td>
</tr>
<tr>
<td>noDataTemplate</td>
<td>当没有数据的时候展示的内容</td>
<td><code>String</code> &#124; <code>vNode</code></td>
<td><code>&quot;/(ㄒoㄒ)/~~ 没有找到亲要的数据哦~&quot;</code></td>
</tr>
<tr>
<td>fixHeader</td>
<td>表头固定，给定需要固定高度的具体数值，当超出改值时，展示滚动条</td>
<td><code>Number</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>rowKey</td>
<td>设置行的key</td>
<td><code>Function</code></td>
<td>function(value, index) {  return <code>index</code>; }</td>
</tr>
<tr>
<td>checkedKeys</td>
<td>通过<code>key</code>数组来指定哪些行被选中（针对多选）</td>
<td><code>Array</code></td>
<td><code>[]</code></td>
</tr>
<tr>
<td>checkedKey</td>
<td>通过<code>key</code>指定哪行被选中（针对单选）</td>
<td><code>String</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>resizable</td>
<td>是否可以表头拖动</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>rowCheckable</td>
<td>当行可选时，是否点击该行任意区域都可选中</td>
<td><code>Boolean</code></td>
<td><code>true</code></td>
</tr>
<tr>
<td>rowClassName</td>
<td>通过一个函数定义行的<code>className</code>，该函数会传入该行数据和索引当做参数，返回的字符串将被设为该行<code>className</code></td>
<td><code>Function</code></td>
<td><code>function(value, index) {  }</code></td>
</tr>
<tr>
<td>disableRow</td>
<td>定义行禁用可选的逻辑，返回<code>true</code>，则改行被禁用选择</td>
<td><code>Function</code></td>
<td><code>function(data, index) { return false }</code></td>
</tr>
<tr>
<td>rowExpandable</td>
<td>是否点击改行任意区域即展开</td>
<td><code>Boolean</code></td>
<td><code>true</code></td>
</tr>
<tr>
<td>expand</td>
<td>通过函数指定行展开后要展示的模板内容</td>
<td><code>Function</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>expandedKeys</td>
<td>通过<code>key</code>来指定哪些行展开</td>
<td><code>Array</code></td>
<td><code>[]</code></td>
</tr>
<tr>
<td>type</td>
<td>表格类型，默认左右无边框，<code>&quot;border&quot;</code>类型会添加边框</td>
<td><code>&quot;default&quot;</code> &#124; <code>&quot;border&quot;</code></td>
<td><code>&quot;default&quot;</code></td>
</tr>
<tr>
<td>sort</td>
<td>排序，详见示例说明</td>
<td><code>Object</code></td>
<td><code>{}</code></td>
</tr>
<tr>
<td>group</td>
<td>分组，详见示例说明</td>
<td><code>Object</code></td>
<td><code>{}</code></td>
</tr>
<tr>
<td>minColWidth</td>
<td>指定所有列拖动时的最小宽度</td>
<td><code>Number</code></td>
<td><code>40</code></td>
</tr>
</tbody>
                    </table>
                </div><h2 id='header-TableColumn'>TableColumn</h2><p>除了通过<code>Table</code>的<code>scheme</code>属性指定表格的结构外，还以通过<code>TableColumn</code>来指定，它的属性值跟<code>scheme</code>数据结构一一对应</p>
<div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>属性</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
                        <tbody><tr>
<td>title</td>
<td>标题</td>
<td><code>String</code></td>
<td><code>&quot;&quot;</code></td>
</tr>
<tr>
<td>template</td>
<td>指定当前列，单元格渲染模板函数</td>
<td><code>Function</code></td>
<td><code>(data, index) =&gt; {}</code>,</td>
</tr>
<tr>
<td>key</td>
<td>指定当前列的<code>key</code>，<strong>必须指定，并且为了保证顺序正确，不要以数字开头</strong></td>
<td><code>String</code></td>
<td><code>&quot;&quot;</code></td>
</tr>
<tr>
<td>sortable</td>
<td>是否可排序</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>width</td>
<td>列宽，可以指定百分比或像素(像素不需要加单位)</td>
<td><code>String</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>group</td>
<td>指定分组数组，每一项格式为<code>{value: &#39;选中后的值&#39;, label: &#39;展示的文案&#39;}</code></td>
<td><code>Array&lt;Object&gt;</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>multiple</td>
<td>分组是否支持多选</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>minWidth</td>
<td>指定当前列拖动时的最小宽度，优先级高于<code>Table</code>的<code>minColWidth</code></td>
<td><code>Number</code></td>
<td><code>40</code></td>
</tr>
</tbody>
                    </table>
                </div><h1 id='header-%E6%89%A9%E5%B1%95%E7%82%B9'>扩展点</h1><h2 id='header-Table'>Table</h2><div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>名称</th>
<th>说明</th>
</tr>
</thead>
                        <tbody><tr>
<td>no-data</td>
<td>自定义无数据展示模板</td>
</tr>
</tbody>
                    </table>
                </div><h2 id='header-TableColumn'>TableColumn</h2><div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>名称</th>
<th>说明</th>
</tr>
</thead>
                        <tbody><tr>
<td>title</td>
<td>自定义复杂表头内容</td>
</tr>
</tbody>
                    </table>
                </div><h1 id='header-%E6%96%B9%E6%B3%95'>方法</h1><h2 id='header-Table'>Table</h2><div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>方法名</th>
<th>说明</th>
<th>参数</th>
<th>返回值</th>
</tr>
</thead>
                        <tbody><tr>
<td>getCheckedData</td>
<td>获取选中数据信息</td>
<td>-</td>
<td><code>Array</code></td>
</tr>
<tr>
<td>checkAll</td>
<td>全部选中</td>
<td>-</td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>uncheckAll</td>
<td>全不选中</td>
<td>-</td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>isCheckAll</td>
<td>判断是否全选</td>
<td>-</td>
<td><code>Boolean</code></td>
</tr>
<tr>
<td>isChecked</td>
<td>判断某行是否选中</td>
<td><code>key</code></td>
<td><code>Boolean</code></td>
</tr>
<tr>
<td>checkRow</td>
<td>选中某行</td>
<td><code>key</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>uncheckRow</td>
<td>取消选中某行</td>
<td><code>key</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>expandRow</td>
<td>展开某行</td>
<td><code>key</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>shrinkRow</td>
<td>收起某行</td>
<td><code>key</code></td>
<td><code>undefined</code></td>
</tr>
</tbody>
                    </table>
                </div><h1 id='header-%E4%BA%8B%E4%BB%B6'>事件</h1><h2 id='header-Table'>Table</h2><div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>事件名</th>
<th>说明</th>
<th>参数</th>
</tr>
</thead>
                        <tbody><tr>
<td>$change:checked</td>
<td>选中的数据变化会触发的事件</td>
<td><code>instance, newValue, oldValue</code></td>
</tr>
</tbody>
                    </table>
                </div></div>
    </div></div></article></div></div>
    </div></div>
    <script src="/kpc/static/client.js" type="text/javascript"></script>
</body>
</html>