<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>表格</title>
    <link rel="stylesheet" href="/kpc/theme-kpc.css" />
</head>
<body>
    
    
    <div id="page"><div class="k-app">
    <div class="main-wrapper document-page"><div class="header-wrapper"><header><a class="logo" href="/">KPC</a><nav><a class="" href="/kpc/docs/getting-started/">教程</a><div class="border"></div></nav></header></div><div class="content-wrapper"><aside><div class="aside-wrapper"><div class="catalog-section"><ul><li>
                <!---->
                <a href="/kpc/docs/getting-started/">
                    <!---->快速开始<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/vue/">
                    <!---->Vue中使用<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/theme/">
                    <!---->定制主题<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/i18n/">
                    <!---->国际化<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/icon/">
                    <!---->字体icon<!---->
                </a></li><li>
                <!---->
                <a href="/kpc/docs/changelog/">
                    <!---->更新日志<!---->
                </a></li></ul></div><div class="catalog-section"><h5>组件</h5><ul><li>
                <!---->
                <a href="/kpc/components/button/">
                    <!---->Button<span>按钮</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/grid/">
                    <!---->Grid<span>栅格</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/input/">
                    <!---->Input<span>输入框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/radio/">
                    <!---->Radio<span>单选框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/checkbox/">
                    <!---->Checkbox<span>复选框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/select/">
                    <!---->Select<span>选择框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/spinner/">
                    <!---->Spinner<span>数字输入框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/datepicker/">
                    <!---->Datepicker<span>日期选择</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/slider/">
                    <!---->Slider<span>滑块</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/form/">
                    <!---->Form<span>表单</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/dialog/">
                    <!---->Dialog<span>弹窗</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/dropdown/">
                    <!---->Dropdown<span>下拉菜单</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/message/">
                    <!---->Message<span>全局提示</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/tooltip/">
                    <!---->Tooltip<span>提示弹层</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/progress/">
                    <!---->Progress<span>进度条</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/steps/">
                    <!---->Steps<span>步骤条</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/breadcrumb/">
                    <!---->Breadcrumb<span>面包屑</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/switch/">
                    <!---->Switch<span>开关</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/pagination/">
                    <!---->Pagination<span>分页</span>
                </a></li><li class="active">
                <!---->
                <a href="/kpc/components/table/">
                    <!---->Table<span>表格</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/tabs/">
                    <!---->Tabs<span>标签</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/transfer/">
                    <!---->Transfer<span>穿梭框</span>
                </a></li><li>
                <!---->
                <a href="/kpc/components/editable/">
                    <!---->Editable<span>可编辑文本</span>
                </a></li></ul></div><div class="aside-border transition"></div></div></aside><article><div class="article-head"><div class="title">表格</div><div class="edit-link">
                    如果你发现文档有问题，请帮忙在
                    <a target="_blank" href="https://github.com/ksc-fe/kpc/blob/master/components/table/index.md">github</a>
                    上修正该文档
                </div></div><div class="contents"><div><h1>示例</h1>
        <div class="example index-9"><div class="example-opera"><div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="表头1"><div class="k-th"><div class="c-ellipsis">表头1</div>
        <!---->
    </div></th><th title="表头2"><div class="k-th"><div class="c-ellipsis">表头2</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="第一行">第一行</td><td title="哈哈2">哈哈2</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="第二行">第二行</td><td title="哈哈2">哈哈2</td>
            </tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">基本用法</div><div class="desc"><p>上面是一个简单的Table<code>data</code>：可以设置表格展示的数据，类型<code>Array</code>，默认<code>[]</code></p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-34"><div class="example-opera"><div><p>{key: value}形式:</p><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="a只是个id"><div class="k-th"><div class="c-ellipsis">a只是个id</div>
        <!---->
    </div></th><th title="key-{String}形式"><div class="k-th"><div class="c-ellipsis">key-{String}形式</div>
        <!---->
    </div></th><th title="key为一个连续获取的字符串"><div class="k-th"><div class="c-ellipsis">key为一个连续获取的字符串</div>
        <!---->
    </div></th><th title="没有这个key"><div class="k-th"><div class="c-ellipsis">没有这个key</div>
        <!---->
    </div></th><th title="e也只是个id"><div class="k-th"><div class="c-ellipsis">e也只是个id</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td><a>虚拟DOM</a></td><td title="获取到了item.b">获取到了item.b</td><td title="item.c.c1">item.c.c1</td><td></td><td title="值形式">值形式</td>
            </tr>
</tbody>
</table>
</div><p>标签形式:</p><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <!---->
            <th title="a"><div class="k-th"><div class="c-ellipsis">a</div>
        <!---->
    </div></th><th title="key为一个连续获取的字符"><div class="k-th"><div class="c-ellipsis">key为一个连续获取的字符</div>
        <!---->
    </div></th><th title="key为一个连续获取的字符"><div class="k-th"><div class="c-ellipsis">key为一个连续获取的字符</div>
        <!---->
    </div></th><th width="400" title="这个宽度大一点400px"><div class="k-th"><div class="c-ellipsis">这个宽度大一点400px</div>
        <!---->
    </div></th>
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td><a>虚拟DOM</a></td><td title="item.c.c1">item.c.c1</td><td title="值形式">值形式</td><td title="获取到了item.b">获取到了item.b</td>
            </tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">定义表头信息</div><div class="desc"><p>第一种定义形式（传值）：<code>scheme</code>：定义表头信息，类型<code>Object</code>，默认<code>{}</code></p>
<ul>
<li><strong> <code>{key: value}</code> 说明：</strong></li>
</ul>
<div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>形式</th>
<th>描述</th>
</tr>
</thead>
                        <tbody><tr>
<td>key-{String}</td>
<td>根据每一行的<code>item</code>，获取<code>key</code>属性；若<code>key</code>为一个连续获取的字符（即：<code>item.c.c1</code>）会逐级获取，若没获取到，则为<code>undefined</code>。</td>
</tr>
<tr>
<td>key-{Object}</td>
<td><code>key</code>只作为这个表头的<code>ID</code>，实际获取的值为<code>{Object}</code>内<code>template</code>的返回值。<code>{Object}</code>内的<code>title</code>为要展示的表头信息，<code>template</code>方法返回这列要展示的数据（参数接收：每一行的<code>item</code>）。</td>
</tr>
</tbody>
                    </table>
                </div><ul>
<li>PS：<code>template</code>可以返回一个具体的值，也可以返回一个虚拟DOM。</li>
</ul>
<hr>
<p>另一种定义形式（标签）：<code>&lt;TableColumn&gt;&lt;/TableColumn&gt;</code></p>
<ul>
<li><strong> <code>&lt;TableColumn /&gt;</code>属性描述：</strong></li>
</ul>
<div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>属性</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
                        <tbody><tr>
<td>title</td>
<td>表头信息</td>
<td><code>String</code></td>
<td><code>[]</code></td>
</tr>
<tr>
<td>template</td>
<td>当前列的返回数据（遵守<code>{key-value}</code>形式中的规则）</td>
<td><code>Function</code></td>
<td><code>(data, index) { }</code></td>
</tr>
<tr>
<td>key</td>
<td>行的key值（遵守<code>{key-value}</code>形式中的规则）</td>
<td><code>String</code></td>
<td><code>&quot;&quot;</code></td>
</tr>
<tr>
<td>width</td>
<td>列宽</td>
<td><code>Number</code></td>
<td><code>undefined</code></td>
</tr>
</tbody>
                    </table>
                </div></div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-59"><div class="example-opera"><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="表头"><div class="k-th"><div class="c-ellipsis">表头</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="多选框">多选框</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"></th>
            <th title="表头"><div class="k-th"><div class="c-ellipsis">表头</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-radio" style="" tabindex="0"><span class="k-wrapper"><input type="radio" v-model="checkedKey" value="0" tabindex="-1" name="k-table-radio" /></span></label></td>
                <td title="单选框">单选框</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr>
            <th title="表头"><div class="k-th"><div class="c-ellipsis">表头</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class="">
                <td title="无选框">无选框</td>
            </tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">选择框的类型</div><div class="desc"><p><code>checkType</code>：设置选择框的类型，类型<code>String</code>，<code>checkbox</code>多选框(默认)/<code>radio</code>单选框/<code>none</code>无选框</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-69"><div class="example-opera"><div><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"></th>
            <th title="radio不指定rowKey"><div class="k-th"><div class="c-ellipsis">radio不指定rowKey</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class="k-checked"><td><label class="k-radio k-checked" style="" tabindex="0"><span class="k-wrapper"><input type="radio" v-model="checkedKey" value="0" tabindex="-1" name="k-table-radio" checked /></span></label></td>
                <td title="赋默认值选中">赋默认值选中</td>
            </tr><tr class=""><td><label class="k-radio" style="" tabindex="0"><span class="k-wrapper"><input type="radio" v-model="checkedKey" value="1" tabindex="-1" name="k-table-radio" /></span></label></td>
                <td title="不选中">不选中</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"></th>
            <th title="radio指定为item的id"><div class="k-th"><div class="c-ellipsis">radio指定为item的id</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class="k-checked"><td><label class="k-radio k-checked" style="" tabindex="0"><span class="k-wrapper"><input type="radio" v-model="checkedKey" value="yes" tabindex="-1" name="k-table-radio" checked /></span></label></td>
                <td title="选中">选中</td>
            </tr><tr class=""><td><label class="k-radio" style="" tabindex="0"><span class="k-wrapper"><input type="radio" v-model="checkedKey" value="no" tabindex="-1" name="k-table-radio" /></span></label></td>
                <td title="不选中">不选中</td>
            </tr>
</tbody>
</table>
</div></div><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="checkbox不指定rowKey"><div class="k-th"><div class="c-ellipsis">checkbox不指定rowKey</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class="k-checked"><td><label class="k-checkbox k-checked" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" checked /></span></label></td>
                <td title="赋默认值选中">赋默认值选中</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="不选中">不选中</td>
            </tr><tr class="k-checked"><td><label class="k-checkbox k-checked" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="2" tabindex="-1" name="k-table-checkbox" checked /></span></label></td>
                <td title="赋默认值选中，可设置多个">赋默认值选中，可设置多个</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="checkbox指定为item的id"><div class="k-th"><div class="c-ellipsis">checkbox指定为item的id</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class="k-checked"><td><label class="k-checkbox k-checked" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="yes" tabindex="-1" name="k-table-checkbox" checked /></span></label></td>
                <td title="选中">选中</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="no" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="不选中">不选中</td>
            </tr>
</tbody>
</table>
</div></div></div></div><div class="example-desc"><div class="title">行选中</div><div class="desc"><ul>
<li><code>rowKey</code>：设置行的<code>key</code>值，类型：<code>Function</code>，默认：行的<code>index</code></li>
<li><code>checkedKey</code>：设置/获取表格被选中的行信息（针对<code>radio</code>），类型：任何，控制是否选中会根据rowKey的设置判断。</li>
<li><code>checkedKeys</code>：设置/获取表格被选中的行信息（针对<code>checkbox</code>）类型：<code>Array</code>，可以设置多个，控制是否选中会根据rowKey的设置判断。</li>
</ul>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-89"><div class="example-opera"><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="不整行选中"><div class="k-th"><div class="c-ellipsis">不整行选中</div>
        <!---->
    </div></th><th title="B"><div class="k-th"><div class="c-ellipsis">B</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="A">A</td><td title="B">B</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="A">A</td><td title="点我不会选中整行">点我不会选中整行</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="整行选中"><div class="k-th"><div class="c-ellipsis">整行选中</div>
        <!---->
    </div></th><th title="B"><div class="k-th"><div class="c-ellipsis">B</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="A">A</td><td title="任何位置都可以哦～">任何位置都可以哦～</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="A">A</td><td title="点我会选中整行">点我会选中整行</td>
            </tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">整行选中</div><div class="desc"><p><code>rowCheckable</code>：是否点击整行任意位置后整行选中，类型<code>Boolean</code>，<code>true</code>(默认)</p>
<ul>
<li>选中的数据默认会在每一行的元素上有<code>k-checked</code>样式</li>
</ul>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-100"><div class="example-opera"><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="偶数行背景变换"><div class="k-th"><div class="c-ellipsis">偶数行背景变换</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class="turn-blue"><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="1">1</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="2">2</td>
            </tr><tr class="turn-blue"><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="2" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="3">3</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="3" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="4">4</td>
            </tr><tr class="turn-blue"><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="4" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="5">5</td>
            </tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">行样式</div><div class="desc"><p><code>rowClassName</code>：给行添加样式，类型<code>Function</code>，<code>function(value, index) {  }</code>(默认)</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-107"><div class="example-opera"><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr>
            <!---->
            <th title="点击整行展开内容"><div class="k-th"><div class="c-ellipsis">点击整行展开内容</div>
        <!---->
    </div></th>
        </tr></thead>
    <tbody>
    <tr class="">
                <td title="Javey">Javey</td>
            </tr><tr class="">
                <td title="Jiawei">Jiawei</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr>
            <!---->
            <th title="点击+，展开内容"><div class="k-th"><div class="c-ellipsis">点击+，展开内容</div>
        <!---->
    </div></th>
        </tr></thead>
    <tbody>
    <tr class="">
                <td><div><i class="icon ion-ios-plus-outline"></i>
                    <!---->Javey<!---->
                </div></td>
            </tr><tr class="">
                <td><div><i class="icon ion-ios-plus-outline"></i>
                    <!---->Jiawei<!---->
                </div></td>
            </tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">行展开</div><div class="desc"><p>指定行展开后的模板函数<code>expand</code>即可实现点击当前行时，展开内容。是否支持点击该行任何区域都展开内容，是由<code>rowExpandable</code>控制的，默认情况下它为<code>true</code>。你也可以将它设为<code>false</code>，来自定义展开逻辑。例如：点击某个<code>icon</code>后展开改行，而点击其它元素无效。自定义展开逻辑，需要调用<code>shrinkRow(key)</code>和<code>expandRow(key)</code>方法来实现收起和展开，或者修改<code>expandedKeys</code>属性值，来指定哪些<code>key</code>对应的行展开。</p>
<ul>
<li><code>expand</code>：指定行展开后要展示的模板内容，类型<code>Function</code>，默认<code>undefined</code></li>
<li><code>rowExpandable</code>：是否点击整行即展开，类型<code>Boolean</code>，默认<code>true</code></li>
<li><code>expandedKeys</code>：指定哪些<code>key</code>对应行展开，类型<code>Array</code>，默认<code>[]</code></li>
</ul>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-109"><div class="example-opera"><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="奇数行不可点击"><div class="k-th"><div class="c-ellipsis">奇数行不可点击</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="1">1</td>
            </tr><tr class="k-disabled"><td><label class="k-checkbox k-disabled" style=""><span class="k-wrapper"><input type="checkbox" disabled v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="2">2</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="2" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="3">3</td>
            </tr><tr class="k-disabled"><td><label class="k-checkbox k-disabled" style=""><span class="k-wrapper"><input type="checkbox" disabled v-model="checkedKeys" value="3" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="4">4</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="4" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="5">5</td>
            </tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">禁用行</div><div class="desc"><p><code>disableRow</code>：禁用某一行，类型<code>Function</code>，<code>function(data, index) { return false }</code>(默认)</p>
<ul>
<li>禁用的数据默认会在每一行的元素上有<code>k-disabled</code>样式</li>
</ul>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-112"><div class="example-opera"><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="false"><div class="k-th"><div class="c-ellipsis">false</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="false(默认)">false(默认)</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style=""><div class="k-fixed" style="padding-right:0px;"><table class="k-table">
            <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="true"><div class="k-th"><div class="c-ellipsis">true</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
        </table></div>
    <div class="k-scroll" style=""><table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="true"><div class="k-th"><div class="c-ellipsis">true</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="表头固定但是没有滚动条，展示不出效果">表头固定但是没有滚动条，展示不出效果</td>
            </tr>
</tbody>
</table></div>
</div><div class="k-table-wrapper" style=""><div class="k-fixed" style="padding-right:0px;"><table class="k-table">
            <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="100px"><div class="k-th"><div class="c-ellipsis">100px</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
        </table></div>
    <div class="k-scroll" style="max-height:100px;"><table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="100px"><div class="k-th"><div class="c-ellipsis">100px</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="表头固定啦">表头固定啦</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="下拉">下拉</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="2" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="yeah!">yeah!</td>
            </tr>
</tbody>
</table></div>
</div></div></div><div class="example-desc"><div class="title">表头固定</div><div class="desc"><p><code>fixHeader</code>：设置表头固定，类型<code>Boolean</code>，<code>false</code>(默认)</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-115"><div class="example-opera"><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="表头1"><div class="k-th"><div class="c-ellipsis">表头1</div>
        <!---->
    </div></th><th title="表头2"><div class="k-th"><div class="c-ellipsis">表头2</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr><td class="k-no-data" colspan="3">/(ㄒoㄒ)/~~ 没有找到亲要的数据哦~</td></tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="表头1"><div class="k-th"><div class="c-ellipsis">表头1</div>
        <!---->
    </div></th><th title="表头2"><div class="k-th"><div class="c-ellipsis">表头2</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr><td class="k-no-data" colspan="3"><div>这里没有数据(自定义版本)</div></td></tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="表头1"><div class="k-th"><div class="c-ellipsis">表头1</div>
        <!---->
    </div></th><th title="表头2"><div class="k-th"><div class="c-ellipsis">表头2</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr><td class="k-no-data" colspan="3"><div style="color: red">没有数据</div></td></tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">自定义无内容时的展示信息</div><div class="desc"><p>当data为<code>[]</code>时, 可设置<code>noDataTemplate</code>来展示你想展示的信息（默认为： /(ㄒoㄒ)/~~ 没有找到亲要的数据哦~）。或者你也可以通过<code>no-data</code>扩展点，来定义内容</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-118"><div class="example-opera"><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th class="k-sortable" title="姓名"><div class="k-th"><div class="c-ellipsis">姓名</div>
        <div class="k-sort"><i class="k-icon icon-sortable"></i></div>
    </div></th><th class="k-sortable" title="时间"><div class="k-th"><div class="c-ellipsis">时间</div>
        <div class="k-sort k-asc"><i class="k-icon icon-asc"></i></div>
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="a默认按照时间升序">a默认按照时间升序</td><td title="2">2</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="b 箭头方向默认的是向上的">b 箭头方向默认的是向上的</td><td title="1">1</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th class="k-sortable" title="姓名"><div class="k-th"><div class="c-ellipsis">姓名</div>
        <div class="k-sort"><i class="k-icon icon-sortable"></i></div>
    </div></th><th class="k-sortable" title="时间"><div class="k-th"><div class="c-ellipsis">时间</div>
        <div class="k-sort"><i class="k-icon icon-sortable"></i></div>
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="a无默认排序">a无默认排序</td><td title="2">2</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="b 观察箭头方向都是双向的">b 观察箭头方向都是双向的</td><td title="1">1</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <!---->
            <th title="姓名"><div class="k-th"><div class="c-ellipsis">姓名</div>
        <!---->
    </div></th><th class="k-sortable" title="时间(标签形式定义排序)"><div class="k-th"><div class="c-ellipsis">时间(标签形式定义排序)</div>
        <div class="k-sort k-asc"><i class="k-icon icon-asc"></i></div>
    </div></th>
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="a默认按照时间升序">a默认按照时间升序</td><td title="2">2</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="b 箭头方向默认的是向上的">b 箭头方向默认的是向上的</td><td title="1">1</td>
            </tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">排序</div><div class="desc"><p><code>sort</code>：排序，类型<code>Object</code>，<code>{}</code>(默认)</p>
<ul>
<li><code>sort</code>接收的对象包含两个属性,<code>key</code>表示你要排序的是哪一列，<code>type</code>表示需要将这一列升序还是降序排列。（<code>desc</code>降序，<code>asc</code>升序）</li>
<li>如果希望某列可以排序的话，在定义它的<code>scheme</code>时，需要添加<code>sortable: true</code>键值对。</li>
</ul>
<p>另一种定义表头信息方式<code>&lt;TableColumn sortable={{true}}&gt;&lt;/TableColumn&gt;</code></p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-119"><div class="example-opera"><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="姓名"><div class="k-th"><div class="c-ellipsis">姓名</div>
        <!---->
    </div></th><th title="时间"><div class="k-th"><div class="k-group"><i class="k-arrow ion-ios-arrow-down" _hasSaved></i><!--MoveWrapper--><div class="c-ellipsis">
                <!---->时间<!---->
                <!---->
            </div></div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="lihua">lihua</td><td title="10-12-12">10-12-12</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <!---->
            <th title="姓名"><div class="k-th"><div class="c-ellipsis">姓名</div>
        <!---->
    </div></th><th title="时间"><div class="k-th"><div class="k-group"><i class="k-arrow ion-ios-arrow-down" _hasSaved></i><!--MoveWrapper--><div class="c-ellipsis">
                <!---->时间<!---->
                <!---->
            </div></div>
        <!---->
    </div></th>
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="lihua(标签形式定义表头信息)">lihua(标签形式定义表头信息)</td><td title="10-12-12">10-12-12</td>
            </tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">分组</div><div class="desc"><p><code>group</code>：分组，类型<code>Array</code>，<code>{}</code>(默认)</p>
<ul>
<li><code>group</code>接收一个数组，数组每一项接收一个<code>{label: &#39;展示内容&#39;, value: &#39;值&#39;}</code>的对象来定义分组信息。</li>
</ul>
<p>另一种定义表头信息方式<code>&lt;TableColumn group={{[]}}&gt;&lt;/TableColumn&gt;</code></p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-121"><div class="example-opera"><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="类型"><div class="k-th"><div class="c-ellipsis">类型</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="defalut">defalut</td>
            </tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">table的类型</div><div class="desc"><p><code>type</code>：设置表格的类型，类型<code>String</code>，<code>&quot;default&quot;</code>(默认)</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.styl<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div><div class="example index-123"><div class="example-opera"><div class="no-data-template"><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="默认不可拖拽"><div class="k-th"><div class="c-ellipsis">默认不可拖拽</div>
        <!---->
    </div></th><th title="表头B"><div class="k-th"><div class="c-ellipsis">表头B</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="A">A</td><td title="B">B</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="A">A</td><td title="B">B</td>
            </tr>
</tbody>
</table>
</div><div class="k-table-wrapper" style="">
    <table class="k-table">
    <thead><tr><th class="k-th-check"><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="value" value tabindex="-1" /></span></label></th>
            <th title="设置为可拖拽"><div class="k-resize"></div><div class="k-th"><div class="c-ellipsis">设置为可拖拽</div>
        <!---->
    </div></th><th title="表头B"><div class="k-resize"></div><div class="k-th"><div class="c-ellipsis">表头B</div>
        <!---->
    </div></th>
            <!---->
        </tr></thead>
    <tbody>
    <tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="0" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="A">A</td><td title="B">B</td>
            </tr><tr class=""><td><label class="k-checkbox" style="" tabindex="0"><span class="k-wrapper"><input type="checkbox" v-model="checkedKeys" value="1" tabindex="-1" name="k-table-checkbox" /></span></label></td>
                <td title="A">A</td><td title="B">B</td>
            </tr>
</tbody>
</table>
</div></div></div><div class="example-desc"><div class="title">表头是否可拖动</div><div class="desc"><p><code>resizable</code>：表头是否可拖动，类型<code>Boolean</code>，<code>false</code>(默认)</p>
</div></div><div class="example-code"><div class="k-tabs" style="">
    <a class="k-tab">
                            <!---->index.vdt<!---->
                        </a><a class="k-tab">
                            <!---->index.js<!---->
                        </a>
</div><div class="code"></div></div></div>
    </div><div class="api"><h1 id='header-%E5%B1%9E%E6%80%A7'>属性</h1><h2 id='header-Table'>Table</h2><div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>属性</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
                        <tbody><tr>
<td>data</td>
<td>表格数据</td>
<td><code>Array</code></td>
<td><code>[]</code></td>
</tr>
<tr>
<td>scheme</td>
<td>表头信息</td>
<td><code>Object</code></td>
<td><code>{}</code></td>
</tr>
<tr>
<td>checkType</td>
<td>框的类型: 单选 radio , 复选 checkbox ,  没有 none</td>
<td><code>String</code></td>
<td><code>&quot;checkbox&quot;</code></td>
</tr>
<tr>
<td>noDataTemplate</td>
<td>当没有数据的时候展示信息</td>
<td><code>String</code> &#124; <code>vNode</code></td>
<td><code>&quot;/(ㄒoㄒ)/~~ 没有找到亲要的数据哦~&quot;</code></td>
</tr>
<tr>
<td>fixHeader</td>
<td>表头固定</td>
<td><code>Number</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>rowKey</td>
<td>设置行的key</td>
<td><code>Function</code></td>
<td>function(value, index) {  return <code>index</code>; }</td>
</tr>
<tr>
<td>checkedKeys</td>
<td>通过<code>key</code>数组来指定哪些行被选中（针对多选）</td>
<td><code>Array</code></td>
<td><code>[]</code></td>
</tr>
<tr>
<td>checkedKey</td>
<td>通过<code>key</code>指定哪行被选中（针对单选）</td>
<td><code>String</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>resizable</td>
<td>是否可以表头拖动</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>rowCheckable</td>
<td>是否整行选中</td>
<td><code>Boolean</code></td>
<td><code>true</code></td>
</tr>
<tr>
<td>rowClassName</td>
<td>设置行的class</td>
<td><code>Function</code></td>
<td><code>function(value, index) {  }</code></td>
</tr>
<tr>
<td>disableRow</td>
<td>禁用某一行</td>
<td><code>Function</code></td>
<td><code>function(data, index) { return false }</code></td>
</tr>
<tr>
<td>rowExpandable</td>
<td>是否点击整行展开</td>
<td><code>Boolean</code></td>
<td><code>true</code></td>
</tr>
<tr>
<td>expand</td>
<td>展开条件</td>
<td><code>Function</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>expandedKeys</td>
<td>哪些行展开</td>
<td><code>Array</code></td>
<td><code>[]</code></td>
</tr>
<tr>
<td>type</td>
<td>类型</td>
<td><code>String</code></td>
<td><code>&quot;default&quot;</code></td>
</tr>
<tr>
<td>sort</td>
<td>排序</td>
<td><code>Object</code></td>
<td><code>{}</code></td>
</tr>
<tr>
<td>group</td>
<td>分组</td>
<td><code>Object</code></td>
<td><code>{}</code></td>
</tr>
</tbody>
                    </table>
                </div><h2 id='header-TableColumn'>TableColumn</h2><p>除了通过<code>Table</code>的<code>scheme</code>属性指定表格的结构外，还以通过<code>TableColumn</code>来指定</p>
<div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>属性</th>
<th>说明</th>
<th>类型</th>
<th>默认值</th>
</tr>
</thead>
                        <tbody><tr>
<td>title</td>
<td>标题</td>
<td><code>String</code></td>
<td><code>&quot;&quot;</code></td>
</tr>
<tr>
<td>template</td>
<td>指定当前列，单元格渲染模板函数</td>
<td><code>Function</code></td>
<td><code>(data, index) =&gt; {}</code>,</td>
</tr>
<tr>
<td>key</td>
<td>指定当前列的<code>key</code>，<strong>必须指定</strong></td>
<td><code>String</code></td>
<td><code>&quot;&quot;</code></td>
</tr>
<tr>
<td>sortable</td>
<td>是否可排序</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
<tr>
<td>width</td>
<td>列宽，可以指定百分比或像素(不需要加单位)</td>
<td><code>String</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>group</td>
<td>指定分组数组，每一项格式为<code>{value: &#39;选中后的值&#39;, label: &#39;展示的文案&#39;}</code></td>
<td><code>Array&lt;Object&gt;</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>multiple</td>
<td>分组是否支持多选</td>
<td><code>Boolean</code></td>
<td><code>false</code></td>
</tr>
</tbody>
                    </table>
                </div><h1 id='header-%E6%89%A9%E5%B1%95%E7%82%B9'>扩展点</h1><h2 id='header-Table'>Table</h2><div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>名称</th>
<th>说明</th>
</tr>
</thead>
                        <tbody><tr>
<td>no-data</td>
<td>自定义无数据展示模板</td>
</tr>
</tbody>
                    </table>
                </div><h1 id='header-%E6%96%B9%E6%B3%95'>方法</h1><h2 id='header-Table'>Table</h2><div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>方法名</th>
<th>说明</th>
<th>参数</th>
<th>返回值</th>
</tr>
</thead>
                        <tbody><tr>
<td>getCheckedData</td>
<td>获取选中数据信息</td>
<td>-</td>
<td><code>Array</code></td>
</tr>
<tr>
<td>checkAll</td>
<td>全部选中</td>
<td>-</td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>uncheckAll</td>
<td>全不选中</td>
<td>-</td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>isCheckAll</td>
<td>判断是否全选</td>
<td>-</td>
<td><code>Boolean</code></td>
</tr>
<tr>
<td>isChecked</td>
<td>判断某行是否选中</td>
<td><code>key</code></td>
<td><code>Boolean</code></td>
</tr>
<tr>
<td>checkRow</td>
<td>选中某行</td>
<td><code>key</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>uncheckRow</td>
<td>取消选中某行</td>
<td><code>key</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>expandRow</td>
<td>展开某行</td>
<td><code>key</code></td>
<td><code>undefined</code></td>
</tr>
<tr>
<td>shrinkRow</td>
<td>收起某行</td>
<td><code>key</code></td>
<td><code>undefined</code></td>
</tr>
</tbody>
                    </table>
                </div><h1 id='header-%E4%BA%8B%E4%BB%B6'>事件</h1><h2 id='header-Table'>Table</h2><div class="k-table-wrapper k-border">
                    <table class="k-table">
                        <thead><tr>
<th>事件名</th>
<th>说明</th>
<th>参数</th>
</tr>
</thead>
                        <tbody><tr>
<td>$change:checked</td>
<td>选中的数据变化会触发的事件</td>
<td><code>instance, newValue, oldValue</code></td>
</tr>
</tbody>
                    </table>
                </div></div></div></article></div></div>
    </div></div>
    <script src="/kpc/static/client.js" type="text/javascript"></script>
</body>
</html>