@require('./variables.styl');

.k-table
    font-size $table-font-size
    table-layout fixed
    width 100%
    background $table-bg-color
    border-collapse collapse
    border-spacing 0
    color $table-color

    // thead
    thead
        background $table-thead-bg-color
        font-size $table-thead-font-size
        color $table-thead-color
        border-top $table-border-top
        border-bottom $table-border-bottom
    th
        padding $table-th-padding
        text-align $table-th-text-align 
        font-weight $table-th-font-weight
        position relative
    .k-th
        display flex

    // sortable
    .k-sortable
        cursor pointer
    .k-sort
        margin-left $table-sort-margin-left
        .k-icon
            font-size $table-sort-icon-font-size 

    // resizable
    .k-resize
        height 100%
        width $table-resize-width 
        position absolute
        top 0
        left 0
        cursor ew-resize

    // tbody
    tbody
        tr
            border-bottom $table-border-bottom
            &:hover
                background $table-tr-hover-bg-color
    td
        padding $table-td-padding
        word-break break-word

    // checkbox or radio
    .k-th-check
        width $table-check-width

    // no data
    .k-no-data
        text-align center

.k-table-wrapper
    overflow auto
    // fix header
    .k-fixed
        position relative
        z-index 1
        border-top $table-border-top
        border-bottom $table-border-bottom
        thead
            border none
    .k-scroll
        overflow auto
        table
            margin-top $table-fixed-margin-top 
