@require('../../styles/themes/default.styl')
@require('../select/variables.styl')

$table-font-size := unit(12 / $rem, rem)
$table-bg-color := #fff
$table-color := $text-color
$table-border-color := #f0f0f0
$table-border-bottom := 1px solid $table-border-color

// checkbox
$table-check-width := unit(36 / $rem, rem)

// thead
$table-thead-bg-color := linear-gradient(to bottom, #fff, #fafafa)
$table-thead-color := #3f3f3f
$table-thead-font-size := unit(12 / $rem, rem)
$table-th-padding := unit(11 / $rem, rem) unit(5 / $rem, rem) unit(11 / $rem, rem) unit(12 / $rem, rem)
$table-th-text-align := left
$table-th-font-weight := normal
$table-th-border-top := 1px solid $table-border-color 
$table-th-border-bottom := $table-th-border-top 
$table-border-right := 1px solid $table-border-color 
$table-border-left := 1px solid $table-border-color

// expanded
$table-expanded-tr-bg-color := #fdfcff

// tbody
$table-td-padding := unit(11 / $rem, rem) unit(5 / $rem, rem) unit(11 / $rem, rem) unit(12 / $rem, rem)
$table-tr-hover-bg-color := #f4f8fb
$table-tr-border := 1px solid $table-border-color

// sortable
$table-sort-margin-left := unit(10 / $rem, rem)
// $table-sort-icon-font-size := unit(16 / 12, em)
$table-sort-icon-width := unit(4 / $rem, rem)
$table-sort-icon-height := unit(11 / $rem, rem)
$table-sort-active-color := #a6a6a6
$table-sort-non-active-color := #ddd

// resizable
$table-resize-width := unit(5 / $rem, rem)

// group
$table-group-height := $select-dropdown-max-height
$table-group-margin-left := unit(10 / $rem, rem)
$table-group-item-hover-bg-color := $bg-color
$table-group-item-hover-color := $text-color
$table-group-item-active-color := $primary-color

// type: border
$table-border-thead-bg-color := #f7f7f7 

// stripe
$table-even-tr-bg-color := #f9f9fc

// selected
$table-tr-selected-bg-color := palette($primary-color, -4)
