@require('../../styles/themes/default.styl')

$table-font-size := unit(12 / 14, rem)
$table-bg-color := #fff
$table-color := $text-color
$table-border-color := #f0f0f0
$table-border-bottom := 1px solid $table-border-color

// checkbox
$table-check-width := unit(30 / 14, rem)

// thead
$table-thead-bg-color := linear-gradient(to bottom, #fff, #fafafa)
$table-thead-color := #3f3f3f
$table-thead-font-size := unit(16 / 12, em)
$table-th-padding := unit(12 / 14, rem) unit(5 / 14, rem) unit(12 / 14, rem) unit(12 / 14, rem)
$table-th-text-align := left
$table-th-font-weight := normal
$table-border-top := 1px solid $table-border-color 
$table-border-bottom := 1px solid $table-border-color

// tbody
$table-td-padding := $table-th-padding
$table-tr-hover-bg-color := #f4f8fb

// fix header
$table-fixed-margin-top := -44px

// sortable
$table-sort-margin-left := unit(10 / 16, em)
$table-sort-icon-font-size := unit(12 / 16, em)

// resizable
$table-resize-width := unit(5 / 16, em)
