.k-progress {
  position: relative;
  line-height: 1;
}
.k-progress.k-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.k-progress.k-bar .k-container {
  height: 1rem;
  border-radius: 1rem;
  background-color: #eaeef2;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  font-size: 0.857142857142857em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.k-progress.k-bar .k-content {
  position: relative;
  left: 0;
  top: 0;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.k-progress.k-bar .k-bg {
  background-color: #0a5eee;
  height: 100%;
  border-radius: 1rem;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  position: relative;
}
.k-progress.k-bar .k-inner-text {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  margin: 1px 3px;
  width: 100%;
  text-align: right;
  padding-right: 10px;
}
.k-progress.k-bar.k-success .k-bg {
  background: #4db500;
}
.k-progress.k-bar.k-error .k-bg {
  background: #db2828;
}
.k-progress.k-bar.k-active .k-bg:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  -webkit-animation: progress-bar-animation 2s ease infinite;
          animation: progress-bar-animation 2s ease infinite;
  border-radius: 14px;
}
.k-progress.k-bar.k-mini {
  font-size: 0.857142857142857em;
}
.k-progress.k-bar.k-mini .k-container {
  height: 0.357142857142857rem;
}
.k-progress.k-bar.k-small {
  font-size: 0.857142857142857em;
}
.k-progress.k-bar.k-small .k-container {
  height: 0.714285714285714rem;
}
.k-progress.k-bar .k-text {
  margin-left: 15px;
  width: 2.857142857142857rem;
}
.k-progress.k-circle {
  width: 6em;
  height: 6em;
  font-size: 1.428571428571429rem;
}
.k-progress.k-circle .k-canvas {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.k-progress.k-circle .k-meter,
.k-progress.k-circle .k-value,
.k-progress.k-circle .k-animate {
  fill: none;
}
.k-progress.k-circle .k-meter {
  stroke: #eaeef2;
}
.k-progress.k-circle .k-value {
  stroke: #0a5eee;
  stroke-linecap: round;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.k-progress.k-circle .k-animate {
  stroke: #fff;
  stroke-linecap: round;
}
.k-progress.k-circle .k-text {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.k-progress.k-circle.k-success .k-value {
  stroke: #4db500;
}
.k-progress.k-circle.k-error .k-value {
  stroke: #db2828;
}
.k-progress.k-circle.k-mini {
  width: 3.333333333333333em;
  height: 3.333333333333333em;
  font-size: 0.857142857142857rem;
}
.k-progress.k-circle.k-small {
  width: 5em;
  height: 5em;
  font-size: 1.142857142857143rem;
}
@-webkit-keyframes progress-bar-animation {
  from {
    opacity: 0.2;
    width: 1rem;
    margin-left: -1rem;
  }
  to {
    opacity: 0;
    width: 100%;
  }
}
@keyframes progress-bar-animation {
  from {
    opacity: 0.2;
    width: 1rem;
    margin-left: -1rem;
  }
  to {
    opacity: 0;
    width: 100%;
  }
}
