.c-btn
    display inline-block
    vertical-align middle
    text-align center
    width 112px
    height 39px
    line-height 39px
    font-size 12px
    cursor pointer
    border 1px solid #ffffff

.c-btn-white
    background #fff
    color #898989

.c-btn-blue
    background #148cec
    color #fff


.c-button-disabled
    background-color #f3f3f3!important
    cursor not-allowed!important
    color #898989!important

