.c-btn
    display inline-block
    vertical-align middle
    text-align center
    min-width 85px
    height 39px
    line-height 39px
    cursor pointer
    padding 0 13px
    color #898989
    font-size 12px
    .c-icon
        margin-right 10px
    &:hover
        background #148cec
        color #fff

.c-btn-white
    background #fff
    box-shadow 1px 1px 1px 0px #ccc

.c-btn-b-white
    background #fff
    border 1px solid #e5e5e5

.c-btn-blue
    background #148cec
    color #fff


.c-btn-disabled
    background-color #f3f3f3 !important
    cursor not-allowed !important
    color #898989 !important
