.c-checkbox
    display inline-block
    vertical-align middle
    width 14px
    height 14px
    background url(root + '/common/images/components/checkbox.png')
    input
        width 14px
        height 14px
        opacity 0
        filter: s('alpha(opacity=0)')
    &.checked
        background url(root + '/common/images/components/checkbox-checked.png')
