.c-checkbox
    .input-wrapper
        display inline-block
        vertical-align middle
        width 14px
        height 14px
        background url(root + '/common/images/components/checkbox.png')
    &.checked
        .input-wrapper
            background url(root + '/common/images/components/checkbox-checked.png')
    input
        width 14px
        height 14px
        opacity 0
        filter: s('alpha(opacity=0)')
    .label-wrapper
        display inline-block
        vertical-align middle
        line-height 16px
        margin-left 5px
