a
    color #5fafe4
    cursor pointer
    outline 0
    text-decoration none
ul, ol, li
    list-style none
    margin 0
    padding 0

select, input, button, textarea
    border 0
    outline none
    margin 0
    padding 0

table
    border-collapse collapse
    border-spacing 0

.c-v-line
    display inline-block
    border-left 1px solid #b7b7b7
    height 26px
.c-ellipsis
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
.c-clearfix
    zoom 1
    &:after
        clear both
        content ''
        display block
        font-size 0
        height 0
        visibility hidden

// 隐藏 & 显示
.c-hidden
    display none
    visibility hidden
.c-show
    display block
.c-invisible
    visibility hidden
.c-inline-block
    display inline-block
    vertical-align middle

// position
for name in relative absolute fixed static
    .c-{name}
        position name

// padding & margin
for size in 0 5 10 15 20 25 30 40 50
    .c-p-{size}
        padding unit(size, 'px') !important
    .c-m-{size}
        margin unit(size, 'px') !important
    for direction in top right bottom left
        .c-p-{substr(direction, 0, 1)}-{size}
            padding-{direction} unit(size, 'px') !important
        .c-m-{substr(direction, 0, 1)}-{size}
            margin-{direction} unit(size, 'px') !important

// 背景颜色
.c-bg-white
    background-color #fff

// 浮动
.c-float-r
    float right
.c-float-l
    float left

// 字体颜色
.c-color-default
    color defaultFontColor
.c-color-light-blue
    color #7e8d9e
.c-color-white
    color #fff
.c-color-light-black
    color #333
.c-color-blue
    color #148cec 
.c-color-pink
    color #f37575
.c-color-gray
    color #999
.c-color-green
    color #21af3f

// 动画
.animate-enter
    opacity 0
    filter s('alpha(opacity=0)')
.animate-enter.animate-enter-active
    opacity 1
    filter s('alpha(opacity=100)')
    transition linear all
    transition-duration 350ms
.animate-leave
    opacity 1
    filter s('alpha(opacity=100)')
.animate-leave.animate-leave-active
    opacity 0
    filter s('alpha(opacity=0)')
    transition linear all
    transition-duration 350ms

.c-center
    text-align center

.c-v-middle
    vertical-align middle

// 小标签，用于表格
.c-label
    width: 56px;
    height: 16px;
    display: inline-block;
    text-align: center;
    line-height: 16px;
    border-radius: 1px;
.c-label-green
    background #dff0d7
    color #588341
.c-label-red
    background #f2dede
    color #bb4945
.c-label-gray
    background #d9d9d9
    color #6e6e6e
