a
    color #5fafe4
    cursor pointer
    outline 0
    text-decoration none
ul, ol, li
    list-style none
    margin 0
    padding 0

select, input, button, textarea
    border 0
    outline none

.c-v-line
    display inline-block
    border-left 1px solid #b7b7b7
    height 26px
.c-ellipsis
    white-space nowrap
    overflow hidden
    text-overflow ellipsis
.c-clearfix
    zoom 1
    &:after
        clear both
        content ''
        display block
        font-size 0
        height 0
        visibility hidden
.c-hidden
    display none
    visibility hidden
.c-show
    display block
.c-invisible
    visibility hidden

for name in relative absolute fixed static
    .c-{name}
        position name

.c-select
    height 40px
    border-bottom 1px solid #dcdcdc
    background #fff
