.c-editable
    .c-icon-edit
        float right
        cursor pointer
        margin 10px 0 0 10px
    .c-ellipsis
        height 40px
        line-height 40px
    &.editing
        .c-ellipsis
            line-height inherit 
    .c-input
        width 100%
        box-sizing border-box
