.time-result
    width 243px
.date-show
    position relative
    float left
    margin-left 20px
    height 40px
    line-height 40px
    .date-content
        width 499px
        position absolute
        height 40px
        line-height 40px
        z-index 101
        background #fff
        padding: 2px 2px 2px 4px;
        border 1px solid #d7d7d7
        display none
        .c-input
            padding 0px
            height 24px
            line-height 24px
        .time-input
            width 40px
        .date-input
            width 70px
.time-confirm
    min-width 30px
    margin-left 5px
    height 32px
    line-height 32px
.icon-angle
    display inline-block
    vertical-align middle
    height 40px
    width 40px
    background #5faded url("/node_modules/kpc/src/common/images/select-arrow.png") no-repeat 13px 15px
    text-align center
    cursor pointer