.c-icon
    display inline-block
    width 20px
    height 20px
    vertical-align middle
    background-repeat no-repeat
for name in mic phone help user
    .c-icon-{name}
        background-image url(root + '/common/images/icons/' + name + '.png')

.c-icon-user
    width 22px
    height 22px
