.c-icon
    display inline-block
    vertical-align middle
    background-repeat no-repeat
    width 20px
    height 20px

for $name in mic phone help user search warn
    urlStr = '/common/images/icons/%s.png' % $name
    .c-icon-{$name}
        background-image url(root + urlStr)

.c-icon-user-circle
    width 22px
    height 22px

.c-icon-search
    width 25px
    height 25px

.c-icon-warn
    width 45px
    height 45px

for name in compute network cdn ebs monitor rds safe services nav-arrow-down nav-arrow-right user-circle logout add refresh delete enable disable new edit video
    .c-icon-{name}    
        background-image url(root + '/common/images/icons/' + name + '.png')
    .c-icon-{name}-hover
    .c-hover:not(.c-btn-disabled):hover .c-icon-{name}
        background-image url(root + '/common/images/icons/' + name + '-hover.png')

.c-icon-nav-arrow-down-hover
    width 8px
    height 5px
.c-icon-nav-arrow-right
    width 5px
    height 8px
.c-icon-logout
.c-icon-logout-hover
    width 23px
.c-icon-services
    width 21px
    height 22px
.c-icon-video
.c-icon-video-hover
    width 22px

for name in dot
    .c-icon-{name}
        background-image url(root + '/common/images/icons/' + name + '.png')
        width 4px
        height 4px
    .c-icon-{name}-hover
        background-image url(root + '/common/images/icons/' + name + '-hover.png')
        width 4px
        height 4px

// 13px
for name in add-circle
    .c-icon-{name}
        background-image url(root + '/common/images/icons/' + name + '.png')
        width 13px
        height 13px

.c-icon-arrow-down
    width: 0;
    height: 0;
    overflow: hidden;
    border-width: 5px 5px 0 5px;
    border-color: #858585 transparent transparent transparent;
    border-style: solid;

.c-icon-loading
    background-image url(root + '/common/images/loading.gif')
    background-position center center
    background-repeat no-repeat
