.c-input
    display inline-block
    height 38px
    background #fff
    border 1px solid #e5e5e5
    vertical-align middle
    padding 0 10px

.c-input-group
    position relative
    display table
    .c-input
        display table-cell
    .c-addon
        display table-cell
        text-align center
        border 1px solid #e5e5e5
        border-left 0
        background-color #5faded
        color #fff
        width 39px
        cursor pointer
    button.c-addon
        display inline-block
        line-height 38px
        width 40px
