.c-input
    display inline-block
    box-sizing border-box
    height 40px
    width 172px
    background #fff
    border 1px solid #e5e5e5
    vertical-align middle
    padding 0 10px
.c-input.no-border
    border 0
    border-bottom 1px solid #e5e5e5

.c-input-group
    position relative
    display table
    .c-input
        display table-cell
    .c-addon
        display table-cell
        text-align center
        border 1px solid #e5e5e5
        border-left 0
        background-color #5faded
        color #fff
        width 39px
        cursor pointer
    button.c-addon
        display inline-block
        line-height 38px
        width 40px

.c-form-group
    zoom 1
    margin-bottom 20px
    &:after
        clear both
        content ''
        display block
        font-size 0
        height 0
        visibility hidden
    .label
        display block
        float left
        line-height 40px
        width 100px
        text-align right
        margin-right 20px
    .interaction
        float left
        .c-input
            width 300px
