html
    font-family 'Microsoft Yahei'
    -webkit-text-size-adjust 100%
    -ms-text-size-adjust 100%
    height 100%
body
    margin 0
    font-size 14px
    color defaultFontColor 
    background #efefef
    height 100%

// layout
#header
    height 47px
    line-height 47px
    border-bottom 1px solid #d7d7d7
    background #fff
    .logo-wrapper
        float left
        margin 0 8px
        height 47px
    .header-logo
        display inline-block
        width 26px
        height 26px
        margin 11px 8px 0
    .bgi-ks
        background url(root + '/common/images/logo-ks.png') no-repeat
    .bgi-home
        background url(root + '/common/images/logo-home.png') no-repeat

    .docker-wrapper
        float right
        .docker-item
            float left
            margin-right 24px 
    .user-wrapper
        display block
        .c-icon-arrow-down
            border-color #5fafe4 transparent transparent transparent
    .user-layer
        display none
        position absolute
        background #fff
        width 140px
        border 1px solid #d7d7d7
        border-top 1px solid #cde5ff
        z-index 999
        a
            color #898989
            display block
        .c-icon
            margin 0 5px 0 15px
        .arrow
            position absolute
            width 10px
            height 14px
            background url(root + '/common/images/user-layer.png') no-repeat
            right -5px
            top -14px
        li
            border-bottom 1px solid #eee
        li:hover
            background #148cec
            a
                color #fff
    #chat_link_wrapper
        a
            color defaultFontColor

#main
    min-height 100%
    min-height calc(100% - 48px)
    background url(root + '/common/images/bg-nav-line.png') left 0 no-repeat false

#sidebar
    width 200px
    min-height 100%
    background #2f323a
    float left
    a
        color #8d93a3
    .active
        .title 
            color #fff
    .title
        display block
        padding 0 16px
        border-bottom 1px solid #25272e
        font-weight bold
        height 64px
        line-height 64px
    .nav-title
        margin-left 5px
    .arrow
        float right
    .c-icon-nav-arrow-right
        margin 28px 2px 0 0
    .c-icon-nav-arrow-down-hover
        margin 30px 0 0
    ul
        display none
        padding 0 16px
        border-bottom 1px solid #25272e
    .active
        ul
            display block
    li
        position relative
        height 32px
        line-height 32px
        margin 18px 0 18px 3px
        .c-icon
            position absolute
            top 14px
            left 10px
        a
            display block
            padding-left 25px
    li.active
        border-left 3px solid #148cec
        background #3f4249
        margin 18px 0
        a
            color #fff

#content
    overflow hidden
#container
        padding 16px 24px
