html
    font-family 'Microsoft Yahei'
    -webkit-text-size-adjust 100%
    -ms-text-size-adjust 100%
body
    margin 0
    font-size 14px
    color #333

// layout
header
    height 47px
    line-height 47px
    border-bottom 1px solid #d7d7d7
    .logo-wrapper
        float left
        margin 0 8px
    .header-logo
        display inline-block
        width 26px
        height 26px
        margin 11px 8px 0
    .bgi-ks
        background url('/src/common/images/logo-ks.png') no-repeat
    .bgi-home
        background url('/src/common/images/logo-home.png') no-repeat

    .docker-wrapper
        float right
        .docker-item
            float left
            margin-right 24px 
