display-flex()
    display -webkit-flex
    display -webkit-box
    //display -moz-box
    display -ms-flexbox
    display flex

flex()
    -webkit-flex arguments
    -webkit-box-flex arguments
    -moz-box-flex arguments
    -ms-flex arguments
    flex arguments

box-orient()
    -webkit-box-orient arguments
    -moz-box-orient arguments
    -ms-box-orient arguments
    box-orient arguments

box-direction()
    -webkit-box-direction arguments
    -moz-box-direction arguments
    -ms-box-direction arguments
    box-direction arguments

flex-direction()
    -webkit-flex-direction arguments
    -moz-flex-direction arguments
    -ms-flex-direction arguments
    flex-direction arguments

box-pack()
    -webkit-box-pack arguments
    -webkit-box-align arguments
    -moz-box-pack arguments
    -moz-box-align arguments
    -ms-box-pack arguments
    -ms-box-align arguments
    box-pack arguments
    box-align arguments

user-select()
    -moz-user-select arguments
    -webkit-user-select arguments
    -ms-user-select arguments
    -khtml-user-select arguments
    user-select arguments

animation()
    -webkit-animation arguments
    -moz-animation arguments
    -o-animation arguments
    animation arguments

transform()
    -webkit-transform arguments
    -ms-transform arguments
    -o-transform arguments
    -moz-transform arguments
    transform arguments

transition()
    -webkit-transition arguments
    -ms-transition arguments
    -o-transition arguments
    -moz-transition arguments
    transition arguments

transition-duration()
    -webkit-transition-duration arguments
    -ms-transition-duration arguments
    -o-transition-duration arguments
    -moz-transition-duration arguments
    transition-duration arguments

background-image()
    i = 0
    for arg in arguments
        i = i + 1
    if arguments[i - 1] != false 
        imerge kpc
    else
        arguments[i - 1] = null
    background-image arguments
background()
    i = 0
    for arg in arguments
        i = i + 1
    if arguments[i - 1] != false 
        imerge kpc
    else
        arguments[i - 1] = null
    background arguments
