.c-radio
    .input-wrapper
        display inline-block
        vertical-align middle
        width 17px 
        height 17px
        background url(root + '/common/images/components/radio.png') -24px 0 no-repeat
    &.checked
        .input-wrapper
            background url(root + '/common/images/components/radio.png') no-repeat
    input
        width 17px
        height 17px
        opacity 0
        filter: s('alpha(opacity=0)')
    .label-wrapper
        display inline-block
        vertical-align middle
        line-height 16px
        margin-left 5px
