.c-search
    position relative
    .list-search-btn
        position relative
        width 40px
        height 40px
        line-height 40px
        background-position -27px -173px
        background #5faded
        text-align center
        float left
    .list-input-search
        width 150px
        float left

.c-input
    width 200px
    padding 0 10px
    border-bottom 1px solid #d7d7d7
    background #fff
    height 39px
    line-height 39px
    color #898989
    vertical-align middle
    display inline-block

.c-icon
    display inline-block
    vertical-align middle

.c-icon-search
    width 25px
    height 25px
    cursor pointer
    background url(root + '/common/images/icons/search.png') no-repeat center