.c-select
    display inline-block
    height 40px 
    background #fff
    vertical-align middle
    .ui-state-default
        overflow hidden

.ui-selectmenu-button
    position relative
    display inline-block
    height 38px
    border 1px solid #e5e5e5
    line-height 38px
    color #898989
    padding-left 10px
    outline 0
    background #fff
    cursor pointer
    white-space nowrap
    .ui-icon
        position relative
        z-index 2
        display inline-block
        float right
        height 39px
        width 40px
        background #5faded url(root + '/common/images/select-arrow.png') no-repeat 13px 15px 
        text-align center
        .c-icon
            position absolute
            top 15px
            left 13px
    .ui-selectmenu-text
        position absolute


.ui-selectmenu-menu
    position absolute
    display none
    background #fff
    top 0

.ui-selectmenu-open
    display block
    ul
        border 1px solid #e5e5e5
        //border-top none
        max-height 415px
        overflow auto

    li 
        line-height 30px
        padding-left 10px
    li:hover
        background #5faded 
        color #fff 
        cursor pointer