.c-table
    width 100%
    background #fff
    table-layout fixed
    color #858585
    th
    td
        font-size 12px
        vertical-align middle
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
    th
        position relative
        padding 15px 10px
        font-size 14px
        text-align left
    td
        padding 0 10px
        height 40px
    .odd
        background-color #f4f7fa
    .row-checkable
        tr
            cursor pointer
    .th-resizable
        position absolute
        right 5px
        padding 0 3px;
        cursor col-resize
.c-table-container
    overflow-x auto

.c-table.border-gray
    border 1px solid #e5e5e5
    tr
        border-top 1px solid #e5e5e5 
.c-table.border-blue
    border 1px solid #e0e9f4
    tr
        border-top 1px solid #e0e9f4
