.c-table
    width 100%
    background #fff
    table-layout fixed
    // border 1px solid #e5e5e5
    color #858585
    thead
        th
            text-align center
    th
    td
        font-size 12px
        vertical-align middle
        overflow hidden
        white-space nowrap
        text-overflow ellipsis
    th
        padding 15px 10px
        font-size 14px
        text-align left
    td
        padding 0 10px
        height 40px
    // tr
        // border-top 1px solid #e5e5e5 
    .odd
        background-color #f4f7fa
