.ui-error-tip
    position fixed
    min-height 38px
    line-height 38px
    width 1064px
    top 0
    left 50%
    margin-left -532px
    text-align center
    color #fff
    z-index 9999
    .ui-close
        position absolute
        right 10px
        top 10px
        cursor pointer
.ui-error-tip-error
    background #e54141
    border-bottom 2px solid #b43333
.ui-error-tip-success
    background #5ec754
    border-bottom 2px solid #5bae53
.ui-error-tip-warn
    background #b43333
    border-bottom 2px solid #c69d45
