@require('./variables.styl')

.k-slider
    position relative
    display flex
    align-items center
    .k-wrapper
        height $slider-height
        background-color $slider-bg-color
        border-radius $slider-border-radius
        cursor pointer
        position relative
        display inline-block
        flex 1
        user-select none
        .k-box
            position absolute
            top $slider-height
            padding $slider-box-padding
            width 100%
            :last-child
                float right
        .k-bar
            background-color $slider-bar-color
            position absolute
            height 100%
            border-radius $slider-border-radius
            transition all $transition 
        .k-button-wrapper
            height $slider-button-height
            width $slider-button-width 
            position absolute
            transform translate(-50%, -50%)
            top 50% 
            text-align center
            transition all $transition 
        .k-button
            width 100%
            height 100%
            border $slider-button-border 
            border-radius $slider-button-border-radius 
            background-color $slider-button-bg-color 
            transition all $transition 
            &:hover
                transform $slider-button-hover-transform 
                cursor grab
                background-color $slider-button-hover-bg-color 
        .k-text
            width 100%
            height 100%
            top $slider-button-top
            position absolute
            color $slider-bar-color
    .k-spinner
        margin-left $slider-margin

    &.k-dragging
        .k-bar
            transition none
        .k-button-wrapper
            transition none
        .k-button
            transition none
        .k-active
            .k-button
                cursor grabbing
                transform $slider-button-hover-transform 
                background-color $slider-button-hover-bg-color 

    &.k-disabled
        .k-wrapper
            cursor not-allowed
        .k-bar
            background-color $slider-disabled-color
        .k-button
            border-color $slider-disabled-color
            &:hover
                background-color $slider-button-disabled-bg-color
                cursor not-allowed
                transform none

@import $theme-dir + '/slider.styl' if exists($theme-dir + '/slider.styl') 
