@require('../../styles/themes/default.styl')

$slider-height := unit(7 / 14, rem)

// define slider
$slider-bg-color := #eaeef2
$slider-bar-color := $primary-color

_$unit = unit($slider-height)
if _$unit == 'em' || _$unit == 'em'
    _$margin = unit(($default-height - $slider-height * 14) / 2 / 14, rem)
else
    _$margin = unit(($default-height - $slider-height) / 2 / 14, rem)
$slider-margin :=  _$margin 0

// $slider-padding := 1rem
$slider-border-radius := $slider-height

$slider-handle-height := 1rem
$slider-handle-width := $slider-handle-height
$slider-handle-border := 2px solid $slider-bar-color
$slider-handle-border-radius := 50%
$slider-handle-bg-color := #fff
$slider-handle-hover-transform := scale(1.5)
$slider-handle-hover-bg-color := $slider-bar-color
$slider-handle-disabled-bg-color := #fff

$slider-box-padding := unit(10 / 14, rem) unit(2 / 14, rem) 0
$slider-disabled-color = $disabled-color
$slider-disabled-bg-color = $disabled-bg-color
$slider-spinner-width := unit(135 / 14, rem)
// $slider-spinner-top := -(_$margin)

// stop point
$slider-stop-point-width := $slider-height 
$slider-stop-point-height := $slider-stop-point-width
$slider-stop-point-bg-color := #fff

// marks
$slider-marks-height := unit(26 / 14, rem)
