@require('../../styles/themes/default.styl')

$slider-height := unit(7 / 14, rem)

// define slider
$slider-color := #eaeef2
$slider-bar-color := $primary-color
$slider-margin := 1rem
$slider-padding := 1rem

$slider-button-height := 1rem
$slider-button-top := -0.25 * $slider-button-height
$slider-box-padding := 5px 2px
$slider-disabled-color = $disabled-color
$slider-disabled-bg-color = $disabled-bg-color


