@require('../../styles/themes/default.styl')

$slider-height := unit(7 / 14, rem)

// define slider
$slider-bg-color := #eaeef2
$slider-bar-color := $primary-color
$slider-margin := 1rem
$slider-padding := 1rem
$slider-border-radius := $slider-height

$slider-handle-height := 1rem
$slider-handle-width := $slider-handle-height
$slider-handle-border := 2px solid $slider-bar-color
$slider-handle-border-radius := 50%
$slider-handle-bg-color := #fff
$slider-handle-hover-transform := scale(1.5)
$slider-handle-hover-bg-color := $slider-bar-color
$slider-handle-disabled-bg-color := #fff

$slider-box-padding := 5px 2px
$slider-disabled-color = $disabled-color
$slider-disabled-bg-color = $disabled-bg-color


