.example.index-260
    .no-data-template
        display: flex
        .k-table
            flex 1
            margin-left: 10px
    .icon
        vertical-align middle
        margin-right 10px
        cursor pointer