.example.index-194
    .no-data-template
        display: flex
        .k-table-wrapper
            margin-left: 10px
    .icon
        vertical-align middle
        margin-right 10px
        cursor pointer