.blog-page
    padding-bottom 15px
    padding-top 95px
    .content-wrapper
        box-shadow none
        flex-direction row-reverse
        width 1280px
        aside
            width 350px
            border none
            background #eee
        article
            box-shadow 0 1px 1px rgba(0, 0, 0, 0.08)
        .aside-wrapper
            margin 30px
        &.fixed
            .aside-wrapper
                margin-right -999px
                padding-right 999px
                background none
                width auto
                height s("calc(100% - 125px)")
        .aside-border
            height 30px
