.example.index-153
    .k-btn
        margin-right 20px
    .k-icon
        display inline-block
        transition transform .25s ease-in-out
    .k-dropdown-open
        .k-icon
            transform rotate(180deg)