@require('../../styles/themes/default.styl')

$switch-bg-color := $dark-bg-color 
$switch-font-size := unit(12 / $rem, rem)
$switch-color := #fff
$switch-checked-bg-color := $primary-color
$switch-handle-border-radius := 100%
$switch-handle-bg-color := #fff

// default
$switch-default-width := unit(48 / $rem, rem)
$switch-default-height := unit(24 / $rem, rem)
$switch-default-line-height := $switch-default-height 
$switch-default-padding := unit(2 / $rem, rem) 
$switch-default-border-radius := $switch-default-height

// large
$switch-large-width := unit(60 / $rem, rem) 
$switch-large-height := unit(30 / $rem, rem)
$switch-large-line-height := $switch-large-height
$switch-large-padding := $switch-default-padding
$switch-large-border-radius := $switch-large-height

// small
$switch-small-width := unit(36 / $rem, rem) 
$switch-small-height := unit(18 / $rem, rem)
$switch-small-line-height := $switch-small-height
$switch-small-padding := $switch-default-padding
$switch-small-border-radius := $switch-small-height

// mini
$switch-mini-width := unit(24 / $rem, rem) 
$switch-mini-height := unit(12 / $rem, rem)
$switch-mini-line-height := $switch-mini-height
$switch-mini-padding := unit(1 / $rem, rem)
$switch-mini-border-radius := $switch-mini-height

// disabled
$switch-disabled-bg-color := #e6e6e6
