@require('../../styles/themes/default.styl')

$switch-bg-color := $dark-bg-color 
$switch-font-size := unit(12 / 14, rem)
$switch-color := #fff

$switch-handle-bg-color := #fff

// default
$switch-default-width := unit(48 / 14, rem)
$switch-default-height := unit(24 / 14, rem)
$switch-default-padding := unit(2 / 14, rem) 

// large
$switch-large-width := unit(60 / 14, rem) 
$switch-large-height := unit(30 / 14, rem)
$switch-large-padding := $switch-default-padding

// small
$switch-small-width := unit(36 / 14, rem) 
$switch-small-height := unit(18 / 14, rem)
$switch-small-padding := $switch-default-padding

// mini
$switch-mini-width := unit(24 / 14, rem) 
$switch-mini-height := unit(12 / 14, rem)
$switch-mini-padding := unit(1 / 14, rem)

// disabled
$switch-disabled-bg-color := #e6e6e6
