@require('../../styles/themes/default.styl')

$switch-bg-color := $bg-color 
$switch-font-size := unit(12 / 14, rem)
$switch-color := #fff

$switch-handle-bg-color := #fff

// default
$switch-default-width := unit(48 / 14, rem)
$switch-default-height := unit(24 / 14, rem)
$switch-default-handle-gutter := unit(2 / 14, rem) 

// small
$switch-small-width := unit(36 / 14, rem) 
$switch-small-height := unit(18 / 14, rem)
$switch-small-handle-gutter := $switch-default-handle-gutter 

// mini
$switch-mini-width := unit(24 / 14, rem) 
$switch-mini-height := unit(12 / 14, rem)
$switch-mini-handle-gutter := unit(1 / 14, rem)

// disabled
$switch-disabled-bg-color := #e6e6e6
