@require('./variables.styl')

arrow-long = $tooltip-arrow-width
arrow-short = $tooltip-arrow-width - 2px

.k-tooltip-content
    max-width $tooltip-max-width
    min-width 0
    background-color $tooltip-bg-color 
    padding $tooltip-padding
    color $tooltip-color
    line-height $tooltip-line-height
    word-wrap break-word
    
    // arrow
    > .k-arrow
        &:before, &
            position absolute
            display block
            border-style solid
            border-color transparent
        &:before
            content ' '
        &.k-center
            left 50%
            margin-left -(arrow-short) 
        &.k-top
        &.k-bottom
            &:before, &
                border-width arrow-long arrow-short
            &:before
                left -(arrow-short)
        &.k-top
            top -(2 * arrow-long) 
            border-bottom-color $tooltip-arrow-border-color
            &:before
                border-bottom-color $tooltip-bg-color 
                top -(arrow-long - 1px)
        &.k-bottom
            bottom -(2 * arrow-long)
            border-top-color $tooltip-arrow-border-color
            &:before
                border-top-color $tooltip-bg-color
                bottom -(arrow-long - 1px)
        &.k-middle
            top 50%
            margin-top -(arrow-short)
        &.k-left
        &.k-right
            &:before, &
                border-width arrow-short arrow-long
            &:before
                top -(arrow-short)
        &.k-left
            left -(2 * arrow-long)
            border-right-color $tooltip-arrow-border-color
            &:before
                border-right-color $tooltip-bg-color
                left -(arrow-long - 1px)
        &.k-right
            right -(2 * arrow-long)
            border-left-color $tooltip-arrow-border-color
            &:before
                border-left-color $tooltip-bg-color
                right -(arrow-long - 1px) 


    &.k-cannot-hover
        pointer-events none

    // confirm
    .k-buttons
        padding-top $tooltip-confirm-buttons-padding-top
        .k-btn:last-of-type
            margin-left $tooltip-confirm-buttons-gutter


requireTheme('tooltip')
