@require('./variables.styl')

.k-tooltip
    display inline-block
.k-tooltip-content
    position absolute
    background-color $tooltip-bg-color 
    box-shadow $box-shadow
    padding $tooltip-padding
    border-radius $tooltip-border-radius 
    font-size $tooltip-font-size
    color $tooltip-color
    line-height $tooltip-line-height
    &:before
    &:after
        content ' '
        display block
        border-style solid
        border-color transparent transparent $tooltip-arrow-border-color transparent
        border-width $tooltip-arrow-width ($tooltip-arrow-width - 2px)
        position absolute
        left 50%
        margin-left -($tooltip-arrow-width - 2px) 
        top -(2 * $tooltip-arrow-width) 
    &:after
        border-bottom-color $tooltip-bg-color 
        top -(2 * $tooltip-arrow-width) + 1px
    &.k-cannot-hover
        pointer-events none
