@require('../../styles/themes/default.styl')

$tooltip-padding := unit(5 / 14, rem) unit(10 / 14, rem)
$tooltip-font-size := unit(12 / 14, rem)
$tooltip-color := $primary-color
$tooltip-border-radius := unit(2 / 14, rem) 
$tooltip-bg-color := #fff
$tooltip-line-height := 1.4
$tooltip-max-width := unit(300 / 14, rem)

// arrow
$tooltip-arrow-border-color := rgba(191, 191, 191, .2)
$tooltip-arrow-width := 8px
