/******************************
             Colors
*******************************/

$red := #db2828
$blue := #0a5eee
$yellow := #ff8a00
$grey := #767676
$black := #1b1c1d
$light-black := #595959


/******************************
            Page
*******************************/

$font-family := 'Microsoft YaHei'
$font-size := unit(14 / 16, em)
$text-color := $light-black 
$primary-color := $blue
$warning-color := $yellow
$danger-color := $red
$border-color := #cad0dd
$title-color := #404040


/******************************
            Headers 
*******************************/

$header-font-family := $font-family
$header-margin := 0
$header-font-weight := bold
$h1 := unit(28 / 14, rem)
$h2 := unit(24 / 14, rem)
$h3 := unit(18 / 14, rem)
$h4 := unit(15 / 14, rem)
$h5 := unit(14 / 14, rem)


/******************************
            Link
*******************************/

$link-color := #4183c4
$link-underline := none
$link-hover-color := darken(saturate($link-color, 20), 15)
$link-hover-underline := $link-underline


/******************************
            Code 
*******************************/

$code-font-family := Consolas, Menlo, Courier, monospace
