/******************************
             Theme
*******************************/
use('../functions.js')
$theme-dir := __dirname()
$fonts-dir := './fonts';

/******************************
             Colors
*******************************/

$red := #db2828
$blue := #0a5eee
$yellow := #ff8a00
$grey := #767676
$black := #1b1c1d
$light-black := #595959


/******************************
            Page
*******************************/

$font-family := 'Microsoft YaHei'
$font-size := 14px 
$text-color := $light-black 
$primary-color := $blue
$warning-color := $yellow
$danger-color := $red
$success-color := #4db500
$border-color := #cad0dd
$dark-border-color := #979797
$title-color := #404040
$disabled-color := #999
$disabled-bg-color := #f7f7f7
$disabled-border-color := #d9d9d9
$bg-color := #eee
$dark-bg-color := #ccc
$placeholder-color := $disabled-color

// size
$large-height := 40
$large-font-size := unit(16 / 14, rem)
$default-height := 36
$default-font-size := 1rem
$small-height := 30
$small-font-size := unit(12 / 14, rem)
$mini-height := 26
$mini-font-size := unit(12 / 14, rem)

// box-shadow
$box-shadow := 0 2px 8px 0 rgba(191, 191, 191, .5)
$border-radius := unit(2 / 14, rem) 

$max-z-index := 9999

/******************************
            Headers 
*******************************/

$header-font-family := $font-family
$header-margin := 0
$header-font-weight := bold
$h1 := unit(28 / 14, rem)
$h2 := unit(24 / 14, rem)
$h3 := unit(18 / 14, rem)
$h4 := unit(15 / 14, rem)
$h5 := unit(14 / 14, rem)


/******************************
            Link
*******************************/

$link-color := #4183c4
$link-underline := none
$link-hover-color := palette($link-color, 1)
$link-hover-underline := $link-underline


/******************************
            Code 
*******************************/

$code-font-family := Consolas, Menlo, Courier, monospace


/******************************
            Transition 
*******************************/

$transition := .25s ease-in-out
