$theme-dir := '../../styles/themes/ksyun'

$primary-color := #319cf1
$warning-color := #ff9c28
$danger-color := #d83a3a
$disabled-color := #999
$disabled-bg-color := #d9d9d9
$disabled-border-color := #d9d9d9
$text-color := #666
$border-color := #d9d9d9

$default-height := 31


/**
 * btn
 */
$btn-font-size := 12px


/**
 * radio
 */
$radio-width := 17px
$radio-inner-width := 11px


/**
 * checkbox
 */
$checkbox-inner-border := 2px solid #fff
$checkbox-inner-width := 5px
$checkbox-inner-height := 9px
$checkbox-inner-top := 0 


/**
 * input
 */
$input-font-size := 12px
