@require('../../styles/themes/default.styl')

$collapse-font-size := unit(12 / $rem, rem)
$collapse-border-padding := 0 unit(24 / $rem, rem)
// $collapse-border-box-shadow := $box-shadow
$collapse-border := 1px solid #eee
$collapse-border-radius := $border-radius

$collapse-item-height := unit(40 / $rem, rem)
$collapse-item-border-bottom := 1px solid #e5e5e5
$collapse-item-content-padding := 0 unit(16 / $rem, rem) unit(16 / $rem, rem)
$collapse-item-disabled-color := $disabled-color
$collapse-item-title-hover-color := $primary-color

// left arrow
$collapse-item-left-arrow-margin-right := unit(8 / $rem, rem)
