@require('../../styles/themes/default.styl')

$tree-font-size := inherit
$tree-line-height := unit(26 / 14, rem)
$tree-hover-color := $primary-color
$tree-disabled-color := $disabled-color

$tree-node-node-padding-left := unit(16 / 14, rem)
$tree-icon-width := unit(24 / 14, rem)
$tree-icon-color := $text-color
$tree-checkbox-margin-right := unit(8 / 14, rem)

$tree-leaf-padding-left := $tree-node-node-padding-left
$tree-leaf-checkbox-margin-left := $tree-checkbox-margin-right 
