@require('../../styles/themes/default.styl')
@require('../../styles/mixin.styl')

$tree-font-size := inherit
$tree-line-height := unit(26 / $rem, rem)
$tree-hover-color := $primary-color
$tree-disabled-color := $disabled-color

$tree-text-padding := unit(3 / $rem, rem)
$tree-node-node-padding-left := unit(16 / $rem, rem)
$tree-icon-width := unit(21 / $rem, rem)
$tree-icon-color := $text-color
$tree-checkbox-margin-right := unit(8 / $rem, rem)

$tree-leaf-padding-left := $tree-icon-width // $tree-node-node-padding-left
$tree-leaf-checkbox-margin-left := unit(5 / $rem, rem)

// selected
$tree-selected-text-border-radius := $border-radius
$tree-selected-text-bg-color := palette($primary-color, -3)

// draggable
$tree-dragging-over-border := 1px solid $primary-color
$tree-dragging-bg-color := $bg-color
