@require('../../styles/themes/default.styl')

$collapse-font-size := unit(12 / 14, rem)
$collapse-border-padding := 0 unit(24 / 14, rem)
$collapse-border-box-shadow := $box-shadow
$collapse-border-radius := $border-radius

$collapse-item-height := unit(40 / 14, rem)
$collapse-item-border-bottom := 1px solid #e5e5e5
$collapse-item-content-padding := 0 unit(16 / 14, rem) unit(16 / 14, rem)
$collapse-item-disabled-color := $disabled-color

// left arrow
$collapse-item-left-arrow-margin-right := unit(8 / 14, rem)
