@require('../../styles/themes/default.styl')

.k-app
    height 100%
    width 100%
.k-app-loading
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)


require($theme-dir + './app.style')
