@require('./variables.styl')

.k-scroll-select
    text-align center
    overflow hidden
    max-height 100%
    height $scroll-select-height 
    user-select none
    position relative
    .k-wrapper
        transition transform $transition
    &.k-dragging
        .k-wrapper
            transition none
    .k-item
        line-height $scroll-select-item-height 
        color $scroll-select-item-color 
        cursor pointer
        &.k-active
            color $scroll-select-item-active-color 
            font-size $scroll-select-item-active-font-size 

    // append
    > .k-append
        position absolute
        top 50%
        right 0
        transform translateY(-50%)
