@require('../../styles/variables')

$page-width = 1080px

.index-page
    .header-wrapper
        header
            width 100% // $page-width
    .content-wrapper
        width 100% // $page-width
        margin 36px auto
        min-height 100%
        background #fff
        padding-top 80px 
        box-sizing border-box
        text-align center
        .pages
            .first-page
                .left
                    float left
                    position absolute
                    left 17%
                    top 40%
                    h1
                        font-size 5em
                        font-weight 600
                        font-family Arial
                    p
                        font-size 2em
                        font-weight 300
                        color #46484a
                    .button
                        padding 0 2em
                        margin 0 10px
                        height 3em
                        line-height 3em
            .second-page
                .left
                    float left
                    position absolute
                    left 8%
                    //top 19%
                    width 601px
                    height 561px
                    background-image url("../../imgs/page2.png")
                    background-size 601px 561px
                .right
                    float right
                    position absolute
                    right 30%
                    top 25%
                    .feature
                        h2
                            font-size 30px
                            margin 10px
                        flex 1
                        div
                            font-size 18px
    .home-header
        padding 50px 0
        h1
            font-size 5em
            font-weight 600 
            font-family Arial
        p
            font-size 2em
            font-weight 300
            color #46484a
        .button
            padding 0 2em
            margin 0 10px
            height 3em
            line-height 3em
        .features
            margin 0 auto
            display flex
            margin-top 50px

    .home-components
        // background #09d
        background #f8f8f8
        padding 30px 0
        // box-shadow 0 -0.25em 1.5em rgba(0,5,10,0.25)
        h1
            font-size 3em
            // color #fff
            color #111
        h3
            color #37393b
            font-size 1.3em
            margin 0.7em 0
    .code-wrapper
        display flex
        flex-direction row
        justify-content center
        text-align left
        .code
            width 620px
            pre
                margin 10px
            code
                background #fff
        .output
            width 300px
            margin 10px
            background #fff
            border-radius 3px
            padding 15px
        .count
            color blue
            font-size 3em
            margin 10px 0 12px
        .button
            font-size 1.2em
            padding 10px
        header
            font-size 2em
            margin 10px 0
    // .home-extends
        // background red 
        // h3
            // color #1f2021
.first-page-left
    padding-top 10%
    h1
        font-size 5em
        font-weight 600
        font-family Arial
    p
        font-size 2em
        font-weight 300
        color #46484a
    .button
        padding 0 2em
        margin 0 10px
        height 3em
        line-height 3em
.first-page-right
    .right
        width 630px
        height 600px
        margin-top 2%
        position absolute
        //right 6%
        background-image url("../../imgs/page1.png")
        background-size 630px 600px

.second-page-left
    width 601px
    height 561px
    .left
        width 601px
        height 561px
        background-image url("../../imgs/page2.png")
        background-size 601px 561px
.second-page-right
    float right
    .info
        padding 16% 0
        width 70%
        margin-left 6%
        text-align left
        .feature
            margin-bottom 30px
            font-size 18px
            h2
                margin-bottom 10px
                font-size 30px
            flex 1

.index-dot
    width 20px
    position fixed
    right 20px
    top 50%
    z-index 999
    li
        cursor pointer
        width 12px
        height 12px
        border-radius 12px
        background-color #EEEEEE
        margin-bottom 14px
    .dot-active
        background-color #B2B2B2 !important


.test
    height 800px
