@require('../../styles/themes/default.styl')

$transfer-panel-width := unit(250 / $rem, rem)
$transfer-panel-height := unit(350 / $rem, rem)
$transfer-font-size := unit(12 / $rem, rem)

$transfer-title-color := $title-color
$transfer-title-line-height := unit(40 / $rem, rem)
$transfer-title-bg-color := $bg-color 
$transfer-title-font-size := unit(14 / $rem, rem)
$transfer-title-padding := 0 unit(16 / $rem, rem)
$transfer-title-count-margin-left := unit(8 / $rem, rem)

$transfer-panel-border := 1px solid $border-color
$transfer-panel-border-radius := $border-radius

$transfer-search-margin := unit(16 / $rem, rem)

$transfer-list-height := unit(251 / $rem, rem)

$transfer-item-color := $text-color
$transfer-item-bg-color := #fff
$transfer-item-hover-bg-color := transparent
$transfer-item-hover-color := $primary-color
$transfer-item-padding := unit(5 / $rem, rem) unit(16 / $rem, rem) 
$transfer-item-height := unit($default-height / $rem, rem)
$transfer-item-desc-color := $light-black

// arrow
$transfer-arrow-margin := unit(16 / $rem, rem) unit(10 / $rem, rem)
$transfer-arrow-font-size := unit(22 / $rem, rem)

