@require('../../styles/themes/default.styl')

$timeline-font-size := inherit
$timeline-item-padding := 0 0 unit(16 / $rem, rem) unit(24 / $rem, rem)
$timeline-indicator-width := unit(16 / $rem, rem)
$timeline-line-border := 1px solid $border-color

// type
$timeline-indicator-primary-color := $primary-color
$timeline-indicator-success-color := $success-color
$timeline-indicator-danger-color := $danger-color
$timeline-indicator-warning-color := $warning-color

// size
$timeline-dot-default-width := unit(9 / $rem, rem)
$timeline-dot-small-width := unit(7 / $rem, rem)
$timeline-dot-mini-width := unit(5 / $rem, rem)
$timeline-dot-large-width := unit(13 / $rem, rem)
