@require('../../styles/themes/default.styl')

$spinner-input-width := unit(46 / $rem, rem)
$spinner-large-input-width := unit(60 / $rem, rem)
$spinner-small-input-width := unit(32 / $rem, rem)
$spinner-mini-input-width := unit(26 / $rem, rem)

$spinner-icon-font-size := unit(24 / $rem, rem)
$spinner-large-icon-font-size := unit(32 / $rem, rem)
$spinner-small-icon-font-size := unit(18 / $rem, rem)
$spinner-mini-icon-font-size := unit(14 / $rem, rem)

// vertical
$spinner-vertical-default-width := unit(108 / $rem, rem)
$spinner-vertical-large-width := unit(138 / $rem, rem)
$spinner-vertical-small-width := unit(78 / $rem, rem)
$spinner-vertical-mini-width := unit(56 / $rem, rem)
$spinner-vertical-default-padding-right := unit($default-height / $rem, rem)
$spinner-vertical-large-padding-right := unit($large-height / $rem, rem)
$spinner-vertical-small-padding-right := unit($small-height / $rem, rem)
$spinner-vertical-mini-padding-right := unit($mini-height / $rem, rem)
