@require('~kpc/styles/themes/default.styl')
.example.index-200

    
    .k-carousel-item
        color #fff
        line-height 300px
        text-align center
        font-size 30px
        width 500px
        margin 0 16px
    .one
        background $success-color
    .two
        background $danger-color
    .three
        background $primary-color
    .four
        background $warning-color