@require('../../styles/themes/default.styl')

$split-line-bg-color := $bg-color
$split-line-size := unit(6 / 14, rem)
$split-line-border-first := 1px solid $border-color
$split-line-border-last := $split-line-border-first

$split-drag-lines-bg-color := $border-color
$split-drag-lines-size := 1px
$split-drag-lines-count := 5
$split-drag-lines-gutter := 5
