@require('../../styles/themes/default.styl')

$badge-width := unit(8 / $rem, rem)
$badge-height := $badge-width
$badge-bg-color := $danger-color

// has-text
$badge-text-height := unit(16 / $rem, rem)
$badge-text-padding := 0 unit(5 / $rem, rem)
$badge-text-color := #fff
