.hljs{
display:block;
overflow-x:auto;
color:#525252;
padding:15px;
-webkit-text-size-adjust:none;
margin: 0;
}
.hljs-doctype{
color:#999
}
.hljs-tag{
color:#3e76f6
}
.hljs-attribute{
color:#e96900
}
.hljs-value{
color:#42b983
}
.hljs-keyword{
color:#e96900
}
.hljs-string{
color:#42b983
}
.hljs-comment{
color:#b3b3b3
}
.hljs-operator .hljs-comment{
color:#525252
}
.hljs-regexp{
color:#af7dff
}
.hljs-built_in{
color:#2db7f5
}
.css .hljs-class{
color:#e96900
}
.css .hljs-number,.javascript .hljs-number{
color:#fc1e70
}
.css .hljs-attribute{
color:#af7dff
}
.css .hljs-important{
color:red
}
.actionscript .hljs-literal,.javascript .hljs-literal{
color:#fc1e70
}
pre{
padding:0;
margin:0
}
code{
display:inline-block;
background:#f7f7f7;
font-family:Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
margin:3px;
padding:1px 5px;
border-radius:3px;
color:#666;
border:1px solid #eee;
line-height: 20px;
}

