@require('../../styles/themes/default.styl')

// define stoke color
$progress-normal-color := $primary-color
$progress-success-color := $success-color
$progress-error-color := $danger-color
$progress-stroke-color := #eaeef2

// animation
$progress-transition := all .6s ease

// bar
$progress-font-color := #404040
$progress-height := 1rem
$progress-innertext-font-size := unit(12 / 14, em)
$progress-innertext-margin := 1px 3px;
$progress-small-height := unit(10 / 14, rem)
$progress-small-font-size := unit(12 / 14, em)
$progress-mini-font-size := unit(12 / 14, em)
$progress-mini-height := unit(5 / 14, rem)
$progress-text-width := unit(40 / 14, rem)

// circle
$progress-circle-width := unit(120 / 20, em)
$progress-circle-small-width := unit(80 / 16, em)
$progress-circle-mini-width := unit(40 / 12, em) 

$progress-circle-font-size := unit(20 / 14, rem) 
$progress-circle-small-font-size := unit(16 / 14, rem) 
$progress-circle-mini-font-size := unit(12 / 14, rem) 
