.example.index-51
    .k-slider
    .k-select
        width 300px
    .k-radio
    .k-checkbox
        margin-right 10px
    
    @media (max-width: 768px) 
        .k-form-item
            width 100%
            .k-input
            .k-select
            .k-datepicker
            .k-slider
                width 100%
            .k-label
                width 100px !important