@require('../../styles/themes/default.styl')

$radio-width := 14px
$radio-border-color := $dark-border-color

// text
$radio-text-margin-left := unit(5 / 14, em)

// checked
$radio-inner-width := 8px
$radio-checked-color := $primary-color

// disabled
$radio-disabled-color := $disabled-color
$radio-disabled-border-color := $disabled-border-color
$radio-disabled-bg-color := $disabled-bg-color
$radio-disabled-inner-color := $disabled-color

