@require('../../styles/themes/default.styl')

$breadcrumb-font-size := $font-size
$breadcrumb-color := $text-color
$breadcrumb-hover-color := $link-hover-color
$breadcrumb-separator-margin := 0 unit(8 / $rem, rem)
$breadcrumb-active-font-weight := bold
$breadcrumb-active-color := $text-color 
