@require('./variables.styl')

.k-transfer
    .k-panel
    .k-arrows
        display inline-block
        vertical-align middle
    .k-panel
        width $transfer-panel-width
    .k-title
        color $transfer-title-color 
        line-height $transfer-title-line-height 
        font-size $transfer-title-font-size
    .k-list
        height $transfer-panel-height
        border $transfer-panel-border 
        border-radius $transfer-panel-border-radius 
        overflow auto
    .k-item
        color $transfer-item-color 
        background $transfer-item-bg-color 
        user-select none
        display table
        width 100%
        &:not(.k-disabled):hover
            background $transfer-item-hover-bg-color 
    .k-checkbox
        padding $transfer-item-padding
        display table-cell
        height 40px
        vertical-align middle
    .k-input
        margin-bottom -1px

    .k-arrows
        .k-btn
            display block
            margin $transfer-arrow-margin 

