@require('../../styles/themes/default.styl')

$transfer-panel-width := unit(250 / 14, rem)
$transfer-panel-height := unit(350 / 14, rem)
$transfer-font-size := unit(12 / 14, rem)

$transfer-title-color := $title-color
$transfer-title-line-height := unit(40 / 14, rem)
$transfer-title-bg-color := $bg-color 
$transfer-title-font-size := 1rem
$transfer-title-padding := 0 unit(16 / 14, rem)
$transfer-title-count-margin-left := unit(8 / 14, rem)

$transfer-panel-border := 1px solid $border-color
$transfer-panel-border-radius := $border-radius

$transfer-search-margin := unit(16 / 14, rem)

$transfer-list-height := unit(251 / 14, rem)

$transfer-item-color := $text-color
$transfer-item-bg-color := #fff
$transfer-item-hover-bg-color := transparent
$transfer-item-hover-color := $primary-color
$transfer-item-padding := unit(5 / 14, rem) unit(16 / 14, rem) 
$transfer-item-height := unit($default-height / 14, rem)
$transfer-item-desc-color := $light-black

// arrow
$transfer-arrow-margin := unit(16 / 14, rem) unit(10 / 14, rem)
$transfer-arrow-font-size := unit(22 / 14, rem)

