@require('../../styles/themes/default.styl')

$transfer-panel-width := unit(300 / 14, rem)
$transfer-panel-height := unit(300 / 14, rem)
$transfer-title-color := $title-color
$transfer-title-line-height := unit(30 / 14, rem)
$transfer-title-font-size := 1rem
$transfer-panel-border := 1px solid $border-color
$transfer-panel-border-radius := $border-radius
$transfer-item-color := $text-color
$transfer-item-bg-color := #fff
$transfer-item-hover-bg-color := $bg-color
$transfer-item-padding := unit(5 / 14, rem) unit(10 / 14, rem) 
$transfer-item-height := unit(40 / 14, rem)

// arrow
$transfer-arrow-margin := unit(10 / 14, rem) 

