.example.index-101
    .k-form-item
        .k-form-item
            margin-bottom 20px
    
    @media (max-width: 768px)
        .k-form-item
            width 100%
            .k-input
                width 100%
            .k-label
                width auto