.example.index-264
    /.line
        margin-top 16px
    .rect
        display inline-block
        margin 16px
        vertical-align middle
        width 120px
        height 60px
        line-height 60px
        text-align center
    .c-middle
        margin-left 6px
    .label
        display inline-block
        width 60px
        text-align right
        margin-right 6px