@require('./variables.styl')

.k-tooltip-content.k-time-picker
    .k-calendar-wrapper
        padding $timepicker-content-padding
        width $timepicker-content-width 
    .k-scroll-select
        height $timepicker-scroll-select-height 
        margin 0

    // range
    .k-range
        .k-time-picker
            border $timepicker-inner-border
            padding $timepicker-range-time-picker-padding
        .k-scroll-select
            height $timepicker-range-scroll-select-height 
        .k-title
            margin-bottom $timepicker-range-title-margin-bottom 
            text-align center
