@require('./variables.styl')

.k-tooltip-content.k-time-picker
    .k-calendar-wrapper
        padding 16px
    .k-scroll-select
        height 200px
        margin 0

    // range
    .k-range
        .k-calendar-wrapper
            width 200px
        .k-time-picker
            border $timepicker-inner-border
            padding 16px
        .k-scroll-select
            height 150px
        .k-title
            margin-bottom 8px
            text-align center
