@require('./variables.styl')

.k-editable
    display inline-block
    line-height $editable-line-height
    .k-edit
        float right
        cursor pointer
        margin $editable-icon-margin

    // invalid
    &.k-invalid
        .k-input
            .k-inner
                border $editable-invalid-border


requireTheme('editable')
