.k-scroll-select {
  text-align: center;
  overflow: hidden;
  max-height: 100%;
  height: 8.928571428571429rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}
.k-scroll-select .k-wrapper {
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}
.k-scroll-select.k-dragging .k-wrapper {
  -webkit-transition: none;
  transition: none;
}
.k-scroll-select.k-disabled .k-item {
  color: #ccc;
}
.k-scroll-select .k-item {
  line-height: 1.785714285714286rem;
  color: #999;
  cursor: pointer;
}
.k-scroll-select .k-item.k-active {
  color: #0a5eee;
  font-size: 1.1em;
}
.k-scroll-select > .k-append {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
