@require('../../styles/themes/default.styl')

$rate-item-margin-right := unit(8 / $rem, rem)
$rate-item-hover-transform := scale(1.1)
$rate-color := #ccc 
$rate-active-color := $warning-color
$rate-icon-font-size := unit(24 / $rem, rem)

