@require('../../styles/themes/default.styl')

$editable-icon-margin := 0 0 0 unit(8 / $rem, em)
$editable-line-height := unit(30 / $rem, em) 

// invalid
$editable-invalid-border := 1px solid $danger-color
