.example.index-23
    .k-col
        line-height 40px
        text-align center
        color #fff
        &:nth-of-type(even)
            background #0a5eee
        &:nth-of-type(odd)
            background lighten(#0a5eee, 30%)
    .k-row
        margin-bottom 20px