@require('./variables.styl')

.k-dropdown
    display inline-block

.k-dropdown-menu
    position absolute
    min-width $dropdown-min-width 
    background $dropdown-bg-color 
    border-radius $dropdown-border-radius 
    box-shadow $box-shadow
    font-size $dropdown-font-size 
    z-index $max-z-index

    // nested dropdown
    .k-dropdown
        display block
    .k-item
        padding $dropdown-item-padding 
        cursor pointer
        &.k-hover
            background $dropdown-item-hover-bg-color 
            color $dropdown-item-hover-color 
        &:first-of-type
            border-radius $dropdown-border-radius $dropdown-border-radius 0 0 
        &:last-of-type
            border-radius 0 0 $dropdown-border-radius $dropdown-border-radius 

        // disabled
        &.k-disabled
            background $dropdown-item-disabled-bg-color 
            color $dropdown-item-disabled-color 
            cursor not-allowed

    &.dropdown-leave-active
        pointer-events none


