@require('../../styles/themes/default.styl')

$dropdown-min-width := unit(100 / $rem, rem)
$dropdown-bg-color := #fff
$dropdown-border-radius := $border-radius 
$dropdown-font-size := unit(12 / $rem, rem)
$dropdown-item-height := unit(32 / $rem, rem) 
$dropdown-menu-z-index := $mid-z-index

// dropdown item
$dropdown-item-padding := 0 unit(16 / $rem, rem)
$dropdown-item-hover-bg-color := $primary-color
$dropdown-item-hover-color := #fff

// disabled
$dropdown-item-disabled-bg-color := $disabled-bg-color
$dropdown-item-disabled-color := $disabled-color
