@require('../../styles/themes/default.styl')

$dropdown-min-width := unit(100 / 14, rem)
$dropdown-bg-color := #fff
$dropdown-border-radius := unit(4 / 14, rem)
$dropdown-font-size := unit(12 / 14, rem)

// dropdown item
$dropdown-item-padding := unit(8 / 12, em) unit(16 / 12, em)
$dropdown-item-hover-bg-color := $primary-color
$dropdown-item-hover-color := #fff

// disabled
$dropdown-item-disabled-bg-color := $disabled-bg-color
$dropdown-item-disabled-color := $disabled-color
