.k-radio {
  display: inline-block;
  cursor: pointer;
}
.k-radio .k-wrapper {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  border: 1px solid #979797;
  border-radius: 50%;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: relative;
}
.k-radio .k-wrapper:before {
  content: "";
  display: block;
  position: absolute;
  width: 0.571428571428571rem;
  height: 0.571428571428571rem;
  top: 50%;
  left: 50%;
  margin-left: -0.285714285714286rem;
  margin-top: -0.285714285714286rem;
  border-radius: 50%;
  background-color: #0a5eee;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.k-radio input {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  position: absolute;
}
.k-radio .k-text {
  vertical-align: middle;
  display: inline-block;
  margin-left: 0.571428571428571em;
}
.k-radio.k-checked .k-wrapper {
  border-color: #0a5eee;
}
.k-radio.k-checked .k-wrapper:before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.k-radio.k-disabled {
  color: #999;
  cursor: not-allowed;
}
.k-radio.k-disabled .k-wrapper {
  border-color: #d9d9d9;
  background: #f7f7f7;
}
.k-radio.k-disabled .k-wrapper:before {
  background: #999;
}
