.k-dialog
    box-shadow $box-shadow
    .k-header
    .k-footer
        margin 0 20px
    .k-header
        .k-icon:before
            line-height unit($default-height, px)
    .k-footer
        border-top $dialog-title-border
        .k-btn:first-of-type
            float right
