@require('../../../components/button/variables.styl')

.k-dialog
    box-shadow $box-shadow
    > .k-header
    > .k-footer
        margin 0 20px
    > .k-header
        .k-icon:before
            line-height unit($default-height, px)
    > .k-footer
        border-top $dialog-title-border
        .k-cancel
            float right
            color $btn-secondary-color
            border-color $btn-secondary-border-color
            &:hover
            &:focus
                background-color $btn-secondary-hover-bg-color
            &:active
                background-color $btn-secondary-active-bg-color

// .k-alert-dialog
//     .k-dialog
//         > .k-body
//             font-size 14px
