$theme-dir := '../../styles/themes/ksyun'

$primary-color := #289af4 
$warning-color := #ff9c28
$danger-color := #fe4444
$success-color := #40a54a
$disabled-color := #999
$disabled-bg-color := #d9d9d9
$disabled-border-color := #d9d9d9
$text-color := #666
$border-color := #d9d9d9
$bg-color := #f5f5f5
$title-color := #333

// $small-height := 32


/**
 * btn
 */
$btn-padding := 0 unit(32 / 14, em)


/**
 * radio
 */
$radio-width := 17px
$radio-inner-width := 11px


/**
 * checkbox
 */
$checkbox-inner-border := 2px solid #fff
$checkbox-inner-width := 5px
$checkbox-inner-height := 9px
$checkbox-inner-top := 0 


/**
 * input
 */
$input-font-size := 12px


/**
 * dialog
 */
$dialog-width := 770px
$dialog-padding := 0
$dialog-font-size := 12px
$dialog-title-height := 53px
$dialog-title-font-size := 16px
$dialog-title-border := 1px solid #eaeaea
$dialog-title-color := #666
$dialog-close-top := 10px
$dialog-close-right := -9px
$dialog-close-icon-font-size := 44px
$dialog-body-padding := 20px
$dialog-footer-padding := 15px 0


/**
 * table
 */
$table-th-border-top := 1px solid #ccc
$table-thead-bg-color := $bg-color
$table-th-padding := 8px 5px 8px 12px
$table-thead-font-size := 12px
$table-th-font-weight := bold
$table-thead-color := #808080
$table-tr-hover-bg-color := #fcfcfc
$table-border-thead-bg-color := $table-thead-bg-color
$table-fixed-margin-top := -33px
$table-check-width := 40px

/**
 * slider
 */
$slider-height := 20px
$slider-bg-color := #ededed
$slider-border-radius := 0
$slider-bar-color := #94cdf9
$slider-button-height := 26px
$slider-button-width := 16px
$slider-button-border := none
$slider-button-bg-color := $primary-color
$slider-button-border-radius := 0
$slider-button-hover-transform := none
$slider-button-hover-bg-color := $primary-color
$slider-button-disabled-bg-color := $disabled-bg-color


/**
 * message
 */
$message-content-padding := 8px 48px 8px 15px
$message-close-font-size := 26px


/**
 * tooltip
 */
$tooltip-color := $text-color


/**
 * pagination
 */
$pagination-page-border-radius := 0
$pagination-page-hover-border-color := #595959
$pagination-page-hover-color := inherit
$pagination-page-active-bg-color := #595959
$pagination-page-active-border-color := #595959
$pagination-small-page-height := 31px
$pagination-small-page-width := 33px
$pagination-small-page-margin-right := -1px

$pagination-page-margin-right := -1px
$pagination-page-width := 38px
$pagination-mini-page-margin-right := -1px
$pagination-mini-page-width := 28px


/**
 * steps
 */
$steps-main-title-font-weight := normal
$steps-main-color := $text-color
$steps-tail-bg-color := transparent
$steps-done-tail-bg-color := transparent
$steps-active-head-inner-border-color := $warning-color
$steps-active-head-inner-bg-color := $warning-color


/**
 * tabs
 */
$tabs-height := 34px
$tabs-padding := 0
$tabs-margin := 0
$tabs-active-color := $text-color
$tabs-highlight-bg-color := #fff
$tabs-highlight-margin-left := 0

/**
 * breadcrumb
 */
$breadcrumb-color := #898989
$breadcrumb-hover-color := $$breadcrumb-color

@require('../default.styl')
