// $theme-dir := '../../styles/themes/ksyun'
use('../../functions.js')
$theme-dir := __dirname()

// we must require other file after defined $theme-dir
// otherwise, the __dirname may be weird
@require('../../mixin.styl')

$primary-color := #0091ea
$warning-color := #ffad33
$danger-color := #ff4133
$success-color := #36b342
$disabled-color := #ccc
$disabled-bg-color := #f2f2f2
$disabled-border-color := #ccc
$text-color := #404040
$ghost-text-color := #737373
$border-color := #ccc
$bg-color := #f1f1f5
$title-color := #262626
$dark-border-color := #999
$placeholder-color := #b2b2b2

$box-shadow := 0 0 4px 0 rgba(0, 0, 0, .3)


/**
 * size
 */
$large-height := 40
$large-font-size := 14px
$large-padding := 24
$default-height := 32 
$default-font-size := 12px
$default-padding := 16
$small-height := 24 
$small-font-size := 12px
$small-padding := 8
$mini-height := 16 
$mini-font-size := 12px
$mini-padding := 8

// the gutter between icon and text
$icon-text-gutter := 8

/**
 * btn
 */
$btn-color := $ghost-text-color 
// type
$btn-primary-border-color := palette($primary-color, 1) 
$btn-warning-border-color := palette($warning-color, 1)
$btn-danger-border-color := palette($danger-color, 1)
$btn-success-border-color := palette($success-color, 1)
$btn-active-color := $primary-color
$btn-active-border-color := $primary-color
$btn-active-bg-color := palette($primary-color, -4)


/**
 * radio
 */
$radio-width := 14px
$radio-inner-width := 8px
$radio-disabled-inner-color := $disabled-border-color


/**
 * checkbox
 */
$checkbox-inner-border := 1px solid #fff
$checkbox-inner-width := 5px
$checkbox-inner-height := 10px
$checkbox-inner-top := -1px 
$checkbox-disabled-inner-color := $disabled-border-color

/**
 * switch
 */
$switch-bg-color := #fff
$switch-checked-bg-color := #fff
$switch-color := $text-color
$switch-handle-bg-color := $border-color
$switch-default-padding := 4px
$switch-small-padding := 2px
// disabled
$switch-disabled-bg-color := $disabled-bg-color


/**
 * input
 */
$input-padding-left-right := unit($default-padding, px)
$input-group-bg-color := $bg-color
$input-group-padding-horizontal := unit(16 / 14, em)
$input-large-padding-left-right := unit($large-padding, px)
$input-small-padding-left-right := unit($small-padding, px)
$input-mini-padding-left-right := unit($mini-padding, px)


/**
 * select
 */
$select-width := 300px
$select-icon-width := 13px

$select-padding-left := unit($default-padding, px)
$select-large-padding-left := unit($large-padding, px)
$select-small-padding-left := unit($small-padding, px)
$select-mini-padding-left := unit($mini-padding, px)

$select-multiple-values-margin := 4px
$select-multiple-tag-padding := 3px 8px 4px 8px
$select-multiple-tag-margin := 0 8px 3px 0
$select-multiple-tag-delete-icon-margin-left := 8px 
$select-multiple-tag-bg-color := $bg-color
$select-multiple-tag-delete-icon-font-size := 14px
$select-large-font-size := 14px

$select-group-label-color := $placeholder-color
$select-group-label-padding := 10px 16px



/**
 * dialog
 */
$dialog-padding := 0
$dialog-font-size := 12px
$dialog-title-height := 61px
$dialog-title-font-size := 16px
$dialog-title-border := 1px solid #eaeaea
$dialog-close-top := 16px
$dialog-close-right := -9px
$dialog-close-icon-font-size := 44px
$dialog-body-padding := 20px
$dialog-footer-padding := 20px 0


/**
 * table
 */
$table-border-color := $border-color
$table-thead-bg-color := $bg-color
$table-th-padding := 0 5px 0 12px
$table-thead-font-size := 12px
$table-th-font-weight := bold
$table-thead-color := #3b3b3b
$table-tr-hover-bg-color := $bg-color
$table-border-thead-bg-color := $table-thead-bg-color
$table-fixed-margin-top := -33px
$table-check-width := 40px

/**
 * slider
 */
$slider-height := 4px
$slider-bg-color := #e5e5e5
$slider-border-radius := 0
$slider-handle-height := 12px
$slider-handle-width := 12px
$slider-handle-hover-bg-color := #fff
$slider-spinner-width := 124px
$slider-box-padding := 10px 0 0


/**
 * message
 */
$message-bg-color := $bg-color
$message-box-shadow := none
$message-content-padding := 9px 33px 10px 8px
$message-close-font-size := 26px
$message-icon-color := inherit
$message-icon-font-size := 16px


/**
 * tooltip
 */
$tooltip-padding := 8px 12px
$tooltip-color := $text-color
$tooltip-arrow-border-color := rgba(191, 191, 191, .5)


/**
 * pagination
 */
$pagination-btn-border-radius := 0
$pagination-gutter := 16px
$pagination-btn-margin-right := 6px
$pagination-large-btn-margin-right := 8px
$pagination-small-btn-margin-right := 4px
$pagination-mini-btn-margin-right := 2px


/**
 * steps
 */
$steps-bg-color := $bg-color
$steps-head-color := inherit
$steps-head-inner-border := 1px solid $placeholder-color
$steps-head-inner-width := 16px
$steps-main-title-font-weight := normal
$steps-main-color := $text-color
$steps-done-head-color := #fff
$steps-active-head-inner-border-color := $warning-color
$steps-active-head-inner-bg-color := $warning-color
$steps-line-tail-bg-color := $placeholder-color


/**
 * tabs
 */
// $tabs-height := unit($default-height, px)
// $tabs-padding := 0 16px
// $tabs-vertical-padding := $tabs-padding
// $tabs-border-bottom := 1px solid $disabled-border-color
// $tabs-height := 50px
// $tabs-padding := 0 37px 
// $tabs-margin := 0
// $tabs-highlight-bg-color := #fff


/**
 * breadcrumb
 */
$breadcrumb-active-font-weight := normal
$breadcrumb-separator-margin := 0 6px


/**
 * transfer
 */
// $transfer-panel-border := 1px solid $disabled-border-color
// $transfer-panel-width := 200px
// $transfer-arrow-margin := 16px 30px


/**
 * dropdown
 */
$dropdown-item-hover-bg-color := $bg-color
$dropdown-item-hover-color := inherit 


/**
 * progress
 */


@require('../default.styl')
