.k-pagination
    .k-btns
        .k-ellipsis
            background-color transparent
            border none
        .ion-ios-arrow-left:before
            content "\f361"
            font-size 22px
        .ion-ios-arrow-right:before
            content "\f363"
            font-size 22px
    &.k-mini
        .k-btns
            .ion-ios-arrow-left:before
            .ion-ios-arrow-right:before
                font-size 18px
    .k-btn.k-active
        color $primary-color
        border-color $primary-color
        background-color lighten($primary-color, 85%)
    &.k-large
        .k-btn > span
            line-height unit($large-height, px)

