.k-pagination
    .k-btns
        .k-ellipsis
            background-color transparent
            border none
        .k-icon
            font-size 18px
    &.k-small
        .k-btns
            .k-icon
                font-size 16px
    &.k-mini
        .k-btns
            .k-icon
                font-size 14px
    .k-btn > span
        line-height 1
