.k-select
    .k-wrapper
        border-radius $border-radius
    .k-arrow:before
        content "\F3D0"
    .k-tag
        .k-icon
            line-height 14px
            color $placeholder-color
            &:before
                content "\f406"
.k-select-dropdown
    .k-group
        > .k-item
            padding 0 32px
    &.k-card
        .k-group 
            > .k-item
                padding 0 16px

