.k-select
    .k-wrapper
        border-radius $border-radius
    .k-arrow:before
        content "\F3D0"
    .k-tag
        .k-icon
            line-height 14px
            color $placeholder-color
            &:before
                content "\f406"
