.k-slider
    .k-button-wrapper
        .k-button
            &:before
                content ''
                display inline-block
                border-width 0 2px
                border-color #fff
                width 6px
                height 12px
                border-style solid
                margin-top 7px
    &.k-disabled
        .k-button
            background-color $disabled-bg-color
