.k-spinner
    .k-input
        .k-inner
            border-radius 0
    &.k-vertical
        .k-input
            .k-inner
                border-radius $border-radius 0 0 $border-radius
        .k-right
            border-radius 0 $border-radius 0 0
        .k-left
            border-radius 0 0 $border-radius 0
