.k-spinner
    .k-btn:not([disabled])
        background-color #fafafa
    .k-btn[disabled]
    &.k-disabled .k-inner
        background-color #fafafa
        border-color #e7e7e7
        color #dedede

