.k-steps
    display block
    font-size 12px
    .k-step
        display block
        text-align center
        height unit($default-height, px)
        line-height @height
        background $bg-color
    .k-head
    .k-main
        float none
        display inline-block
        .k-content
            margin 0
            display inline-block
    .k-tail
        top 0
        left auto
        right -20px
        width 28px
        height unit($default-height, px)
        overflow hidden
        z-index 1
        &:after, &:before
            content ''
            border-width 24px
            border-style solid
            border-color transparent
            position absolute
            top -8px 
        &:after
            border-left-color $bg-color
            left -8px 
        &:before
            border-left-color #fff
            left 0 
    .k-head
        .k-inner
            display inline-block
            vertical-align middle
            margin-top -1px

    .k-done
        .k-inner
            background $primary-color
        .k-main
            color $primary-color
