.k-steps
    font-size 12px
    &.k-default
        .k-done
            .k-main
                color $primary-color
    &.k-line
        .k-head
        .k-main
            float none
        .k-head
            display flex
            padding 0
            .k-inner
                width 32px
                height 32px
                line-height 30px
                font-size 18px
            &:before
            &:after
                content ''
                display block
                flex 1
                height 1px
                background $placeholder-color
                top 16px
                position relative
        .k-step:first-of-type .k-head:before
        .k-step:last-of-type .k-head:after
            background transparent
        .k-done
            .k-head
                &:before
                &:after
                    background $primary-color
        .k-active
            .k-head
                &:before
                    background $primary-color
        .k-icon:before
            line-height 30px
        .k-title
            font-size 14px
            padding 0
            margin-top 16px
        .k-wrapper
            display inline-block !important
            text-align center
        .k-tail
            right 0
            top 16px
    // simple style
    &.k-simple
        font-size 14px

