.k-table
    .k-sort
        position relative
        .k-icon
            &:before
            &:after
                content ''
                border 4px solid transparent
                position absolute
                left 2px
            &:before
                top 1px
                border-color #a6a6a6 transparent
                border-top-width 0
            &:after
                bottom 1px
                border-color #a6a6a6 transparent
                border-bottom-width 0
        .icon-asc
            &:after
                border-color #ddd transparent
        .icon-desc
            &:before
                border-color #ddd transparent
