.k-tabs
    font-size 12px
    .k-tab
        width 124px
        border solid $border-color 
        border-width 1px 1px 0 0
        background #fafafa
        &:first-of-type
            border-left 1px solid transparent
        &.k-active
            background #fff
            &:before
                content ''
                display block
                position absolute
                left -1px 
                right -1px
                top -1px
                border-top 2px solid $danger-color
