.k-tabs
    font-size 14px 
    .k-tab
        min-width 150px
        border solid $disabled-border-color 
        border-width 1px 1px 0 0
        background $bg-color
        &:hover
            color $primary-color
        &:first-of-type
            border-left 1px solid transparent
        &.k-active
            background #fff
            &:before
                content ''
                display block
                position absolute
                left -1px 
                right -1px
                top -1px
                border-top 4px solid $primary-color
