@import '../../styles/variables';
// @import '../../node_modules/highlight.js/styles/default.css';

$aside-width = 300px

.document-page
    box-sizing border-box
    background #efefef
    .content-wrapper.fixed
        margin-bottom 0
        .aside-wrapper
            position fixed
            top headerHeight 
            background #fff
            height "calc(100% - %s)" % headerHeight
            overflow auto
            box-sizing border-box
            width $aside-width
    .content-wrapper
        width 100%
        display flex
        background #fff
        margin 0 auto
        border-radius 5px
        box-shadow 0 1px 1px rgba(0, 0, 0, .08)
        min-height calc(100vh - 15px)
        aside
            width $aside-width
            border-right 1px solid #eee
        .aside-wrapper
            position relative
            .catalog-section
                margin-top 25px
            h5
                font-size 16px
                margin 0 0 15px 20px
                color #999
            ul
                list-style none
                margin 0
                padding 0
            a
                display block
                height 30px
                line-height 30px
                padding-left 25px
                color #333
                &:hover
                    background #f3f3f3
                span
                    margin-left 5px
                    color #666
                    font-size 12px
            .active 
                & > a, & span
                    color linkColor !important
                    // border-right 2px solid linkColor
                        
            .sub-catalogs
                margin-left 10px
                font-size 12px
            .aside-border
                border-right 2px solid linkColor
                position absolute
                right 0
                top 0
                height 30px
        article
            flex 1
            padding 10px 20px
            overflow auto
        .article-head
            // border-bottom 1px solid #eee
            .title 
                padding 10px 0
                font-size 2.2em
                // font-weight bold
                color #000
                display inline-block
            .edit-link
                display inline-block
                margin-left 20px
                color #999
                font-style italic
        article
            h1
                padding 10px 0
                border-bottom 1px solid #eee
                margin 20px 0
            h2, h3
                padding 10px 0
                margin 15px 0
            p
                line-height 25px

            .output
                padding 20px
                border 1px solid #eee
                margin 20px 0
    .api
        .k-table-wrapper
            thead
                th:first-of-type
                    width 150px
                th:nth-child(2)
                    width 50%

    .example
        border 1px solid #eee
        padding 0 20px 20px 20px
        margin-bottom 20px
    .example-opera
        padding 30px 0
    .example-desc
        padding 15px 5px
        border-bottom 1px solid #eee
        border-top 1px solid #eee
        position relative
        .title
            position absolute
            top -9px
            left 15px
            background #fff
            padding 0 10px
    .example-code
        code
            border none
            border-radius 0
    ol
        list-style decimal
        padding-left 40px
        margin 14px 0
        li
            list-style decimal
            margin 5px 0
