@require('../../styles/themes/default.styl')
@require('../../styles/mixin.styl')

$tag-color := inherit
$tag-border-color := $border-color
$tag-font-size := $default-font-size
$tag-padding := unit(9 / 14, rem) unit($default-padding / 14, rem)
$tag-closable-padding-right := unit(32 / 14, rem)
$tag-close-icon-font-size := unit(26/ 14, rem)

// type
for type in primary success warning danger
    if !lookup('$tag-' + type + '-color')
        define('$tag-' + type + '-color', lookup('$' + type + '-color'))
    if !lookup('$tag-' + type + '-border-color')
        define('$tag-' + type + '-border-color', lookup('$tag-' + type + '-color'))
    if !lookup('$tag-' + type + '-bg-color')
        define('$tag-' + type + '-bg-color', palette(lookup('$tag-' + type + '-color'), -4))

// disabled
$tag-disabled-color := $disabled-color
$tag-disabled-border-color := $disabled-border-color
$tag-disabled-bg-color := $disabled-bg-color

// size
$tag-large-padding := unit(10 / 14, rem) unit($large-padding / 14, rem)
$tag-large-font-size := $large-font-size
$tag-large-closable-padding-right := unit(($large-height - 4) / 14, rem)
$tag-small-padding := unit(8 / 14, rem) unit($small-padding / 14, rem)
$tag-small-font-size := $small-font-size
$tag-small-closable-padding-right := unit(($small-height - 4) / 14, rem)
$tag-mini-padding := unit(6 / 14, rem) unit($mini-padding / 14, rem)
$tag-mini-font-size := $mini-font-size
$tag-mini-closable-padding-right := unit(($mini-height - 4) / 14, rem)
