@keyframes rotate
    0%
        transform-origin 50% 50%
        transform rotate(0)
    100%
        transform-origin 50% 50%
        transform rotate(360deg)

$origins = {
    down: center top 0,
    up: center bottom 0,
    left: right center 0,
    right: left center 0
}
for type, value in $origins
    .slide{type}-enter
    .slide{type}-leave
    .slide{type}-appear
        transform-origin value 
        opacity 0
        if type == down || type == up
            transform scaleY(.8)
        else
            transform scaleX(.8)
    .slide{type}-enter-active
    .slide{type}-leave-active
    .slide{type}-appear-active
        transform-origin value 
        transition opacity $transition, transform $transition

.fade-enter
.fade-leave
    opacity 0
.fade-enter-active
.fade-leave-active
    transition opacity $transition 
.fade-move
    transition transform $transition

.expand-enter
.expand-leave
    height 0 !important
    opacity 0
.expand-enter-active
.expand-leave-active
    transition all $transition
    overflow hidden
