.c-ellipsis
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

.c-clearfix
    clearfix()

.c-input
    display inline-block
    width 100%
    font-size $input-font-size
    height $input-height
    border $input-border 
    padding $input-padding
    background-color $input-bg-color 
    transition border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out
    &:focus
        border $input-focus-border
     
