.c-ellipsis
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

.c-clearfix
    clearfix()

.c-middle
    display inline-block
    vertical-align middle
.c-center
    text-align center
.c-hidden
    display none
