@require('../../styles/themes/default.styl')

$icon-font-size := unit(16 / $rem, rem)
$icon-large-font-size := unit(22 / $rem, rem)
$icon-small-font-size := unit(14 / $rem, rem)
$icon-mini-font-size := unit(12 / $rem, rem)
