@require('../../styles/themes/default.styl')

$icon-font-size := unit(16 / 14, rem)
$icon-large-font-size := unit(22 / 14, rem)
$icon-small-font-size := unit(14 / 14, rem)
$icon-mini-font-size := unit(12 / 14, rem)
