@require('../../styles/themes/default.styl')

$menu-width := unit(200 / $rem, rem)
$menu-font-size := unit(14 / $rem, rem)
$menu-bg-color := #262626
$menu-item-height := unit(40 / $rem, rem)
$menu-item-padding := 0 unit(21 / $rem, rem)
$menu-item-padding-left := unit(46 / $rem, rem)
// $menu-item-padding := 0 unit(21 / $rem, rem) 0 unit(46 / $rem, rem)
$menu-item-color := #b2b2b2
$menu-item-hover-color := #fff
$menu-item-disabled-color := $text-color
$menu-item-icon-margin-right := unit(11 / $rem, rem)
$menu-item-icon-min-width := unit(14 / $rem, rem)
$menu-item-arrow-margin-left := unit(8 / $rem, rem)
$menu-item-icon-width := unit(36 / $rem, rem)
$menu-item-icon-left := unit(10 / $rem, rem)

// dot
$menu-item-dot-font-size := unit(12 / $rem, rem)

// header
$menu-header-height := unit(50 / $rem, rem)
$menu-header-font-size := unit(14 / $rem, rem)
$menu-header-padding := $menu-item-padding
// $menu-header-padding := 0 unit(21 / $rem, rem) 0 unit(46 / $rem, rem)
$menu-header-border-bottom := 1px solid #1b1b1d

// sub-menu
$menu-sub-bg-color := #000

// collapse
$menu-collapsed-width := $menu-item-icon-left * 2 + $menu-item-icon-width

// light theme
$menu-light-bg-color := #e5e5e9
$menu-light-item-color := $text-color
$menu-light-item-hover-color := $primary-color
$menu-light-item-disabled-color := $disabled-color
$menu-light-sub-bg-color := #d5d5d9
$menu-light-header-border-bottom := 1px solid #d5d5d9

// dropdown
$menu-dropdown-min-width := unit(150 / $rem, rem)

// size
$menu-large-width := unit(250 / $rem, rem)
$menu-large-item-height := $menu-item-height // unit($large-height / $rem, rem)
$menu-large-item-padding := $menu-item-padding // 0 unit($large-padding / $rem, rem)

$menu-small-width := unit(180 / $rem, rem)
$menu-small-item-height := $menu-item-height // unit($small-height / $rem, rem)
$menu-small-item-padding := $menu-item-padding // 0 unit($small-padding / $rem, rem)
$menu-small-font-size := $small-font-size 
