@require('../../styles/themes/default.styl')

$menu-width := unit(200 / 14, rem)
$menu-bg-color := #000
$menu-item-height := unit($default-height / 14, rem)
$menu-item-padding := 0 unit($default-padding / 14, rem)
$menu-item-color := #b2b2b2
$menu-item-hover-color := #fff
$menu-item-disabled-color := $text-color
$menu-item-icon-margin-right := unit(8 / 14, rem)
$menu-item-icon-min-width := unit(14 / 14, rem)
$menu-item-arrow-margin-left := unit(8 / 14, rem)

// sub-menu
$menu-sub-bg-color := #1E1E20

// light theme
$menu-light-bg-color := #fff
$menu-light-item-color := $text-color
$menu-light-item-hover-color := $primary-color
$menu-light-item-disabled-color := $disabled-color
$menu-light-sub-bg-color := $bg-color

// dropdown
$menu-dropdown-min-width := unit(150 / 14, rem)

// size
$menu-large-width := unit(250 / 14, rem)
$menu-large-item-height := unit($large-height / 14, rem)
$menu-large-item-padding := 0 unit($large-padding / 14, rem)

$menu-small-width := unit(160 / 14, rem)
$menu-small-item-height := unit($small-height / 14, rem)
$menu-small-item-padding := 0 unit($small-padding / 14, rem)
$menu-small-font-size := $small-font-size 
